Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: buildifier
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: buildifier-lint
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: clang-format
    name: clang-format
    entry: clang-format -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: keep-sorted
    name: keep-sorted
    entry: keep-sorted
    language: system
  - id: make-lint
    name: make-lint
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
    #  - id: markdown-format
    #    name: markdown-format
    #    entry: markdownfmt
    #    language: system
    #    types_or: [markdown]
    #    args: ["-w"]
  - id: no-binary
    name: no-binary
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: shell-format
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: shell-no-extension
    entry: "Shell executable scripts should not have an extension"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: txtpb-format
    entry: txtpbfmt
    language: system
    types: [textproto]
  - id: yaml-format
    name: yaml-format
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

List commands with iq -h
  iq/cmd/iq/main.go
Due: none

Write iq/registry as a single buffer
  iq/registry/registry.go
Due: none

Skip colons in txtpbformat pre-commit
  .pre-commit-config.yaml
Due: yaml-format

Format iq/registry with txtpbformat before write
  go.mod
  go.sum
  iq/registry/registry.go
  iq/registry/testdata/registry_one_question.txtpb
  iq/registry/testdata/registry_one_question_with_header.txtpb
Due: none

Store iq/registry header in []byte instead of string
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Find local maxima in go
  iq/32/README.md
  iq/32/maxima/find.go
  iq/32/maxima/find_test.go
  iq/registry/questions.txtpb
Due: none

Add help message for iq create command
  iq/cmd/iq/main.go
Due: none

Wegihted random number generator with binary search in go
  iq/33/README.md
  iq/33/random/int_weighted.go
  iq/33/random/int_weighted_test.go
  iq/registry/questions.txtpb
Due: none

Move pair sum problem under iq/1
  iq/1/twosum/BUILD
  iq/1/twosum/README.md
  iq/1/twosum/solution.cc
  iq/1/twosum/solution.go
  iq/1/twosum/solution.h
  iq/1/twosum/solution.md
  iq/1/twosum/solution_example_test.go
  iq/1/twosum/solution_test.cc
  iq/1/twosum/solution_test.go
  iq/twopointer/twosum/README.md
  iq/twopointer/twosum/solution.h
  iq/twopointer/twosum/solution.md
Due: clang-format

Move palindrome with two pointers iq to iq/3
  iq/3/palindrome/BUILD
  iq/3/palindrome/README.md
  iq/3/palindrome/solution.cc
  iq/3/palindrome/solution.go
  iq/3/palindrome/solution.h
  iq/3/palindrome/solution.md
  iq/3/palindrome/solution_example_test.go
  iq/3/palindrome/solution_test.cc
  iq/3/palindrome/solution_test.go
  iq/twopointer/palindrome/README.md
  iq/twopointer/palindrome/solution.h
  iq/twopointer/palindrome/solution.md
Due: clang-format

Move shift zeros to iq/5
  iq/5/shiftzeros/BUILD
  iq/5/shiftzeros/README.md
  iq/5/shiftzeros/solution.cc
  iq/5/shiftzeros/solution.go
  iq/5/shiftzeros/solution.h
  iq/5/shiftzeros/solution.md
  iq/5/shiftzeros/solution_test.cc
  iq/5/shiftzeros/solution_test.go
  iq/5/shiftzeros/solutions_example_test.go
  iq/twopointer/shiftzeros/README.md
  iq/twopointer/shiftzeros/solution.h
  iq/twopointer/shiftzeros/solution.md
Due: clang-format

Move lexicographical sequence to iq/6
  iq/6/lexiseq/BUILD
  iq/6/lexiseq/README.md
  iq/6/lexiseq/solution.cc
  iq/6/lexiseq/solution.go
  iq/6/lexiseq/solution.h
  iq/6/lexiseq/solution.md
  iq/6/lexiseq/solution_example_test.go
  iq/6/lexiseq/solution_test.cc
  iq/6/lexiseq/solution_test.go
  iq/twopointer/lexiseq/README.md
  iq/twopointer/lexiseq/solution.h
  iq/twopointer/lexiseq/solution.md
Due: clang-format

Move threesum to iq/2
  iq/2/threesum/BUILD
  iq/2/threesum/README.md
  iq/2/threesum/solution.cc
  iq/2/threesum/solution.go
  iq/2/threesum/solution.h
  iq/2/threesum/solution.md
  iq/2/threesum/solution_example_test.go
  iq/2/threesum/solution_test.cc
  iq/2/threesum/solution_test.go
  iq/twopointer/threesum/README.md
  iq/twopointer/threesum/solution.h
  iq/twopointer/threesum/solution.md
Due: clang-format

Move largest container to iq/4
  iq/4/container/BUILD
  iq/4/container/README.md
  iq/4/container/solution.cc
  iq/4/container/solution.go
  iq/4/container/solution.h
  iq/4/container/solution.md
  iq/4/container/solution_example_test.go
  iq/4/container/solution_test.cc
  iq/4/container/solution_test.go
  iq/twopointer/container/README.md
  iq/twopointer/container/solution.h
  iq/twopointer/container/solution.md
Due: clang-format

Trigger Bazel CI for iq only for C++ changes and BUILD
  .github/workflows/iq_bazel.yml
Due: yaml-format

Iq registry takes header option as bytes
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Avoid a new buffer to store header.
  iq/registry/registry.go
Due: none

Remove format function from iq/registry
  iq/registry/registry.go
Due: none

Index question by id and tags in iq/registry
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Iq info command cam print questions by tag
  iq/cmd/iq/main.go
  iq/info/info.go
  iq/info/info_example_test.go
Due: none

Add validate parenthesis expression in go
  iq/34/README.md
  iq/34/parenthesis/validator.go
  iq/34/parenthesis/validator_test.go
  iq/registry/questions.txtpb
Due: none

Fix binary search tag in iq/registry
  iq/registry/questions.txtpb
Due: none

Rename iq/registry getters to reflect by id and by tag
  iq/info/info.go
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Return a list of tags from iq/registry
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

List iq tags with iq info -tt
  iq/info/info.go
  iq/info/info_example_test.go
Due: none

Build a list of next largest number in go
  iq/35/README.md
  iq/35/largest/find.go
  iq/35/largest/find_test.go
  iq/registry/questions.txtpb
Due: none

Add float64 comparer for go-cmp
  go/tests/cmp.go
  go/tests/cmp_test.go
Due: none

Evaluate calculator expresions in go
  iq/36/README.md
  iq/36/calc/eval.go
  iq/36/calc/eval_test.go
  iq/registry/questions.txtpb
Due: none

Remove adjacent duplicates from a string in go
  iq/37/README.md
  iq/37/dups/remove.go
  iq/37/dups/remove_test.go
  iq/registry/questions.txtpb
Due: none

Add root path to iq/ questions
  iq/pb/question.pb.go
  iq/pb/question.proto
  iq/registry/registry.go
  iq/registry/registry_test.go
  iq/registry/testdata/registry_with_root_path.txtpb
Due: none

Fix iq questions header in txtpb
  iq/registry/questions.txtpb
Due: none

Initializer iq path on create a new question
  iq/create/run.go
  iq/registry/questions.txtpb
Due: none

Write QuestionSet.root_path in iq/registry
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Remove adjacent duplicate pairs from a string [go]
  iq/38/README.md
  iq/38/dups/remove.go
  iq/38/dups/remove_test.go
  iq/registry/questions.txtpb
Due: none

Implement queue with stacks in go
  iq/39/README.md
  iq/39/queue/queue.go
  iq/39/queue/queue_test.go
  iq/registry/questions.txtpb
Due: none

Max in a sliding window in go
  iq/40/README.md
  iq/40/window/window.go
  iq/40/window/window_test.go
  iq/registry/questions.txtpb
Due: none

Move string anagram into iq/21
  iq/21/anagram/README.md
  iq/21/anagram/find_all.go
  iq/21/anagram/find_all_example_test.go
  iq/21/anagram/find_all_test.go
  iq/21/anagram/solution.md
Due: none

Move reverse a singly linked list to iq/12
  iq/12/reverse/BUILD
  iq/12/reverse/README.md
  iq/12/reverse/reverse.cc
  iq/12/reverse/reverse.go
  iq/12/reverse/reverse.h
  iq/12/reverse/reverse_example_test.go
  iq/12/reverse/reverse_test.cc
  iq/12/reverse/reverse_test.go
  iq/12/reverse/solution.md
  iq/list/singly/reverse/README.md
  iq/list/singly/reverse/reverse.h
  iq/list/singly/reverse/solution.md
Due: clang-format

Move remove last nth from a singly linked list to iq/13
  iq/13/remove/BUILD
  iq/13/remove/README.md
  iq/13/remove/last_nth.cc
  iq/13/remove/last_nth.go
  iq/13/remove/last_nth.h
  iq/13/remove/last_nth_example_test.go
  iq/13/remove/last_nth_test.cc
  iq/13/remove/last_nth_test.go
  iq/13/remove/solution.md
  iq/list/singly/remove/README.md
  iq/list/singly/remove/solution.md
Due: clang-format

Move intersection of singly linked lists to iq/14
  iq/14/intersection/BUILD
  iq/14/intersection/README.md
  iq/14/intersection/find.cc
  iq/14/intersection/find.go
  iq/14/intersection/find.h
  iq/14/intersection/find_example_test.go
  iq/14/intersection/find_test.cc
  iq/14/intersection/find_test.go
  iq/14/intersection/solution.md
  iq/list/singly/intersection/README.md
  iq/list/singly/intersection/find.h
  iq/list/singly/intersection/solution.md
Due: clang-format
