Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

infra: install rust with Ansible
  home/pkg/packages.txt
  home/rust/packages.txt
  infra/ansible/playbooks/vars/dev.yml
Due: check-license, check-todo, typos, yaml-format

infra: install libexecinfo for protols cargo
  home/pkg/packages.txt
  infra/ansible/playbooks/vars/dev.yml
Due: check-license, check-todo, typos, yaml-format

home: pick up go-command without tcsh environment
  home/go/bin/Makefile
Due: check-license, check-todo, typos

home/go/bin: fix package flags extractor in the makefile
  home/go/bin/Makefile
Due: check-license, check-todo, typos

home: pick up go from non-stardard prefix
  home/go/bin/Makefile
Due: check-license, check-todo, typos

home: setup pre-commit with make
  home/Makefile
Due: check-license, check-todo, typos

infra: install pre-commit and bash in devenv
  home/pkg/packages.txt
  infra/ansible/playbooks/vars/dev.yml
Due: check-license, check-todo, typos, yaml-format

home: include ~/npm/node_modules/.bin in user path
  home/tcshrc.d/npm.tcsh
Due: check-license, check-todo, typos

infra: install Lua linter and HTML formatter for pre-commit
  home/pkg/packages.txt
  infra/ansible/playbooks/vars/dev.yml
Due: check-license, check-todo, typos, yaml-format

infra: install Protobuf LSP, JSON formatter, and Python LSP
  home/pkg/packages.txt
  infra/ansible/playbooks/vars/dev.yml
Due: check-license, check-todo, typos, yaml-format

infra: create an empty pkg jail
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/inventory/lab.yaml
  infra/ansible/nuc_jails.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/0.0.10.in-addr.arpa
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
Due: check-license, check-todo, typos, yaml-format

infra: move shared local_unbound config to group_vars
  infra/ansible/inventory/group_vars/all.yml
  infra/ansible/inventory/host_vars/bsd.lab.net.yml
  infra/ansible/inventory/host_vars/dns.lab.net.yml
  infra/ansible/inventory/host_vars/ldap.lab.net/main.yml
  infra/ansible/inventory/host_vars/nuc.lab.net.yml
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/inventory/host_vars/ssl.lab.net.yml
Due: check-license, check-todo, typos, yaml-format

infra: include ssl jail in local authoritative DNS
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/0.0.10.in-addr.arpa
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
Due: check-license, check-todo, typos, yaml-format

infra: enable nginx in pkg jails
  .pre-commit-config.yaml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/local_pkg/defaults/main.yml
  infra/ansible/roles/local_pkg/handlers/main.yml
  infra/ansible/roles/local_pkg/tasks/main.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.diff.j2
Due: check-license, check-todo, typos, yaml-format

infra: fix doc for openssl_gen private key variable
  infra/ansible/roles/openssl_gen/defaults/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: make yml lines under 80 chars long in openssl roles
  infra/ansible/roles/openssl_ca/tasks/sign_csr.yml
  infra/ansible/roles/openssl_gen/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: re-generate LDAP certificate
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/roles/openssl_ca/tasks/sign_csr.yml
Due: check-license, check-todo, typos, yaml-format

infra: validate TLS in local-unbound for local DNS resolutions
  infra/ansible/roles/local_unbound/templates/var/unbound/unbound.conf.j2
Due: check-license, check-todo, typos

infra: install bind-tools for dig(1) on every VM
  infra/ansible/inventory/group_vars/all.yml
Due: check-license, check-todo, typos, yaml-format

infra: replace nginx.conf diff with actual confit in local_pkg
  infra/ansible/roles/local_pkg/tasks/main.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.diff.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos, yaml-format

check-license: support Jinja2 files
  check/cmd/check-license/internal/fix/run.go
  check/cmd/check-license/internal/fix/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go: add staticcheck to tool deps
  go.mod
  go.sum
Due: check-license, check-todo, typos

roles/local_pkg: rotate nginx logs
  infra/ansible/roles/local_pkg/files/usr/local/etc/newsyslog.conf.d/nginx.conf
  infra/ansible/roles/local_pkg/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: configure caching DNS with pkg jail
  infra/ansible/playbooks/jail_pkg.yml
Due: check-license, check-todo, typos, yaml-format

infra: fix caching DNS setup in pkg jail
  infra/ansible/playbooks/jail_pkg.yml
Due: check-license, check-todo, typos, yaml-format

roles/local_pkg: setup nginx caching proxy for pkg
  infra/ansible/roles/local_pkg/tasks/main.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos, yaml-format

roles/bind: add SRV DNS record for local pkg server
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
Due: check-license, check-todo, typos

roles/local_pkg: write temp files into cache folder
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: conditional cache get by first requestor
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: use two level cache for performance
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: keep pkg items for 14 days in the cache
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: cached packages are valid for 7 days
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: let pkg(8) cache lock to work for 30s
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: rewrite cached pkg urls
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
Due: check-license, check-todo, typos

roles/local_pkg: add a task to configure repositories
  infra/ansible/inventory/group_vars/all.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/local_pkg/defaults/main.yml
  infra/ansible/roles/local_pkg/tasks/configure_repos.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-ports.conf.j2
Due: check-license, check-todo, typos, yaml-format

roles/local_pkg: add kernel modules and base repos
  infra/ansible/roles/local_pkg/tasks/_configure_repo.yml
  infra/ansible/roles/local_pkg/tasks/configure_repos.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-base.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-kmods.conf.j2
Due: check-license, check-todo, typos, yaml-format

roles/local_pkg: use pkg+http for local repos
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-base.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-kmods.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-ports.conf.j2
Due: check-license, check-todo, typos

infra: allow chflags in all VMs
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
Due: check-license, check-todo, typos, yaml-format

infra: use local pkg server
  infra/ansible/nuc.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_ssl.yml
Due: check-license, check-todo, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
