Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

nvim: switch Protobuf LSP from protols to buf-lsp
  buf.yaml
  home/nvim/after/lsp/protols.lua
  home/nvim/lua/config/lsp.lua
  home/pkg/packages.txt
Due: check-license, check-todo, typos, yaml-format

irex: add irex command with help
  book/irex/cmd/irex/main.go
  book/irex/pb/gen.go
  book/irex/pb/market.pb.go
  book/irex/pb/market.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: add csvimport to import csv data
  book/irex/csvimport/doc.go
  book/irex/csvimport/parse.go
  book/irex/csvimport/parse_test.go
  book/irex/csvimport/scanner.go
  book/irex/csvimport/scanner_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add dividend column to cvsimport
  book/irex/csvimport/parse.go
  book/irex/csvimport/parse_test.go
  book/irex/csvimport/scanner_test.go
  book/irex/pb/market.pb.go
  book/irex/pb/market.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: test parse cents separately from fields
  book/irex/csvimport/parse.go
  book/irex/csvimport/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: test parse date
  book/irex/csvimport/parse.go
  book/irex/csvimport/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: hide csvimport parser, scanner, expose importer
  book/irex/csvimport/doc.go
  book/irex/csvimport/import.go
  book/irex/csvimport/import_test.go
  book/irex/csvimport/internal/parser/parse.go
  book/irex/csvimport/internal/parser/parse_test.go
  book/irex/csvimport/internal/scanner/scanner.go
  book/irex/csvimport/internal/scanner/scanner_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: run go-generate on .proto buffers
  home/nvim/after/ftplugin/go.lua
  home/nvim/after/ftplugin/proto.lua
  home/nvim/lua/go/generate.lua
Due: check-license, check-todo, typos

irex: add scan lines to csvimport scanner
  book/irex/csvimport/internal/scanner/scanner.go
  book/irex/csvimport/internal/scanner/scanner_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: minimum valid year in csvimport is 1870
  book/irex/csvimport/internal/parser/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: cvsimport can skip headers and limit scanned lines
  book/irex/csvimport/import.go
  book/irex/csvimport/import_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add import command
  book/irex/cmd/irex/cmd_import.go
  book/irex/cmd/irex/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: test that scanner next becomes noop on error
  book/irex/csvimport/internal/scanner/scanner_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: sort by date and validate quotes in import
  book/irex/csvimport/import.go
  book/irex/csvimport/import_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add consumer price index
  book/irex/csvimport/internal/parser/parse.go
  book/irex/csvimport/internal/parser/parse_test.go
  book/irex/csvimport/internal/scanner/scanner_test.go
  book/irex/pb/market.pb.go
  book/irex/pb/market.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: hardcode import sub-command in flag set name
  book/irex/cmd/irex/cmd_import.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: fix tests after added CPI
  book/irex/csvimport/import_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: use superhtml for HTML LSP
  home/nvim/lua/config/lsp.lua
  home/pkg/packages.txt
Due: check-license, check-todo, typos

nvim: use superhtml to format HTML files
  .pre-commit-config.yaml
  home/nvim/after/ftplugin/html.lua
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos, yaml-format

irex: add serve command
  book/irex/cmd/irex/cmd_serve.go
  book/irex/cmd/irex/main.go
  book/irex/finserv/doc.go
  book/irex/finserv/serve_notfound.go
  book/irex/finserv/serve_root.go
  book/irex/finserv/server.go
  book/irex/finserv/static/404/index.html
  book/irex/finserv/static/root/index.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: rename package finserv to serv
  book/irex/cmd/irex/cmd_serve.go
  book/irex/serv/doc.go
  book/irex/serv/serve_notfound.go
  book/irex/serv/serve_root.go
  book/irex/serv/server.go
  book/irex/serv/static/404/index.html
  book/irex/serv/static/root/index.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: test served web pages
  book/irex/serv/internal/serve/doc.go
  book/irex/serv/internal/serve/not_found.go
  book/irex/serv/internal/serve/not_found_test.go
  book/irex/serv/internal/serve/root.go
  book/irex/serv/internal/serve/root_test.go
  book/irex/serv/internal/serve/static/404/index.html
  book/irex/serv/internal/serve/static/root/index.html
  book/irex/serv/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: rename serv package to web
  book/irex/cmd/irex/cmd_serve.go
  book/irex/web/doc.go
  book/irex/web/internal/serve/doc.go
  book/irex/web/internal/serve/not_found.go
  book/irex/web/internal/serve/not_found_test.go
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/root_test.go
  book/irex/web/internal/serve/static/404/index.html
  book/irex/web/internal/serve/static/root/index.html
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

sheet: update wasm HTML with superhtml formatter
  x/sheet/cmd/wasm/index.html
Due: check-license, check-todo, html-format, typos

x/wasm: format HTML with superhtml
  x/wasm/hello/Makefile
  x/wasm/hello/index.html
Due: check-license, check-todo, html-format, typos

home: install typescript compiler and add LSP to nvim
  home/npm/packages.txt
  home/nvim/lua/config/lsp.lua
  home/pkg/packages.txt
Due: check-license, check-todo, typos

home: support target@repo for npm installs
  home/npm/Makefile
  home/npm/packages.txt
Due: check-license, check-todo, typos

nvim: use deno to format javascript and typescript
  home/nvim/lua/config/format.lua
  home/pkg/packages.txt
Due: check-license, check-todo, typos

home: install fswatch to run commands
  home/pkg/packages.txt
Due: check-license, check-todo, typos

x/canvas: draw basic shapes with typescript in canvas
  x/canvas/mdn/shapes/.gitignore
  x/canvas/mdn/shapes/Makefile
  x/canvas/mdn/shapes/canvas.ts
  x/canvas/mdn/shapes/index.html
Due: check-license, check-todo, html-format, typos

check: add .js and .ts to license check
  check/cmd/check-license/internal/fix/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: add typescript skeleton
  home/nvim/lua/config/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new.ts
Due: check-license, check-todo, typos

nvim: add min structure to html skeleton
  nvim/plugin/lab-skeleton/share/new.html
Due: check-todo, html-format, typos

nvim: add CSS skeleton
  nvim/plugin/lab-skeleton/share/new.css
Due: check-todo, typos

check-license: support .css files
  check/cmd/check-license/internal/fix/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

canvas: implement solar system with typescript
  x/canvas/mdn/solsys/.gitignore
  x/canvas/mdn/solsys/Makefile
  x/canvas/mdn/solsys/img/earth.jpg
  x/canvas/mdn/solsys/img/moon.jpg
  x/canvas/mdn/solsys/img/sun.jpg
  x/canvas/mdn/solsys/index.html
  x/canvas/mdn/solsys/solsys.css
  x/canvas/mdn/solsys/solsys.ts
Due: check-license, check-todo, html-format, typos

canvas: reduce sun, earth, mooon to config and constructor
  x/canvas/mdn/solsys/solsys.ts
Due: check-license, check-todo, typos

canvas: add jupiter with satellites
  x/canvas/mdn/solsys/img/europa.jpg
  x/canvas/mdn/solsys/img/io.gif
  x/canvas/mdn/solsys/img/jupiter.jpg
  x/canvas/mdn/solsys/index.html
  x/canvas/mdn/solsys/solsys.ts
Due: check-license, check-todo, html-format, typos

nvim: open netrw on left using nmap
  home/nvim/lua/Makefile
  home/nvim/lua/config/init.lua
  home/nvim/lua/config/netrw.lua
  home/nvim/lua/file/Makefile
  home/nvim/lua/go/Makefile
  home/nvim/lua/netrw/Makefile
  home/nvim/lua/netrw/init.lua
Due: check-license, check-todo, typos

nvim: set global nmap to open netrw
  home/nvim/lua/config/netrw.lua
Due: check-license, check-todo, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
