Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

x/sheet: remove CPU profiler from main
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: use must() in main
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: save engine along with cells data
  x/sheet/internal/sheet/sheet.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: introduce a virtual machine engine
  x/sheet/internal/calc/cell_scanner.go
  x/sheet/internal/calc/cell_scanner_test.go
  x/sheet/internal/engine/ast.go
  x/sheet/internal/engine/doc.go
  x/sheet/internal/engine/vm.go
  x/sheet/internal/sheet/sheet.go
  x/sheet/internal/sheet/sheet_test.go
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/doc.go
  x/sheet/internal/vm/function_string.go
  x/sheet/internal/vm/instructions.go
  x/sheet/internal/vm/operator_string.go
  x/sheet/internal/vm/run.go
  x/sheet/internal/vm/run_test.go
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: fix decode engine
  x/sheet/internal/engine/ast.go
  x/sheet/internal/engine/vm.go
  x/sheet/internal/sheet/sheet.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: move parser under ast
  x/sheet/internal/ast/formula_parser.go
  x/sheet/internal/ast/parse.go
  x/sheet/internal/ast/parse_test.go
  x/sheet/internal/engine/ast.go
  x/sheet/internal/engine/vm.go
  x/sheet/internal/vm/function_string.go
  x/sheet/internal/vm/operator_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: move AST calculator under ast package
  x/sheet/internal/ast/calculate.go
  x/sheet/internal/ast/calculate_test.go
  x/sheet/internal/ast/cell_scanner.go
  x/sheet/internal/ast/cell_scanner_test.go
  x/sheet/internal/engine/ast.go
  x/sheet/internal/vm/compile.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: break engine package into ast/ and vm/
  x/sheet/internal/ast/engine.go
  x/sheet/internal/engine/doc.go
  x/sheet/internal/sheet/sheet.go
  x/sheet/internal/vm/engine.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: vm instructions are values not pointers
  x/sheet/internal/vm/binop_string.go
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/instructions.go
  x/sheet/internal/vm/operator_string.go
  x/sheet/internal/vm/run.go
  x/sheet/internal/vm/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: vm returns non-pointer instructions set
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/engine.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: benchmark sheet write operation
  x/sheet/internal/sheet/sheet_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: save IR for VM
  x/sheet/internal/ast/engine.go
  x/sheet/internal/sheet/sheet.go
  x/sheet/internal/vm/engine.go
  x/sheet/internal/vm/instructions.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: vm instructions are concrete types
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/instructions.go
  x/sheet/internal/vm/insttype_string.go
  x/sheet/internal/vm/run.go
  x/sheet/internal/vm/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: add keep-sorted to file formatters
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

nvim: add <leader>gen to run go-generate on current buffer
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

x/sheet: add multiply and divide lexer tokens
  x/sheet/internal/lex/lex_test.go
  x/sheet/internal/lex/state.go
  x/sheet/internal/lex/token.go
  x/sheet/internal/lex/tokentype_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: add tests for minus operator
  x/sheet/internal/ast/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: add multiply and divide
  x/sheet/internal/ast/calculate.go
  x/sheet/internal/ast/calculate_test.go
  x/sheet/internal/ast/formula_parser.go
  x/sheet/internal/ast/parse_test.go
  x/sheet/internal/vm/binop_string.go
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/instructions.go
  x/sheet/internal/vm/run.go
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: clean formula context free grammar
  x/sheet/internal/ast/formula_parser.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: clean formula parser
  x/sheet/internal/ast/formula_parser.go
  x/sheet/internal/ast/parse.go
  x/sheet/internal/ast/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: put parser methods in context-free grammar order
  x/sheet/internal/ast/formula_parser.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: if-scope vars in the identifier parse
  x/sheet/internal/ast/formula_parser.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: add if condition to AST engine
  x/sheet/internal/ast/calculate.go
  x/sheet/internal/ast/calculate_test.go
  x/sheet/internal/ast/formula_parser.go
  x/sheet/internal/ast/node.go
  x/sheet/internal/ast/parse_test.go
  x/sheet/internal/lex/lex.go
  x/sheet/internal/lex/lex_test.go
  x/sheet/internal/lex/state.go
  x/sheet/internal/lex/token.go
  x/sheet/internal/lex/tokentype_string.go
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: add if-call to VM
  x/sheet/internal/ast/calculate.go
  x/sheet/internal/ast/equal.go
  x/sheet/internal/vm/compile.go
  x/sheet/internal/vm/compile_test.go
  x/sheet/internal/vm/instructions.go
  x/sheet/internal/vm/insttype_string.go
  x/sheet/internal/vm/relop_string.go
  x/sheet/internal/vm/run.go
  x/sheet/internal/vm/run_test.go
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: bring VM test coverage above 90%
  x/sheet/internal/vm/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: remove redundant code from reference calculator
  x/sheet/internal/sheet/calculator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: document the project
  x/README.md
  x/sheet/README.md
  x/sheet/internal/sheet/sheet_test.go
  x/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

go: install htmlview
  home/go/bin/packages.txt
  home/pkg/packages.txt
Due: check-license, check-todo, typos

dp/errors: demonstrate io.Writer with error API
  dp/errors/doc.go
  dp/errors/write.go
  dp/errors/write_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: add HTML template
  nvim/plugin/lab-skeleton/share/new.html
Due: check-todo, html-format, typos

x/serve: serve files over HTTP
  x/serve/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/wasm: run Go in a browser using WebAssembly
  .gitignore
  x/README.md
  x/wasm/README.md
  x/wasm/hello/Makefile
  x/wasm/hello/README.md
  x/wasm/hello/index.html
  x/wasm/hello/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, markdown-format, typos

x/warm: use installed Go version to fetch wasm_exec.js
  x/wasm/hello/Makefile
Due: check-license, check-todo, typos

x/wasm: use local wasm_exec.js or fetch for Go
  x/wasm/hello/Makefile
Due: check-license, check-todo, typos

x/serve: serve gzipped static content
  go.mod
  go.sum
  x/serve/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/wasm: compress wasm_exec.js
  .gitignore
  x/wasm/hello/Makefile
Due: check-license, check-todo, typos

x/wasm: gzip compress compiled .wasm file
  .gitignore
  x/wasm/hello/Makefile
Due: check-license, check-todo, typos

pre-commit: run make lint from folder
  .pre-commit-config.yaml
  check/make-lint
Due: check-license, check-todo, typos, yaml-format

git: ignore .gz compressed files
  .gitignore
Due: check-license, check-todo, typos

x/wasm: compress html file
  x/wasm/hello/Makefile
Due: check-license, check-todo, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
