Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

role/bootstrap: update comments
  infra/ansible/roles/bootstrap/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/rc: do not use name for internal variable
  infra/ansible/roles/rc/tasks/clean.yml
  infra/ansible/roles/rc/tasks/main.yml
  infra/ansible/roles/rc/tasks/update.yml
Due: check-license, check-todo, typos, yaml-format

role/hostname: remove hostname_name variable
  infra/ansible/inventory/host_vars/nuc.lab.net.yml
  infra/ansible/roles/hostname/defaults/main.yml
  infra/ansible/roles/hostname/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/bootstrap: start internal vars with underscore
  infra/ansible/roles/bootstrap/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/pf: use stat module to check if pf config exists
  infra/ansible/roles/pf/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/routing: name registered variables with _task suffix
  infra/ansible/roles/routing/handlers/main.yml
Due: check-license, check-todo, typos, yaml-format

role/netif: start internal variables with underscore
  infra/ansible/roles/netif/tasks/ifconfig.yml
  infra/ansible/roles/netif/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/netif: add _task suffix to registered variables
  infra/ansible/roles/netif/handlers/main.yml
Due: check-license, check-todo, typos, yaml-format

role/pf: use _task suffix in handler registered variables
  infra/ansible/roles/pf/handlers/main.yml
Due: check-license, check-todo, typos, yaml-format

role/pf: start internal vars with underscore and reset connection
  infra/ansible/roles/pf/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/ntp: consolidate update config into a loop
  infra/ansible/roles/ntp/tasks/main.yml
  infra/ansible/roles/ntp/tasks/update.yml
Due: check-license, check-todo, typos, yaml-format

role/user: start internal variables with underscore
  infra/ansible/roles/user/tasks/configure.yml
  infra/ansible/roles/user/tasks/copy.yml
  infra/ansible/roles/user/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/user: change user shell if not set yet
  infra/ansible/roles/user/tasks/configure.yml
Due: check-license, check-todo, typos, yaml-format

role/zfs: combine related updates into a block
  infra/ansible/roles/zfs/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/ssh: parameterize ssh server configuration file
  infra/ansible/roles/ssh/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/pkg: start internal variables with underscore
  infra/ansible/roles/pkg/tasks/alias.yml
  infra/ansible/roles/pkg/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/bootstrap: pass a list of packages to pkgng instead of string
  infra/ansible/roles/bootstrap/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: merge nuc_jail playbook into nuc
  infra/ansible/nuc.yml
  infra/ansible/nuc_jail.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: review configure zfs block
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: parameterize jail rc-file
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: pass template parameters from the task
  infra/ansible/roles/jail_skel/tasks/main.yml
  infra/ansible/roles/jail_skel/templates/etc/jail.conf.j2
Due: check-license, check-todo, typos, yaml-format

infra: add underscore prefix to internal vars
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: group related tasks into blocks
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: pass a list of packages to pkgng module
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: remove timezone setup
  infra/ansible/inventory/host_vars/nuc.lab.net.yml
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: remove syslog configuration
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: remove user configuration
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

role/jail_skel: create snapshot only on changes
  infra/ansible/roles/jail_skel/handlers/main.yml
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

nvim: add python skeleton
  nvim/plugin/lab-skeleton/share/new.python
Due: check-todo, typos

pre-commit: configure python format with black
  .pre-commit-config.yaml
  home/brew/packages.txt
  home/pkg/packages.txt
Due: check-license, check-todo, typos, yaml-format

nvim: use black to format python files
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

home: install poetry
  home/brew/packages.txt
  home/pkg/packages.txt
Due: check-license, check-todo, typos

nvim: add toml skeleton
  nvim/plugin/lab-skeleton/share/new.toml
Due: check-todo, typos

initialize project with poetry
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: check-license, check-todo, typos, yaml-format

python: add ansible dependency
  poetry.lock
  pyproject.toml
Due: check-license, check-todo, typos

toml: use tombi for format, lint, lsp, and pre-commit
  .pre-commit-config.yaml
  home/npm/packages.txt
  home/nvim/lua/config/format.lua
  home/nvim/lua/config/lsp.lua
Due: check-license, check-todo, typos, yaml-format

python: format pyproject.toml with tombi
  pyproject.toml
Due: check-license, check-todo, typos

role/user_migrate: create a python module skeleton to migrate users
  infra/ansible/roles/user_migrate/library/migrate.py
Due: check-license, check-todo, typos

role/user_migrate: add useradd to the migrate module
  infra/ansible/roles/user_migrate/library/migrate.py
Due: check-license, check-todo, typos

role/user_migrate: migrate user group in the migrate module
  infra/ansible/roles/user_migrate/library/migrate.py
Due: check-license, check-todo, typos
