Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

tcsh: print last command RC if exit non-zero
  home/tcshrc.d/prompt.tcsh
Due: check-license, check-todo, typos

ostep/cpu/lottery: check in simulation skeleton
  book/ostep/cpu/lottery/internal/cmd/doc.go
  book/ostep/cpu/lottery/internal/cmd/flag.go
  book/ostep/cpu/lottery/internal/cmd/run.go
  book/ostep/cpu/lottery/internal/job/doc.go
  book/ostep/cpu/lottery/internal/job/job.go
  book/ostep/cpu/lottery/internal/job/spec.go
  book/ostep/cpu/lottery/internal/report/doc.go
  book/ostep/cpu/lottery/internal/report/report.go
  book/ostep/cpu/lottery/internal/report/static/report.txt
  book/ostep/cpu/lottery/internal/sim/doc.go
  book/ostep/cpu/lottery/internal/sim/run.go
  book/ostep/cpu/lottery/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/lottery: implement a lottery scheduler
  book/ostep/cpu/lottery/internal/cmd/run.go
  book/ostep/cpu/lottery/internal/job/control.go
  book/ostep/cpu/lottery/internal/job/job.go
  book/ostep/cpu/lottery/internal/report/report.go
  book/ostep/cpu/lottery/internal/report/static/report.txt
  book/ostep/cpu/lottery/internal/sim/cycle.go
  book/ostep/cpu/lottery/internal/sim/driver.go
  book/ostep/cpu/lottery/internal/sim/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/lottery: generate a trace of folded cycles
  book/ostep/cpu/lottery/internal/cmd/run.go
  book/ostep/cpu/lottery/internal/report/report.go
  book/ostep/cpu/lottery/internal/report/static/report.txt
  book/ostep/cpu/lottery/internal/trace/doc.go
  book/ostep/cpu/lottery/internal/trace/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/lottery: add README
  book/ostep/cpu/README.md
  book/ostep/cpu/lottery/README.md
Due: check-license, check-todo, markdown-format, typos

check-issue: remove flag standard library
  check/cmd/check-issue/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-issue: remove configuration
  check/cmd/check-issue/internal/issue/doc.go
  check/cmd/check-issue/internal/issue/run.go
  check/cmd/check-issue/internal/issue/run_test.go
  check/cmd/check-issue/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-issue: update documentation
  check/cmd/check-issue/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-issue: cleanup to replace scanner
  check/cmd/check-issue/internal/issue/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go/flags: consolidate example into _test.go
  go/flags/string_list_example_test.go
  go/flags/string_list_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go/flags: make StringList wrap target slice
  go/flags/string_list.go
  go/flags/string_list_test.go
  iq/cmd/iq/internal/create/doc.go
  iq/cmd/iq/internal/create/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: update main package doc
  check/cmd/check-license/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: move errors into a separate source file
  check/cmd/check-license/internal/license/error.go
  check/cmd/check-license/internal/license/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: move flags into a command
  check/cmd/check-license/check_license
  check/cmd/check-license/internal/cmd/doc.go
  check/cmd/check-license/internal/cmd/run.go
  check/cmd/check-license/internal/license/error.go
  check/cmd/check-license/internal/license/run.go
  check/cmd/check-license/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: run goroutines using sync.WaitGroup.Go()
  check/cmd/check-license/internal/license/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: switch for mutually exclusive if-blocks
  check/cmd/check-license/internal/license/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: split calls to check and fix license
  check/cmd/check-license/internal/cmd/run.go
  check/cmd/check-license/internal/license/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go/slices: add slices.MapFunc example
  go/slices/map_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nosubmit: remove flag library
  check/cmd/check-nosubmit/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nosubmit: remove context
  check/cmd/check-nosubmit/internal/nosubmit/run.go
  check/cmd/check-nosubmit/internal/nosubmit/run_test.go
  check/cmd/check-nosubmit/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nosubmit: remove config
  check/cmd/check-nosubmit/internal/nosubmit/run.go
  check/cmd/check-nosubmit/internal/nosubmit/run_test.go
  check/cmd/check-nosubmit/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

bazel: remove hedron_compile_commands patch
  third_party/patch/hedron_compile_commands-native-py_binary/0001-Use-rules_python-for-Python-rules.patch
  third_party/patch/hedron_compile_commands-native-py_binary/BUILD
Due: check-license, check-todo, typos

check-todo: remove flag
  check/cmd/check-todo/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-todo: remove config
  check/cmd/check-todo/internal/todo/run.go
  check/cmd/check-todo/internal/todo/run_test.go
  check/cmd/check-todo/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-todo: refactor Checker
  check/cmd/check-todo/internal/todo/run.go
  check/cmd/check-todo/internal/todo/run_test.go
  check/cmd/check-todo/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-todo: rename regexp variables
  check/cmd/check-todo/internal/todo/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-todo: move error into a separate file
  check/cmd/check-todo/internal/todo/error.go
  check/cmd/check-todo/internal/todo/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: update flag description
  check/cmd/check-license/internal/cmd/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-license: refactor into fix, check, license, and cmd packages
  check/cmd/check-license/internal/check/doc.go
  check/cmd/check-license/internal/check/error.go
  check/cmd/check-license/internal/check/run.go
  check/cmd/check-license/internal/check/run_test.go
  check/cmd/check-license/internal/cmd/run.go
  check/cmd/check-license/internal/fix/doc.go
  check/cmd/check-license/internal/fix/run.go
  check/cmd/check-license/internal/fix/run_test.go
  check/cmd/check-license/internal/license/license.go
  check/cmd/check-license/internal/license/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

home: quote arguments to go-alias
  home/tcshrc.d/go.tcsh
Due: check-license, check-todo, typos

check-license: clean license package
  check/cmd/check-license/internal/license/doc.go
  check/cmd/check-license/internal/license/license.go
  check/cmd/check-license/internal/license/static/bsd.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove flag package
  check/cmd/check-go-test/internal/check/doc.go
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: normalize package paths before run tests
  check/cmd/check-go-test/internal/check/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: experimental run tests in parallel
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: enable parallel test of different packages
  .pre-commit-config.yaml
Due: check-license, check-todo, typos, yaml-format

nvim: rename related files Lua module for Go
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: remove filename and location from Go document symbols
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: remove kind capture from loclist items
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: indent fields and methods in location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: group methods by receiver type in the location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
