Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

x/kscope: parse tests use ParseExpr
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add usage to the program
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: review lexer block reader
  x/kscope/internal/lex/lex.go
  x/kscope/internal/lex/reader.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/scanner.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: update lexer documentation
  x/kscope/internal/lex/lex.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: update documentation of lexical scanner
  x/kscope/internal/lex/scanner.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: update documentation of lexer scan states
  x/kscope/internal/lex/scan.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: remove extern
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: name root AST node Code
  x/kscope/internal/ast/doc.go
  x/kscope/internal/ast/node.go
  x/kscope/internal/parse/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: update parser reader doc and rename to tokenReader
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/reader.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: update doc for the parser
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/reader.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add parseFuncParams to parse function parameters
  x/kscope/internal/parse/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: move check for binary operator token into func
  x/kscope/internal/parse/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: move parse function call args code into a method
  x/kscope/internal/parse/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: rename package parse to parser
  x/kscope/internal/parser/doc.go
  x/kscope/internal/parser/parse.go
  x/kscope/internal/parser/parse_test.go
  x/kscope/internal/parser/reader.go
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: all parse methods return pointers to nodes
  x/kscope/internal/parser/parse.go
  x/kscope/internal/parser/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

git: add alias today to see commits since yesterday
  home/gitconfig
Due: check-license, check-todo, typos

x/kscope: add a parser constructor function
  x/kscope/internal/parser/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

github: change CI cron to run on Mondays
  .github/workflows/book_ci.yml
  .github/workflows/check_ci.yml
  .github/workflows/dp_ci.yml
  .github/workflows/go_ci.yml
  .github/workflows/iq_ci.yml
  .github/workflows/x_ci.yml
Due: check-license, check-todo, typos, yaml-format

git: use midnight for today's log instead of yesterday
  home/gitconfig
Due: check-license, check-todo, typos

git: reuse git-x alias in git-today
  home/gitconfig
Due: check-license, check-todo, typos

git: add git-week alias to print commits this week
  home/gitconfig
Due: check-license, check-todo, typos

git: restore limit of 10 lines to git-x alias
  home/gitconfig
Due: check-license, check-todo, typos

git: group commits in this week log by day
  git/log-bydate
  home/gitconfig
Due: check-license, check-todo, typos

git: include ref names in git-week
  home/gitconfig
Due: check-license, check-todo, typos

git: introduce GITGROUP env var for git-week grouping
  git/log-bydate
Due: check-license, check-todo, typos

git: place date for grouping in git-week first
  git/log-bydate
  home/gitconfig
Due: check-license, check-todo, typos

git: disable grouping in git-week if stdout is piped
  git/log-bydate
Due: check-license, check-todo, typos

git: disable coloring in git-week when piped
  home/gitconfig
Due: check-license, check-todo, typos

x/kscope: include error position in the parser errors
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/position.go
  x/kscope/internal/lex/reader.go
  x/kscope/internal/parser/error.go
  x/kscope/internal/parser/parse.go
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

git: print abbreviated day of the week in git-week
  git/log-bydate
Due: check-license, check-todo, typos

git: print the number of commits per day in git-week
  git/log-bydate
Due: check-license, check-todo, typos

git: pass git-week through pager
  git/log-bydate
Due: check-license, check-todo, typos

pre-commit: skip struct alignment in _test.go
  .pre-commit-config.yaml
Due: check-license, check-todo, typos, yaml-format

pre-commit: skip tests in fieldalignment
  check/go-fieldalignment
Due: check-license, check-todo, typos

pre-commit: run Go tests with race detector on
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

pre-commit: make concurrent run of Go tests permanent
  .pre-commit-config.yaml
  check/cmd/check-go-test/internal/check/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos, yaml-format

Revert "pre-commit: run Go tests with race detector on"
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: run returns captured errors
  check/cmd/check-go-test/internal/build/action_string.go
  check/cmd/check-go-test/internal/build/doc.go
  check/cmd/check-go-test/internal/build/event.go
  check/cmd/check-go-test/internal/build/event_test.go
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/test/action_string.go
  check/cmd/check-go-test/internal/test/doc.go
  check/cmd/check-go-test/internal/test/event.go
  check/cmd/check-go-test/internal/test/event_test.go
  check/cmd/check-go-test/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: add usage help message
  check/cmd/check-go-test/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove unused ErrTest
  check/cmd/check-go-test/internal/check/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos
