Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yaml-format

clang-format:
  name: clang-format
  entry: clang-format -i
  language: system
  args:
  - -style=file

yaml-format:
  name: yaml-format
  entry: yamlfmt
  language: system

Use keep-sorted binary from the OS in pre-commit
  .pre-commit-config.yaml
Due: yaml-format

Sort pre-commit-hooks by id
  .pre-commit-config.yaml
Due: yaml-format

Add universal ctags configuration
  home/Makefile
  home/ctags.d/Makefile
  home/ctags.d/exclude.ctags
Due: none

Use make(1) to install vim packages
  home/vim/Makefile
  home/vim/pack/Makefile
  home/vim/pack/packages.txt
Due: none

Add tagbar plugin to vim for code overview
  .pre-commit-config.yaml
  home/vim/pack/Makefile
  home/vim/pack/packages.txt
Due: yaml-format

Place vim formatting into an autogroup
  home/vimrc
Due: none

Use gotags for go and uctags for others in vim tagbar
  home/vimrc
Due: none

Generate vim helptags for installed plugins
  home/vim/pack/Makefile
Due: none

Install go binaries with make
  home/Makefile
  home/go/Makefile
  home/go/bin/Makefile
  home/go/bin/packages.txt
Due: none

Install gopls
  home/go/bin/packages.txt
Due: none

Fix helptags generation on vim plugin install
  home/vim/pack/Makefile
Due: none

Add vim-slp plugin
  home/vim/pack/packages.txt
  home/vimrc
Due: none

Add autocompelte to vim-lsp
  home/vim/pack/packages.txt
  home/vimrc
Due: none

Add autocomplete to vim-lsp
  home/vim/pack/packages.txt
  home/vimrc
Due: none

Rename vim packages with plugins
  home/vim/pack/Makefile
  home/vim/pack/plugins.txt
Due: none

Clean makefile to install go binaries
  home/go/bin/Makefile
  home/go/bin/packages.txt
Due: none

Fix vim-lsp log filename
  home/vimrc
Due: none

Delete old autocommands withing the augroup Format
  home/vimrc
Due: none

Add bazel compile commands extractor for clangd
  BUILD
  MODULE.bazel
Due: none

Add clangd to vim-lsp
  home/vimrc
Due: none

Disable unused inernal declaration function warning in clangd
  .clangd
Due: none

Add script to refresh
  refresh_commands.sh
Due: none

Add reverse a singly linked list in c++
  iq/list/singly/reverse/BUILD
  iq/list/singly/reverse/reverse.cc
  iq/list/singly/reverse/reverse.h
  iq/list/singly/reverse/reverse_test.cc
Due: clang-format

Pass filename to clang-format to sort headers
  home/vimrc
Due: none

Add CI for iq with Bazel
  .github/workflows/iq_bazel.yml
Due: yaml-format

Setup llvm in iq CI with Bazel
  .github/workflows/iq_bazel.yml
Due: yaml-format

Add missing cc include in lexicographic sequence iq
  iq/twopointer/lexiseq/solution.cc
  iq/twopointer/lexiseq/solution_test.cc
Due: clang-format

Add CI status badge for iq with Bazel for C++
  README.md
Due: none

Open asyncomplete pop on deman with tab
  home/vimrc
Due: none

Install buildozer
  home/go/bin/packages.txt
Due: none

Add remove last nth node from a singly linked list in cc
  iq/list/singly/remove/BUILD
  iq/list/singly/remove/last_nth.cc
  iq/list/singly/remove/last_nth.h
  iq/list/singly/remove/last_nth_test.cc
Due: clang-format

Install go in Linux compatibility under FreeBSD
  go_checksum_sha256
  go_install.sh
Due: none

Remove dev_dependency from googletest and abseil
  MODULE.bazel
Due: none

Add C++ is a singly linked list a palindrome iq
  iq/list/singly/palindrome/BUILD
  iq/list/singly/palindrome/is.cc
  iq/list/singly/palindrome/is.h
  iq/list/singly/palindrome/is_test.cc
Due: clang-format

Add bazel gazelle to generate build files for c++
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
Due: none

Update BUILD files with Bazel gazelle
  iq/list/singly/remove/BUILD
  iq/list/singly/reverse/BUILD
  iq/mapset/chain/BUILD
  iq/mapset/geomseq/BUILD
  iq/mapset/stripzero/BUILD
  iq/mapset/twosum/BUILD
  iq/twopointer/container/BUILD
  iq/twopointer/lexiseq/BUILD
  iq/twopointer/palindrome/BUILD
  iq/twopointer/shiftzeros/BUILD
  iq/twopointer/threesum/BUILD
  iq/twopointer/twosum/BUILD
Due: none

Add shell format to pre-commit and vim equalprg
  .pre-commit-config.yaml
  home/go/bin/packages.txt
  home/vimrc
Due: yaml-format

Format go_install.sh with shfmt
  go_install.sh
Due: none

Make vim-lsp show diagnostics for current line only
  home/vimrc
Due: none

Fix singly linked list palindrome build with gazelle
  iq/list/singly/palindrome/BUILD
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  yaml-format: any of: \.(yaml|yml)$
