Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

check-godoc: handle comment blocks by lines
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: add path collector
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/run_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check files and packages in parallel.
  check/cmd/check-godoc/internal/check/run.go
Due: check-copyright, check-go-test, goimports, typos

check-license: add support for lua
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/check_test.go
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
  check/cmd/check-license/internal/license/license.go
Due: check-copyright, check-go-test, goimports, typos

nvim: start an empty configuration
  home/Makefile
  home/nvim/Makefile
  home/nvim/init.lua
Due: check-copyright, typos

tcsh: set nvim for editor
  home/tcshrc
Due: check-copyright, typos

nvim: set XDG_CONFIG_HOME in makefile if not set
  home/nvim/Makefile
Due: check-copyright, typos

pre-commit: add lua formatter
  .pre-commit-config.yaml
  home/rust/packages.txt
  home/vimrc.d/format.vim
Due: check-copyright, typos, yaml-format

nvim: transfer root vimrc to neovim init.lua
  home/nvim/init.lua
Due: check-copyright, typos

nvim: remove options with the same default values
  home/nvim/init.lua
Due: check-copyright, typos

nvim: group settings by topic
  home/nvim/init.lua
Due: check-copyright, typos

nvim: add lazy.nvim plugin manager
  home/nvim/init.lua
  home/nvim/lua/Makefile
  home/nvim/lua/config/Makefile
  home/nvim/lua/config/lazy.lua
  home/nvim/lua/plugins/Makefile
Due: check-copyright, typos

rust: optionally set binary name for create
  home/rust/Makefile
  home/rust/packages.txt
Due: check-copyright, typos

nvim: fix install target files mark as phony
  home/nvim/Makefile
  home/nvim/lua/config/Makefile
Due: check-copyright, typos

nvim: disable lazy.vim
  home/nvim/init.lua
Due: check-copyright, typos

nvim: do not create plugins for lazy.vim
  home/nvim/lua/Makefile
  home/nvim/lua/plugins/Makefile
Due: check-copyright, typos

nvim: fix target dependency on the source file
  home/nvim/lua/config/Makefile
Due: check-copyright, typos

nvim: bootstrap lab-skeleton plugin
  Makefile
  home/nvim/init.lua
  home/nvim/lua/config/Makefile
  home/nvim/lua/config/lab-skeleton.lua
  nvim/Makefile
  nvim/plugin/Makefile
  nvim/plugin/lab-skeleton/Makefile
  nvim/plugin/lab-skeleton/lua/Makefile
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/Makefile
  nvim/plugin/lab-skeleton/share/new.lua
Due: check-copyright, typos

nvim: add lab-skeleton module setup
  home/nvim/lua/config/lab-skeleton.lua
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

nvim: replace year and hodler in templates
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

nvim: position cursor at first {{ cursor }}
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new.lua
Due: check-copyright, typos

nvim: lab-skeleton: use {{tag}} in templates
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new.lua
Due: check-copyright, typos

nvim: lab-skeleton: remove redundant holder message
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

nvim: lab-skeleton: break load into multiple functions
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: add basic templates
  nvim/plugin/lab-skeleton/share/Makefile
  nvim/plugin/lab-skeleton/share/new.bzl
  nvim/plugin/lab-skeleton/share/new.make
  nvim/plugin/lab-skeleton/share/new.md
  nvim/plugin/lab-skeleton/share/new.sh
  nvim/plugin/lab-skeleton/share/new.txtpb
  nvim/plugin/lab-skeleton/share/new.vim
  nvim/plugin/lab-skeleton/share/new.yml
Due: check-copyright, markdown-format, typos, yaml-format

lab-skeleton: add Go templates
  nvim/plugin/lab-skeleton/share/new.go
  nvim/plugin/lab-skeleton/share/new_test.go
Due: check-copyright, check-go-test, goimports, typos

lab-skeleton: add C and C++ templates
  nvim/plugin/lab-skeleton/share/new.c
  nvim/plugin/lab-skeleton/share/new.cc
  nvim/plugin/lab-skeleton/share/new.h
  nvim/plugin/lab-skeleton/share/new_main.c
  nvim/plugin/lab-skeleton/share/new_test.cc
Due: check-copyright, clang-format, clang-tidy, typos

lab-skeleton: introduce template tag generators
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: report errors from tag generators
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: propagate filetype to tag generators
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: generate common and per-filetype substitutes
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

pre-commit: add luacheck for lint
  .pre-commit-config.yaml
  home/pkg/packages.txt
Due: check-copyright, typos, yaml-format

lab-skeleton: pass file name and type to substitutors
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: fix table merge
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: fix error message on failed substitutes
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: add Go package substitutes
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: address luacheck warnings
  .luacheckrc
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

nvim: use tabs in lua code
  home/nvim/init.lua
Due: check-copyright, typos

lab-skeleton: add support for per-filetype skeleton
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: install all templates with new-prefix
  nvim/plugin/lab-skeleton/share/Makefile
Due: check-copyright, typos
