Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

ostep/cpu/sched: update pending job before call policy
  book/ostep/cpu/cmd/sched/internal/sched/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: implement round robin scheduler policy
  book/ostep/cpu/cmd/sched/flag.go
  book/ostep/cpu/cmd/sched/internal/report/report_test.go
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/no_jobs.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/one_job_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/sched/scheduler.go
  book/ostep/cpu/cmd/sched/main.go
  book/ostep/cpu/cmd/sched/policy.go
  book/ostep/cpu/cmd/sched/policy_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add homework example
  book/ostep/cpu/cmd/sched/internal/report/report_test.go
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/homework_three_skewed_jobs_arrive_immediately.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: fix wait time
  book/ostep/cpu/cmd/sched/internal/job/live.go
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/two_jobs_one_arrives_late.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: sort completed jobs by ID
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/canon_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: rename coreScheduler to scheduler
  book/ostep/cpu/cmd/sched/internal/sched/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: include job status in the trace
  book/ostep/cpu/cmd/sched/internal/job/job.go
  book/ostep/cpu/cmd/sched/internal/job/live.go
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/canon_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/homework_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/one_job_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/fifo/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/one_job_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/rr/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/canon_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/sjf/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/sched/internal/report/testdata/stcf/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/sched/internal/report/txt/report.txt
  book/ostep/cpu/cmd/sched/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

home: stop recursive go call by wrapper
  home/go/bin/go
Due: check-license, check-todo, typos

ubuntu: install Go 1.26
  go_checksum_sha256
  go_install
Due: check-license, check-todo, typos

bazel: upgrade deps
  MODULE.bazel
  MODULE.bazel.lock
Due: check-license, check-todo, typos

ostep/cpu/sched: update docs
  book/ostep/cpu/README.md
  book/ostep/cpu/cmd/sched/README.md
Due: check-license, check-todo, markdown-format, typos

infra: move rc.jail script under infra/
  infra/rc/doc/README.md
  infra/rc/doc/rcorder.md
  infra/rc/doc/rcorder_base.txt
  infra/rc/rc_jail
Due: check-license, check-todo, markdown-format, typos

infra: update rc_jail doc
  infra/rc/rc_jail
Due: check-license, check-todo, typos

infra: reduce function names in rc.jail for readability
  infra/rc/rc_jail
Due: check-license, check-todo, typos

infra: remove jexec from rc.jail
  infra/rc/rc_jail
Due: check-license, check-todo, typos

infra: rename rc_jail to rc.jail
  infra/rc/rc.jail
Due: check-license, check-todo, typos

infra: remove cat(1) from rc.jail
  infra/rc/rc.jail
Due: check-license, check-todo, typos

infra: shorted var names in rc.jail
  infra/rc/rc.jail
Due: check-license, check-todo, typos

infra: use IFS to split bridge and ip in jail network spec
  infra/rc/rc.jail
Due: check-license, check-todo, typos

infra: add instructions to create a thin Alpine Linux jail
  infra/doc/jail/alpine_linux.md
Due: check-license, check-todo, markdown-format, typos

infra: add howto install Alpine Linux in a thin jail
  infra/doc/jail/alpine_linux.md
Due: check-license, check-todo, markdown-format, typos

home: add os name and version to the prompt
  home/tcshrc.d/prompt.tcsh
Due: check-license, check-todo, typos

ostep: review fork example
  book/ostep/process/fork/Makefile
  book/ostep/process/fork/main.c
Due: check-license, check-todo, clang-format, clang-tidy, typos

ostep: review wait(2) example
  book/ostep/process/fork/main.c
  book/ostep/process/wait/Makefile
  book/ostep/process/wait/main.c
Due: check-license, check-todo, clang-format, clang-tidy, typos

ostep: review exec(2) example
  book/ostep/process/exec/Makefile
  book/ostep/process/exec/main.c
Due: check-license, check-todo, clang-format, clang-tidy, typos

ostep: demo fork() change file descriptors and exec()
  book/ostep/process/pipe/Makefile
  book/ostep/process/pipe/main.c
Due: check-license, check-todo, clang-format, clang-tidy, typos

bin: gover prints Go version used to build a binary
  bin/gover/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go: add slices.MapFunc to transform slice elements
  go/slices/doc.go
  go/slices/map.go
  go/slices/map_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: create a skeleton code of mlfq simulation
  book/ostep/cpu/mlfq/internal/cmd/doc.go
  book/ostep/cpu/mlfq/internal/cmd/run.go
  book/ostep/cpu/mlfq/internal/cpu/clock.go
  book/ostep/cpu/mlfq/internal/cpu/doc.go
  book/ostep/cpu/mlfq/internal/policy/doc.go
  book/ostep/cpu/mlfq/internal/policy/mlfq.go
  book/ostep/cpu/mlfq/internal/policy/spec.go
  book/ostep/cpu/mlfq/internal/proc/doc.go
  book/ostep/cpu/mlfq/internal/proc/process.go
  book/ostep/cpu/mlfq/internal/proc/spec.go
  book/ostep/cpu/mlfq/internal/report/doc.go
  book/ostep/cpu/mlfq/internal/report/report.go
  book/ostep/cpu/mlfq/internal/report/txt/step.txt
  book/ostep/cpu/mlfq/internal/sim/doc.go
  book/ostep/cpu/mlfq/internal/sim/driver.go
  book/ostep/cpu/mlfq/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go: make slices.MapFunc return a slices
  book/ostep/cpu/mlfq/internal/cmd/run.go
  go/slices/map.go
  go/slices/map_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: add processes to the scheduler
  book/ostep/cpu/mlfq/internal/cmd/run.go
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: add abortCycle to stop simulation
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: simulation driver conforms to scanner interface
  book/ostep/cpu/mlfq/internal/report/txt/step.txt
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: add a round-robin queue
  book/ostep/cpu/mlfq/internal/queue/doc.go
  book/ostep/cpu/mlfq/internal/queue/roundrobin.go
  book/ostep/cpu/mlfq/internal/queue/roundrobin_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: use round-robin queue in MLFQ policy
  book/ostep/cpu/mlfq/internal/policy/mlfq.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: fix round-robin queue pop first element
  book/ostep/cpu/mlfq/internal/queue/roundrobin.go
  book/ostep/cpu/mlfq/internal/queue/roundrobin_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: make mlfq policy select next process
  book/ostep/cpu/mlfq/internal/policy/mlfq.go
  book/ostep/cpu/mlfq/internal/report/txt/step.txt
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: complete processes
  book/ostep/cpu/mlfq/internal/policy/mlfq.go
  book/ostep/cpu/mlfq/internal/proc/process.go
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/mlfq: print cycles starting from 1
  book/ostep/cpu/mlfq/internal/sim/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos
