Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yaml-format

clang-format:
  name: clang-format
  entry: clang-format -i
  language: system
  args:
  - -style=file

yaml-format:
  name: yaml-format
  entry: yamlfmt
  language: system

Add C++ CI with Bazel to iq/ CI
  .github/workflows/ci_cc_bazel.yml
  .github/workflows/iq_ci.yml
Due: yaml-format

Clean obsolete iq_bazel GH workflow
  .github/workflows/iq_bazel.yml
Due: yaml-format

Consolidate readme and solution in iq/11
  iq/11/README.md
  iq/11/geomseq/README.md
Due: none

Fix bzl_changes detection in ci_analyze workflow
  .github/workflows/ci_analyze.yml
Due: yaml-format

Consolidate iq/12 README and solution
  iq/12/README.md
  iq/12/reverse/README.md
  iq/12/reverse/solution.md
Due: none

Consolidate iq/21 readme and solution
  iq/21/README.md
  iq/21/anagram/README.md
  iq/21/anagram/solution.md
Due: none

Install cppman on FreeBSD
  home/pkg/Makefile
  home/pkg/packages.txt
Due: none

Fix clang-format in pre-commit.
  .pre-commit-config.yaml
Due: yaml-format

Find string anagrams in c++
  iq/21/anagram/BUILD
  iq/21/anagram/find_all.cc
  iq/21/anagram/find_all.h
  iq/21/anagram/find_all_test.cc
Due: clang-format

Add bazel vim skeleton
  home/vim/templates/skel.bzl
Due: none

Add projects CI status to the main page.
  README.md
Due: none

Run Go tests in iq/ on c++ changes
  .github/workflows/iq_ci.yml
Due: yaml-format

Ignore c++ code in iq/21 Go code
  iq/21/anagram/find_all.cc
  iq/21/anagram/find_all_test.cc
Due: clang-format

Fast find for the longest substring in c++
  iq/22/substring/BUILD
  iq/22/substring/find_fast.cc
  iq/22/substring/find_fast.h
  iq/22/substring/find_fast_test.cc
Due: clang-format

Bazel gazelle updated iq/21 build.
  iq/21/anagram/BUILD
Due: none

Move iq/cmd/iq implementaion under internal/
  iq/cmd/iq/internal/create/run.go
  iq/cmd/iq/internal/info/info.go
  iq/cmd/iq/internal/info/info_example_test.go
  iq/cmd/iq/internal/info/info_test.go
  iq/cmd/iq/internal/pb/gen.go
  iq/cmd/iq/internal/pb/question.pb.go
  iq/cmd/iq/internal/pb/question.proto
  iq/cmd/iq/internal/registry/doc.go
  iq/cmd/iq/internal/registry/questions.txtpb
  iq/cmd/iq/internal/registry/registry.go
  iq/cmd/iq/internal/registry/registry_example_test.go
  iq/cmd/iq/internal/registry/registry_test.go
  iq/cmd/iq/internal/registry/testdata/registry_one_question.txtpb
  iq/cmd/iq/internal/registry/testdata/registry_one_question_with_header.txtpb
  iq/cmd/iq/internal/registry/testdata/registry_with_root_path.txtpb
  iq/cmd/iq/main.go
  iq/pb/gen.go
Due: none

Rename todo checker to check-todo
  .pre-commit-config.yaml
  check/cmd/check-todo/internal/todo/run.go
  check/cmd/check-todo/internal/todo/run_test.go
  check/cmd/check-todo/main.go
  home/go/bin/packages.txt
Due: yaml-format

Rename nosubmit check from lint- prefix to check-
  .pre-commit-config.yaml
  check/cmd/check-nosubmit/internal/nosubmit/run.go
  check/cmd/check-nosubmit/internal/nosubmit/run_test.go
  check/cmd/check-nosubmit/main.go
  home/go/bin/packages.txt
Due: yaml-format

Rename gotest check to check-go-test
  .pre-commit-config.yaml
  check/cmd/check-go-test/internal/test/action_string.go
  check/cmd/check-go-test/internal/test/doc.go
  check/cmd/check-go-test/internal/test/event.go
  check/cmd/check-go-test/internal/test/event_test.go
  check/cmd/check-go-test/internal/test/filter.go
  check/cmd/check-go-test/internal/test/filter_test.go
  check/cmd/check-go-test/internal/test/run.go
  check/cmd/check-go-test/internal/test/run_test.go
  check/cmd/check-go-test/internal/test/tester.go
  check/cmd/check-go-test/internal/test/tester_test.go
  check/cmd/check-go-test/main.go
  home/go/bin/packages.txt
Due: yaml-format

Create commit-msg git-hook(1) check to validate issue
  check/cmd/check-issue/internal/issue/run.go
  check/cmd/check-issue/internal/issue/run_test.go
  check/cmd/check-issue/main.go
Due: none

Enable check-issue in commit-msg git-hook(1).
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: yaml-format

Suport close and fix verbs in issue reference
  check/cmd/check-issue/internal/issue/run.go
  check/cmd/check-issue/internal/issue/run_test.go
Due: none

Generate Bazel build files with :gazelle from refresh_commands
  refresh_commands
Due: none

Add c++ solution to longest uniform substring after k replacements
  iq/23/README.md
  iq/23/substring/BUILD.bazel
  iq/23/substring/find.cc
  iq/23/substring/find.h
  iq/23/substring/find_test.cc
Due: clang-format

Let iBazel fix common issues.
  .bazel_fix_commands.json
Due: none

Install groff on FreeBSD for cppman
  home/pkg/packages.txt
Due: none

Fix iq/23 go build
  iq/23/substring/find.cc
  iq/23/substring/find_test.cc
Due: clang-format

Find insert index in c++
  iq/24/insert/BUILD.bazel
  iq/24/insert/find.cc
  iq/24/insert/find.h
  iq/24/insert/find_test.cc
Due: clang-format

Bazel-watch run :gazelle on missing Abseil includes.
  .bazel_fix_commands.json
Due: none

iq/25: find a range of indices in a sorted array in c++
  iq/25/bounds/BUILD.bazel
  iq/25/bounds/find.cc
  iq/25/bounds/find.h
  iq/25/bounds/find_test.cc
Due: clang-format

Add instructions on how to build C++ code.
  README.md
Due: none

Run workflows every hour
  .github/workflows/book_ci.yml
  .github/workflows/check_ci.yml
  .github/workflows/go_ci.yml
  .github/workflows/iq_ci.yml
  .github/workflows/x_ci.yml
Due: yaml-format

Finalize CI schedule to run daily at 6:00 UTC
  .github/workflows/book_ci.yml
  .github/workflows/check_ci.yml
  .github/workflows/go_ci.yml
  .github/workflows/iq_ci.yml
  .github/workflows/x_ci.yml
Due: yaml-format

iq/26: find max cut in c++
  iq/26/README.md
  iq/26/cut/BUILD.bazel
  iq/26/cut/find.cc
  iq/26/cut/find.h
  iq/26/cut/find_test.cc
Due: clang-format

iq/27: find lower bound in a sorted array in c++
  iq/27/lower/BUILD.bazel
  iq/27/lower/find.cc
  iq/27/lower/find.h
  iq/27/lower/find_test.cc
Due: clang-format

Run Abseil :gazelle fix for headers and source files
  .bazel_fix_commands.json
Due: none

Clean asyncomplete configuration
  home/vimrc.d/asyncomplete.vim
Due: none

Fix dev-alias for paths with dots
  home/tcshrc
Due: none

Disable asyncomplete menu if there is only one item
  home/vimrc.d/asyncomplete.vim
Due: none

iq/28: find the upper bound of a sorted array in c++
  iq/28/upper/BUILD.bazel
  iq/28/upper/find.cc
  iq/28/upper/find.h
  iq/28/upper/find_test.cc
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  yaml-format: any of: \.(yaml|yml)$
