Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

roles/pkg: move pkg upgrade from handler to task
  infra/ansible/roles/pkg/handlers/main.yml
  infra/ansible/roles/pkg/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/jail_skel: remove debugging code
  infra/ansible/roles/jail_skel/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/jail: make optional variables empty instead of undef()
  infra/ansible/roles/jail/defaults/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/pkg: create parent folders for repos config
  infra/ansible/roles/pkg/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/local_pkg: split nginx config into per-location configs
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-base-proxy-cache.conf
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-kmods-proxy-cache.conf
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-ports-proxy-cache.conf
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/server/freebsd-base.conf
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/server/freebsd-kmods.conf
  infra/ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/server/freebsd-ports.conf
  infra/ansible/roles/local_pkg/tasks/main.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/lab-ports.conf.j2
Due: check-license, check-todo, typos, yaml-format

infra: setup pam with ldap in configure-ldap playbook
  infra/ansible/playbooks/configure-ldap.yml
  infra/ansible/playbooks/jail_bsd.yml
Due: check-license, check-todo, typos, yaml-format

infra: add a playbook to configure development environment
  infra/ansible/playbooks/bootstrap-devenv.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

proposals: start a proposals section to describe changes
  proposals/pkg-cache-server.md
Due: check-license, check-todo, markdown-format, typos

ansible: update documentation
  ansible/README.md
Due: check-license, check-todo, markdown-format, typos

roles/openssl_gen: support SAN in CSR
  ansible/inventory/host_vars/pkg.lab.net.yml
  ansible/roles/openssl_gen/defaults/main.yml
  ansible/roles/openssl_gen/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/bind: add an alias record for freebsd-ports.pkg
  ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
Due: check-license, check-todo, typos

roles/local_pkg: add freebsd-ports caching server
  ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-ports-proxy-cache.conf
  ansible/roles/local_pkg/tasks/_create_conf.yml
  ansible/roles/local_pkg/tasks/main.yml
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/conf.d/freebsd-ports.conf.j2
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
  ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-ports.conf.j2
Due: check-license, check-todo, typos, yaml-format

proposals/pkg-cache: clarify how to handle a certificate
  proposals/pkg-cache-server.md
Due: check-license, check-todo, markdown-format, typos

infra: add a caching server for FreeBSD kmods
  ansible/inventory/host_vars/pkg.lab.net.yml
  ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
  ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-kmods-proxy-cache.conf
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/conf.d/freebsd-kmods.conf.j2
  ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-kmods.conf.j2
Due: check-license, check-todo, typos, yaml-format

infra: add a virtual server to cache FreeBSD base packages
  ansible/inventory/host_vars/pkg.lab.net.yml
  ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
  ansible/roles/local_pkg/files/usr/local/etc/nginx/conf.d/http/freebsd-base-proxy-cache.conf
  ansible/roles/local_pkg/tasks/main.yml
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/conf.d/freebsd-base.conf.j2
  ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-base.conf.j2
Due: check-license, check-todo, typos, yaml-format

proposals: implement pkg cache virtual servers
  proposals/pkg-cache-server.md
Due: check-license, check-todo, markdown-format, typos

local_pkg: match pkg cache path to virtual server name.
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/conf.d/freebsd-kmods.conf.j2
  ansible/roles/local_pkg/templates/usr/local/etc/nginx/conf.d/freebsd-ports.conf.j2
Due: check-license, check-todo, typos
