Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

lab-skeleton: Go package is main for main.go files
  home/nvim/lua/config/lab-skeleton.lua
Due: check-copyright, typos

go: upgrade installed binaries
  home/go/bin/packages.txt
Due: check-copyright, typos

nvim/pack: skip same user if multiple times
  home/nvim/pack/Makefile
Due: check-copyright, typos

nvim: make lsp-completion insert edits
  home/nvim/init.lua
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

check-nextid: verify nextid for top-level messages
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
  check/cmd/check-nextid/internal/nextid/doc.go
  check/cmd/check-nextid/internal/nextid/run.go
  check/cmd/check-nextid/main.go
  go.mod
  go.sum
Due: check-copyright, check-go-test, goimports, typos

check-nextid: include in pre-commit
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: check-copyright, typos, yaml-format

check-nextid: validate top-level enumerations
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-nextid: validate sub-messages
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-next: validate sub-enumerations
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
Due: check-copyright, check-go-test, goimports, typos

nvim: let LSP pick up changes to go.mod
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

pkg: install fzf
  home/pkg/packages.txt
Due: check-copyright, typos

nvim: make background transparent, remove cursor line
  home/nvim/init.lua
  home/nvim/lua/config/color.lua
Due: check-copyright, typos

lab-skeleton: consolidate template load, subs, cursor
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

lab-skeleton: remove trailing empty line
  nvim/plugin/lab-skeleton/lua/lab-skeleton.lua
Due: check-copyright, typos

x/ast: print Protobuf AST
  .pre-commit-config.yaml
  x/ast/internal/proto/print.go
  x/ast/internal/proto/print_test.go
  x/ast/internal/proto/testdata/edition.txt
  x/ast/internal/proto/testdata/empty.txt
  x/ast/internal/proto/testdata/message.txt
  x/ast/internal/proto/testdata/syntax.txt
  x/ast/main.go
Due: check-copyright, check-go-test, goimports, typos, yaml-format

feed: clean up code
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/fetch.go
  x/feed/internal/feed/subscribe.go
  x/feed/internal/pb/feed.pb.go
  x/feed/internal/pb/feed.proto
Due: check-copyright, check-go-test, goimports, typos

x/feed: add a method to close the subscription
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

nvim: completions and hovers get rounded border
  home/nvim/lua/config/complete.lua
  home/nvim/lua/config/lsp.lua
Due: check-copyright, typos

luals: include Neovim runtime Lua library
  .luarc.json
Due: html-format, typos

luals: include schema in the JSON configuration
  .luarc.json
Due: html-format, typos

nvim : assert when getting lsp client
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

nvim: rounded border around diagnostics
  home/nvim/lua/config/lsp.lua
Due: check-copyright, typos

nvim: rounded border around signature help
  home/nvim/lua/config/lsp.lua
Due: check-copyright, typos

nvim: set popup menu border to rounded for Nvim 0.12
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

x/feed: move multiplexer into merge.go
  x/feed/internal/feed/merge.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: make sure the subscription start once
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: ensure the multiplexer merges subscriptions once
  x/feed/internal/feed/merge.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: introduce a block file fetcher
  x/feed/internal/feed/block.go
  x/feed/internal/feed/block_test.go
  x/feed/internal/feed/fetch.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: let subscription poll fetcher for items
  x/feed/internal/feed/fetch.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: encapsulate subscription loop
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: subscriber sleep between polling fetcher
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: propagage last feed error via Close()
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: stop, fetch, stream using channels
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: update timer to fetch on every iteration in subscription
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: fetch the feed only if pending queue size is below limit
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: rename variables for readability
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: place the subscription main loop into a method
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: move state init logic outside the event loop
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/feed: make fetch async in the subscription
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

pkg: install ripgrep for nvim
  home/pkg/packages.txt
Due: check-copyright, typos
