Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

ansible: restrict ntpd to loopback
  infra/ansible/playbook/internal/ntp.yaml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/nuc.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: setup syslog with log rotations
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/internal/syslog.yaml
  infra/ansible/playbook/nuc.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: add pkg aliases and install neovim
  infra/ansible/playbook/internal/pkg.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: setup ssh
  infra/ansible/playbook/internal/autoboot.yaml
  infra/ansible/playbook/internal/ntp.yaml
  infra/ansible/playbook/internal/pkg.yaml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/internal/ssh.yaml
  infra/ansible/playbook/internal/syslog.yaml
  infra/ansible/playbook/nuc.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: setup packet filter on nuc
  infra/ansible/playbook/internal/pf.yaml
  infra/ansible/playbook/nuc.yaml
  infra/ansible/templates/etc/pf.conf
Due: check-license, check-todo, typos, yaml-format

ansible: update the name of syslog roatating task
  infra/ansible/playbook/internal/syslog.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: fix syslog.conf change to enable console logs
  infra/ansible/playbook/internal/syslog.yaml
Due: check-license, check-todo, typos, yaml-format

ansible: fix typo in Ansible installation command
  infra/ansible/README.md
Due: check-license, check-todo, markdown-format, typos

ansible: enable periodic zfs scrubs
  infra/ansible/playbook/internal/periodic.yaml
  infra/ansible/playbook/internal/zfs.yaml
  infra/ansible/playbook/nuc.yaml
Due: check-license, check-todo, typos, yaml-format

ansbile: remove newsyslog rortations
  infra/ansible/playbook/internal/syslog.yaml
Due: check-license, check-todo, typos, yaml-format

home: dispatch to install with brew or pkg depending on OS
  home/Makefile
  home/brew/Makefile
  home/brew/packages.txt
Due: check-license, check-todo, typos

home: disable static linking on MacOS
  home/go/bin/Makefile
Due: check-license, check-todo, typos

home: use sudo to install npms on Mac
  home/npm/Makefile
Due: check-license, check-todo, typos

home: fix os version in tcsh prompt on OS X
  home/tcshrc.d/prompt.tcsh
Due: check-license, check-todo, typos

home: skip installing brew and npm is already installed
  home/brew/Makefile
  home/npm/Makefile
Due: check-license, check-todo, typos

home: fix llvm path set on mac os
  home/tcshrc.d/cc.tcsh
Due: check-license, check-todo, typos

home: fix clang binaries in neovim for mac os
  home/nvim/after/lsp/clangd.lua
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

ansible: run pre-commit checks on playbooks
  infra/ansible/README.md
  infra/ansible/inventory/lab.yaml
  infra/ansible/playbook/internal/autoboot.yaml
  infra/ansible/playbook/internal/ntp.yaml
  infra/ansible/playbook/internal/periodic.yaml
  infra/ansible/playbook/internal/pf.yaml
  infra/ansible/playbook/internal/pkg.yaml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/internal/ssh.yaml
  infra/ansible/playbook/internal/syslog.yaml
  infra/ansible/playbook/internal/zfs.yaml
  infra/ansible/playbook/nuc.yaml
  infra/ansible/playbook/nuc_bootstrap.yaml
  infra/ansible/templates/etc/pf.conf
  infra/ansible/templates/root/dot.cshrc
  infra/ansible/templates/usr/local/etc/pkg/repos/FreeBSD.conf
Due: check-license, check-todo, markdown-format, typos, yaml-format

ansible: allow http and https traffic in pf on nuc
  infra/ansible/playbook/internal/pf.yaml
  infra/ansible/templates/etc/pf.conf
Due: check-license, check-todo, typos, yaml-format

ansible: skip facts in bootstrap and copy op-user cshrc
  infra/ansible/playbook/nuc_bootstrap.yaml
  infra/ansible/templates/home/op/dot.cshrc
Due: check-license, check-todo, typos, yaml-format

ansible: bootstrap NUC with Ansible to install python
  infra/ansible/README.md
Due: check-license, check-todo, markdown-format, typos

infra: add ansible configuration
  infra/ansible/ansible.cfg
Due: check-license, check-todo, typos

infra: move main playbooks under infra/ansible
  infra/ansible/README.md
  infra/ansible/nuc.yaml
  infra/ansible/nuc_bootstrap.yaml
  infra/ansible/playbook/nuc.yaml
Due: check-license, check-todo, markdown-format, typos, yaml-format

home: add ansible LSP and lint
  home/brew/packages.txt
  home/nvim/lua/config/lsp.lua
Due: check-license, check-todo, typos

nvim: set yaml.ansible for yaml files in ansible projects
  home/nvim/ftdetect/Makefile
  home/nvim/ftdetect/yaml.ansible.lua
Due: check-license, check-todo, typos

pre-commit: format ordinary and Ansible YAML files
  .pre-commit-config.yaml
  check/yaml-lint
Due: check-license, check-todo, typos, yaml-format

infra: run ansible playbooks through ansible-lint
  infra/ansible/nuc.yaml
  infra/ansible/nuc_bootstrap.yaml
  infra/ansible/playbook/internal/autoboot.yaml
  infra/ansible/playbook/internal/ntp.yaml
  infra/ansible/playbook/internal/periodic.yaml
  infra/ansible/playbook/internal/pf.yaml
  infra/ansible/playbook/internal/pkg.yaml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/internal/ssh.yaml
  infra/ansible/playbook/internal/syslog.yaml
  infra/ansible/playbook/internal/templates/etc/pf.conf
  infra/ansible/playbook/internal/templates/usr/local/etc/pkg/repos/FreeBSD.conf
  infra/ansible/playbook/internal/zfs.yaml
Due: check-license, check-todo, typos, yaml-format

infra: lock ansible requirements
  infra/ansible/requirements.yaml
Due: check-license, check-todo, typos, yaml-format

check-license: treat .yml as YAML files
  check/cmd/check-license/internal/fix/run.go
  check/cmd/check-license/internal/fix/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

infra: migrate nuc_bootstrap playbook to roles
  infra/ansible/nuc_bootstrap.yaml
  infra/ansible/nuc_bootstrap.yml
  infra/ansible/roles/bootstrap/README.md
  infra/ansible/roles/bootstrap/meta/main.yml
  infra/ansible/roles/bootstrap/tasks/main.yml
  infra/ansible/roles/bootstrap/tasks/pkg_install.yml
  infra/ansible/roles/bootstrap/tasks/user_config.yml
  infra/ansible/roles/bootstrap/templates/user/op/dot.cshrc
  infra/ansible/roles/bootstrap/templates/user/root/dot.cshrc
  infra/ansible/roles/bootstrap/vars/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

nvim: make Lua LSP recognize global vim
  home/nvim/after/lsp/lua_ls.lua
Due: check-license, check-todo, typos

nvim: enable keep-sorted in config files and ansible yaml
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

infra: enable ansible profilers and optimize connections
  infra/ansible/ansible.cfg
Due: check-license, check-todo, typos

infra: switch from ansible.builtin.template to copy in bootstrap role
  infra/ansible/roles/bootstrap/tasks/user_config.yml
Due: check-license, check-todo, typos, yaml-format

nvim: review yaml.ansible plugin
  home/nvim/ftdetect/yaml.ansible.lua
Due: check-license, check-todo, typos

infra: migrate autoboot playbook into ansible role
  infra/ansible/nuc.yaml
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/autoboot.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/meta/main.yml
  infra/ansible/roles/base/tasks/loader_autoboot.yml
  infra/ansible/roles/base/tasks/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

nvim: update yaml skeleton
  nvim/plugin/lab-skeleton/share/new.yaml
Due: check-todo, typos, yaml-format

infra: migrate pkg playook to ansible role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/pkg.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/files/usr/local/etc/pkg/repos/FreeBSD.conf
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/pkg_alias.yml
  infra/ansible/roles/base/tasks/pkg_latest.yml
  infra/ansible/roles/base/vars/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate syslog playbook into the base-role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/syslog.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/syslog.yml
  infra/ansible/roles/base/tasks/sysrc_migrate.yml
  infra/ansible/roles/base/vars/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: convert base_pkg_alias variable to base_pkg.alias
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/pkg_alias.yml
Due: check-license, check-todo, typos, yaml-format
