Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

infra: group package tasks into a block in the base role
  infra/ansible/roles/base/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: migrate ntp playbook to base role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/ntp.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/ntp.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: name main tasks with main_ prefix
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_autoboot.yml
  infra/ansible/roles/base/tasks/main_ntp.yml
  infra/ansible/roles/base/tasks/main_pkg.yml
  infra/ansible/roles/base/tasks/main_syslog.yml
Due: check-license, check-todo, typos, yaml-format

infra: migrate ssh playbook to base-role
  infra/ansible/nuc.yml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_ssh.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate periodic playbook to base-role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/periodic.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_periodic.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate zfs playbook to base-role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/internal/zfs.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_zfs.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: tag stages of the base-role
  infra/ansible/roles/base/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: migrate pf playbook to base-role
  infra/ansible/playbook/internal/pf.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/files/etc/pf.conf
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_pf.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate hostname from the playbook to base-role
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_hostname.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate defaultrouter from playwork to base-role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_routing.yml
  infra/ansible/roles/base/vars/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate moused from playbook to base-role
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_moused.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate powerd from playbook to base-role
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_powerd.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: migrate network from the playbook to base-role
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/ifconfig_bridge.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_network.yml
  infra/ansible/roles/base/tasks/main_routing.yml
  infra/ansible/roles/base/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: complete playbook migration to roles
  infra/ansible/nuc.yml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_dumpdev.yml
Due: check-license, check-todo, typos, yaml-format

infra: add instructions to test ansible playbook
  infra/ansible/README.md
Due: check-license, check-todo, markdown-format, typos

infra: migrate user setup from bootstrap to base role
  infra/ansible/roles/base/README.md
  infra/ansible/roles/base/files/home/op/dot.cshrc
  infra/ansible/roles/base/files/root/dot.cshrc
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_users.yml
  infra/ansible/roles/base/tasks/user_config.yml
  infra/ansible/roles/bootstrap/tasks/main.yml
  infra/ansible/roles/bootstrap/tasks/user_config.yml
  infra/ansible/roles/bootstrap/vars/main.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: install multiple packages in a single task in bootstrap role
  infra/ansible/roles/bootstrap/README.md
  infra/ansible/roles/bootstrap/tasks/main.yml
  infra/ansible/roles/bootstrap/tasks/pkg_install.yml
Due: check-license, check-todo, markdown-format, typos, yaml-format

infra: review bootstrap-role variables
  infra/ansible/nuc_bootstrap.yml
  infra/ansible/roles/bootstrap/tasks/main.yml
  infra/ansible/roles/bootstrap/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: quote task name in bootstrap role
  infra/ansible/roles/bootstrap/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: review variables in base-role
  infra/ansible/nuc.yml
  infra/ansible/roles/base/tasks/ifconfig_bridge.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/main_autoboot.yml
  infra/ansible/roles/base/tasks/main_dumpdev.yml
  infra/ansible/roles/base/tasks/main_hostname.yml
  infra/ansible/roles/base/tasks/main_moused.yml
  infra/ansible/roles/base/tasks/main_network.yml
  infra/ansible/roles/base/tasks/main_ntp.yml
  infra/ansible/roles/base/tasks/main_periodic.yml
  infra/ansible/roles/base/tasks/main_pf.yml
  infra/ansible/roles/base/tasks/main_pkg.yml
  infra/ansible/roles/base/tasks/main_powerd.yml
  infra/ansible/roles/base/tasks/main_routing.yml
  infra/ansible/roles/base/tasks/main_ssh.yml
  infra/ansible/roles/base/tasks/main_syslog.yml
  infra/ansible/roles/base/tasks/main_users.yml
  infra/ansible/roles/base/tasks/main_zfs.yml
  infra/ansible/roles/base/tasks/pkg_alias.yml
  infra/ansible/roles/base/tasks/pkg_latest.yml
  infra/ansible/roles/base/tasks/sysrc_migrate.yml
  infra/ansible/roles/base/tasks/user_config.yml
  infra/ansible/roles/base/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: snake case notification topics
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/tasks/ifconfig_bridge.yml
  infra/ansible/roles/base/tasks/main_network.yml
  infra/ansible/roles/base/tasks/main_ntp.yml
  infra/ansible/roles/base/tasks/main_pf.yml
  infra/ansible/roles/base/tasks/main_routing.yml
  infra/ansible/roles/base/tasks/main_ssh.yml
  infra/ansible/roles/base/tasks/main_syslog.yml
  infra/ansible/roles/base/tasks/pkg_latest.yml
Due: check-license, check-todo, typos, yaml-format

infra: split base-role handlers
  infra/ansible/roles/base/handlers/main.yml
  infra/ansible/roles/base/handlers/sub_network.yml
  infra/ansible/roles/base/handlers/sub_ntp.yml
  infra/ansible/roles/base/handlers/sub_pf.yml
  infra/ansible/roles/base/handlers/sub_pkg.yml
  infra/ansible/roles/base/handlers/sub_ssh.yml
  infra/ansible/roles/base/handlers/sub_syslog.yml
Due: check-license, check-todo, typos, yaml-format

infra: rename sub-tasks to sub_ prefix
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/sub_autoboot.yml
  infra/ansible/roles/base/tasks/sub_dumpdev.yml
  infra/ansible/roles/base/tasks/sub_hostname.yml
  infra/ansible/roles/base/tasks/sub_moused.yml
  infra/ansible/roles/base/tasks/sub_network.yml
  infra/ansible/roles/base/tasks/sub_ntp.yml
  infra/ansible/roles/base/tasks/sub_periodic.yml
  infra/ansible/roles/base/tasks/sub_pf.yml
  infra/ansible/roles/base/tasks/sub_pkg.yml
  infra/ansible/roles/base/tasks/sub_powerd.yml
  infra/ansible/roles/base/tasks/sub_routing.yml
  infra/ansible/roles/base/tasks/sub_ssh.yml
  infra/ansible/roles/base/tasks/sub_syslog.yml
  infra/ansible/roles/base/tasks/sub_users.yml
  infra/ansible/roles/base/tasks/sub_zfs.yml
Due: check-license, check-todo, typos, yaml-format

home: use vim.fs.root to detect if yaml is in ansible project
  home/nvim/ftdetect/yaml.ansible.lua
Due: check-license, check-todo, typos

nvim: remove executable bit from the installation of ftdetect file
  home/nvim/ftdetect/Makefile
Due: check-license, check-todo, typos

nvim: format ft=conf files with keep-sorted
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

nvim: use yaml-skeleton for yaml.ansible files
  home/nvim/lua/config/lab-skeleton.lua
Due: check-license, check-todo, typos

nvim: add dummy extension yaml.extension to fix checkhealth
  home/nvim/ftdetect/yaml.ansible.lua
Due: check-license, check-todo, typos

infra: create jail-role to bootstrap server for jails
  infra/ansible/nuc.yml
  infra/ansible/roles/jail/handlers/main.yml
  infra/ansible/roles/jail/handlers/sub_jail.yml
  infra/ansible/roles/jail/meta/main.yml
  infra/ansible/roles/jail/tasks/main.yml
  infra/ansible/roles/jail/tasks/sub_bootstrap.yml
  infra/ansible/roles/jail/templates/etc/jail.conf.j2
  infra/ansible/roles/jail/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: place ansible_async_dir in /var/tmp on nuc.lab.net
  infra/ansible/ansible.cfg
  infra/ansible/inventory/lab.yaml
Due: check-license, check-todo, typos, yaml-format

infra: async restart netif and routing services with ansible
  infra/ansible/roles/base/handlers/sub_network.yml
Due: check-license, check-todo, typos, yaml-format

infra: split base-role variables between defaults and host vars
  infra/ansible/inventory/lab.yaml
  infra/ansible/roles/base/defaults/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: move bootstrap-role vars into defaults
  infra/ansible/roles/bootstrap/defaults/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: move jail-role vars to defaults
  infra/ansible/inventory/lab.yaml
  infra/ansible/roles/jail/defaults/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: move bridge create for intra-jail from jail- to base-role
  infra/ansible/inventory/lab.yaml
  infra/ansible/roles/base/tasks/ifconfig_bridge.yml
  infra/ansible/roles/base/tasks/sub_network.yml
  infra/ansible/roles/jail/tasks/sub_bootstrap.yml
Due: check-license, check-todo, typos, yaml-format

infra: group tasks in base-role into no-network and with-network access
  infra/ansible/roles/base/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: order base-role handlers by priority
  infra/ansible/roles/base/handlers/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: document jail role and remove unnecessary handlers flush
  infra/ansible/roles/jail/tasks/main.yml
  infra/ansible/roles/jail/tasks/sub_bootstrap.yml
Due: check-license, check-todo, typos, yaml-format

infra: bootstrap python with ansible.builtin.raw
  infra/ansible/roles/bootstrap/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: flatten base- and jail-role variables
  infra/ansible/inventory/lab.yaml
  infra/ansible/nuc.yml
  infra/ansible/roles/base/defaults/main.yml
  infra/ansible/roles/base/tasks/ifconfig_bridge.yml
  infra/ansible/roles/base/tasks/main.yml
  infra/ansible/roles/base/tasks/pkg_latest.yml
  infra/ansible/roles/base/tasks/sub_network.yml
  infra/ansible/roles/base/tasks/sub_pkg.yml
  infra/ansible/roles/base/tasks/sub_routing.yml
  infra/ansible/roles/base/tasks/sub_ssh.yml
  infra/ansible/roles/base/tasks/sub_users.yml
  infra/ansible/roles/jail/defaults/main.yml
  infra/ansible/roles/jail/tasks/main.yml
  infra/ansible/roles/jail/tasks/sub_bootstrap.yml
Due: check-license, check-todo, typos, yaml-format
