Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

balancer: demo of a balancer
  x/balancer/internal/balancer/balancer.go
  x/balancer/internal/balancer/client.go
  x/balancer/internal/balancer/pool.go
  x/balancer/internal/balancer/request.go
  x/balancer/internal/balancer/worker.go
  x/balancer/main.go
Due: check-copyright, check-go-test, goimports, typos

proto: format with clang-format
  .pre-commit-config.yaml
  home/vimrc.d/format.vim
Due: check-copyright, typos, yaml-format

pkg: install protobuf Go bindings
  home/pkg/packages.txt
Due: check-copyright, typos

rss: add a proto schema for a feed
  x/rss/cmd/rssreader/internal/pb/feed.pb.go
  x/rss/cmd/rssreader/internal/pb/feed.proto
  x/rss/cmd/rssreader/internal/pb/gen.go
Due: check-copyright, check-go-test, goimports, typos

feed: implement subscription with local file feeds
  README.md
  go.mod
  go.sum
  x/README.md
  x/feed/README.md
  x/feed/cmd/feedreader/README.md
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/feed.go
  x/feed/internal/feed/fetch.go
  x/feed/internal/feed/subscribe.go
  x/feed/internal/pb/feed.pb.go
  x/feed/internal/pb/feed.proto
  x/feed/internal/pb/gen.go
Due: check-copyright, check-go-test, goimports, markdown-format, typos

book-ostep: add fork example
  .pre-commit-config.yaml
  book/ostep/README.md
  book/ostep/process/README.md
  book/ostep/process/fork/Makefile
  book/ostep/process/fork/README.md
  book/ostep/process/fork/main.c
Due: check-copyright, clang-format, clang-tidy, markdown-format, typos, yaml-format

vim: fix protobuf skeleton
  home/vim/templates/skel.proto
Due: check-copyright, typos

vim: add C skeleton template
  home/vim/templates/skel.c
  home/vim/templates/skel_main.c
  home/vimrc.d/skeleton.vim
Due: check-copyright, clang-format, clang-tidy, typos

book-ostep: demo wait for a forked child
  book/ostep/process/wait/Makefile
  book/ostep/process/wait/main.c
Due: check-copyright, clang-format, clang-tidy, typos

book-ostep: describe wait demo
  book/ostep/process/wait/README.md
Due: check-copyright, markdown-format, typos

check-license: skip binary files
  check/cmd/check-license/internal/license/run.go
Due: check-copyright, check-go-test, goimports, typos

book-ostep: add exec example
  book/ostep/process/README.md
  book/ostep/process/exec/Makefile
  book/ostep/process/exec/README.md
  book/ostep/process/exec/main.c
Due: check-copyright, clang-format, clang-tidy, markdown-format, typos

feed: add updated and published time to the item
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/feed.go
  x/feed/internal/feed/fetch.go
Due: check-copyright, check-go-test, goimports, typos

feed: stream items in subscribe, fetch returns a slice
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/feed.go
  x/feed/internal/feed/fetch.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

vim: enable spell checker for commit messages
  home/vimrc
  home/vimrc.d/spell.vim
Due: check-copyright, typos

feed: fix the output eol
  x/feed/cmd/feedreader/main.go
Due: check-copyright, check-go-test, goimports, typos

feed: move feed stream type to the subscriber
  x/feed/internal/feed/feed.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

feed: add atom feed kind
  x/feed/internal/pb/feed.pb.go
  x/feed/internal/pb/feed.proto
Due: check-copyright, check-go-test, goimports, typos

feed: introduce a subscription
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/subscribe.go
Due: check-copyright, check-go-test, goimports, typos

x/ast: dump an ast of a Go file
  x/ast/main.go
Due: check-copyright, check-go-test, goimports, typos

ast: parse comments
  x/ast/main.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check that exported functions have documentation
  .pre-commit-config.yaml
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/run_test.go
  check/cmd/check-godoc/main.go
Due: check-copyright, check-go-test, goimports, typos, yaml-format

check-godoc: check variables
  check/cmd/check-godoc/internal/check/kind_string.go
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/run_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: split check and run
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/run_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: verify types have documentation
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/kind_string.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check constants for documentation
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/kind_string.go
Due: check-copyright, check-go-test, goimports, typos

ast: parse package if the argument is a folder
  x/ast/main.go
Due: check-copyright, check-go-test, goimports, typos

check-go-test: skip testdata
  check/cmd/check-go-test/internal/check/run.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check package documentation
  .pre-commit-config.yaml
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/testdata/doc/a.go
  check/cmd/check-godoc/internal/check/testdata/multidoc/a.go
  check/cmd/check-godoc/internal/check/testdata/multidoc/b.go
  check/cmd/check-godoc/internal/check/testdata/multipackage/a.go
  check/cmd/check-godoc/internal/check/testdata/multipackage/b.go
  check/cmd/check-godoc/internal/check/testdata/nodoc/a.go
Due: check-copyright, check-go-test, goimports, typos, yaml-format

check-godoc: isolate check for type spec
  check/cmd/check-godoc/internal/check/check.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check struct fields for documentation
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/kind_string.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check interface methods
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/kind_string.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: move errors into error.go
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/error.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: rename fset variable to fs
  check/cmd/check-godoc/internal/check/check.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: remove unnecessary pass of GenDecl to check type fields
  check/cmd/check-godoc/internal/check/check.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: remove invalid error type check
  check/cmd/check-godoc/internal/check/check.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: continue on failed file
  check/cmd/check-godoc/internal/check/run.go
Due: check-copyright, check-go-test, goimports, typos

home: install check-godoc
  home/go/bin/packages.txt
Due: check-copyright, typos

feed: multiplex subscriptions
  x/feed/cmd/feedreader/main.go
  x/feed/internal/feed/feed.go
  x/feed/internal/feed/fetch.go
  x/feed/internal/feed/subscribe.go
  x/feed/internal/pb/pb.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: check comment line length
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/error.go
Due: check-copyright, check-go-test, goimports, typos
