Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

x/fin: move rates of return calculators to ror package
  x/fin/internal/ror/doc.go
  x/fin/internal/ror/rates.go
  x/fin/internal/ror/rates_test.go
  x/fin/internal/strategy/hold.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: move strategy quote to position
  x/fin/internal/fin/position.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/retain.go
  x/fin/internal/strategy/retain_test.go
  x/fin/internal/strategy/strategy.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: introduce balance
  x/fin/internal/fin/balance.go
  x/fin/internal/fin/quote.go
  x/fin/internal/report/strategy.go
  x/fin/internal/report/txt/quote.txt
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/hold_test.go
  x/fin/internal/strategy/retain_test.go
  x/fin/internal/strategy/strategy.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: create a strategy driver
  x/fin/internal/strategy/driver.go
  x/fin/internal/strategy/driver_test.go
  x/fin/internal/tests/balance.go
  x/fin/internal/tests/record.go
  x/fin/internal/tests/time.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: add rebalance function to emulate strategies
  x/fin/internal/strategy/driver.go
  x/fin/internal/strategy/driver_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: test report for a single strategy
  x/fin/internal/report/strategy.go
  x/fin/internal/report/strategy_test.go
  x/fin/internal/report/testdata/strategy.txt
  x/fin/internal/report/testdata/strategy_no_end_balance.txt
  x/fin/internal/report/testdata/strategy_no_start_balance.txt
  x/fin/internal/tests/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: test report strategies
  .pre-commit-config.yaml
  x/fin/internal/report/strategy.go
  x/fin/internal/report/strategy_test.go
  x/fin/internal/report/testdata/strategies_one.txt
  x/fin/internal/report/testdata/strategies_two.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos, yaml-format

x/fin: clean strategy driver test for readability
  x/fin/internal/strategy/driver_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: implement reinvest dividend as rebalance func
  x/fin/internal/strategy/reinvest.go
  x/fin/internal/strategy/reinvest_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: implement withdraw as rebalance func
  x/fin/internal/strategy/withdraw.go
  x/fin/internal/strategy/withdraw_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: use strategy driver with rebalancers
  x/fin/cmd/finsim/runners.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: remove simulation package
  x/fin/internal/sim/doc.go
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: remove hold and reinvest div strategies
  x/fin/internal/strategy/driver_test.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/hold_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: remove retain strategy
  x/fin/internal/strategy/retain.go
  x/fin/internal/strategy/retain_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: remove stratey cycler and runner
  x/fin/internal/strategy/strategy.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: do not print date in strategy report if zero value
  x/fin/internal/report/testdata/strategy_no_end_balance.txt
  x/fin/internal/report/testdata/strategy_no_start_balance.txt
  x/fin/internal/report/txt/quote.txt
Due: check-license, check-todo, typos

x/fin: performance has 10-2 precision
  x/fin/internal/report/testdata/strategies_one.txt
  x/fin/internal/report/testdata/strategies_two.txt
  x/fin/internal/report/testdata/strategy.txt
  x/fin/internal/report/testdata/strategy_no_end_balance.txt
  x/fin/internal/report/txt/strategy.txt
Due: check-license, check-todo, typos

x/fin: rename report quote.txt to balance.txt
  x/fin/internal/report/txt/balance.txt
  x/fin/internal/report/txt/strategy.txt
Due: check-license, check-todo, typos

infra: restructure jail doc
  infra/doc/README.md
  infra/doc/jail/README.md
  infra/doc/jail/freebsd_jail.md
Due: check-license, check-todo, markdown-format, typos

infra: add instructions to setup Alpine Linux jail
  infra/doc/jail/README.md
  infra/doc/jail/alpine_linux.md
Due: check-license, check-todo, markdown-format, typos

infra: install Bazel in Alpine jail
  infra/doc/jail/alpine_linux.md
Due: check-license, check-todo, markdown-format, typos

x/fin: create a simulate command
  x/fin/cmd/finsim/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: consolidate create and new registry
  x/fin/cmd/finsim/main.go
  x/fin/cmd/finsim/registry.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: run a single strategy from a separate function
  x/fin/cmd/finsim/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: remove slices from strategy driver
  x/fin/internal/strategy/driver.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: run strategies over cycles of data
  x/fin/cmd/finsim/main.go
  x/fin/internal/report/simulation.go
  x/fin/internal/report/simulation_test.go
  x/fin/internal/report/testdata/simulation/empty.txt
  x/fin/internal/report/testdata/simulation/one_strategy.txt
  x/fin/internal/report/testdata/simulation/two_strategies.txt
  x/fin/internal/report/txt/result.txt
  x/fin/internal/report/txt/simulation.txt
  x/fin/internal/sim/doc.go
  x/fin/internal/sim/runner.go
  x/fin/internal/sim/runner_test.go
  x/fin/internal/stat/describe.go
  x/fin/internal/stat/describe_test.go
  x/fin/internal/stat/doc.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/fin: add consumer price index
  x/fin/internal/csv/parse.go
  x/fin/internal/csv/read_test.go
  x/fin/internal/pb/market.pb
  x/fin/internal/pb/market.pb.go
  x/fin/internal/pb/market.proto
  x/fin/internal/ror/rates_test.go
  x/fin/internal/strategy/driver_test.go
  x/fin/internal/tests/record.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

ostep: implement fifo scheduler
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/sched_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: scheduler takes job-spec flag
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: describe fifo scheduler
  book/ostep/cpu/README.md
  book/ostep/cpu/cmd/scheduler/README.md
Due: check-license, check-todo, markdown-format, typos

ostep: add a flag to print scheduler trace (default: off)
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: print scheduler stats using templates
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: remove trace from fifo scheduler run example
  book/ostep/cpu/cmd/scheduler/README.md
Due: check-license, check-todo, markdown-format, typos

ostep: add shortest-job-first scheduler policy
  book/ostep/cpu/cmd/scheduler/README.md
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/sched_string.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep: job spec includes optional arrival time
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: separate scheduler and policy logic
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: rename -sched flag to -policy
  book/ostep/cpu/cmd/scheduler/README.md
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/policy_string.go
  book/ostep/cpu/cmd/scheduler/sched_string.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep: move scheduler report into report.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: store JobSpec inside the job
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/report.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: advance clock cycle after jobs run
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
