Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

check-go-test: move collect packages into a function
  check/cmd/check-go-test/internal/check/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: convert invert into an interface
  check/cmd/check-go-test/internal/check/event.go
  check/cmd/check-go-test/internal/check/event_test.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove unused tester.Test
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: add coverage to test events
  check/cmd/check-go-test/internal/check/event.go
  check/cmd/check-go-test/internal/check/event_test.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: add coverage flag
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: place error input failed test
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove VisitFails from tester
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: apply options to the tester
  check/cmd/check-go-test/internal/check/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: rename test event
  check/cmd/check-go-test/internal/check/event.go
  check/cmd/check-go-test/internal/check/event_test.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
  check/cmd/check-go-test/internal/test/event.go
  check/cmd/check-go-test/internal/test/event_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove failed event ids from tester state
  check/cmd/check-go-test/internal/check/error.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: remove state from tester
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: rename coverage flag to -cover and set to 0
  check/cmd/check-go-test/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: introduce a coverage error
  check/cmd/check-go-test/internal/check/error.go
  check/cmd/check-go-test/internal/check/event.go
  check/cmd/check-go-test/internal/check/event_test.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

pre-commit: set Go coverage threshold to 80%
  .pre-commit-config.yaml
Due: check-license, check-todo, typos, yaml-format

check-go-test: split build and test events
  check/cmd/check-go-test/internal/check/error.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nextid: bring test coverage to 89.9%
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
  check/cmd/check-nextid/internal/nextid/testdata/not_proto.txt
  check/cmd/check-nextid/internal/nextid/testdata/valid.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

check-nosubmit: add usage for -h and --help flags
  check/cmd/check-nosubmit/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nosubmit: add tests to cover 100% of the code
  check/cmd/check-nosubmit/internal/nosubmit/run_test.go
  check/cmd/check-nosubmit/internal/nosubmit/testdata/has_no_nosubmit.txt
  check/cmd/check-nosubmit/internal/nosubmit/testdata/has_nosubmit.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-todo: bring test coverage to 96.0%
  check/cmd/check-todo/internal/todo/error.go
  check/cmd/check-todo/internal/todo/error_test.go
  check/cmd/check-todo/internal/todo/run_test.go
  check/cmd/check-todo/internal/todo/testdata/no_todo.txt
  check/cmd/check-todo/internal/todo/testdata/todo.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-issue: bring test coverage to 94.7%
  check/cmd/check-issue/internal/issue/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: cover errors with tests
  check/cmd/check-go-test/internal/check/error.go
  check/cmd/check-go-test/internal/check/error_test.go
  check/cmd/check-go-test/internal/check/tester.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: cover collect packages with tests
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-go-test: test cover check to 89%
  check/cmd/check-go-test/internal/check/error.go
  check/cmd/check-go-test/internal/check/error_test.go
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: bring test coverage to above 80%
  x/kscope/internal/ast/node_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/compdb: bring test coverage above 80%
  x/compdb/cmd/compdb/main.go
  x/compdb/internal/bazel/aquery.go
  x/compdb/internal/bazel/aquery_test.go
  x/compdb/internal/compdb/run.go
  x/compdb/internal/compdb/run_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/compdb: support -h/-help flags.
  x/compdb/cmd/compdb/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

bhyve: add instructions to create a bhyve jail
  infra/doc/bhyve/README.md
  infra/doc/bhyve/data/boot/loader.conf.diff
  infra/doc/bhyve/data/etc/devfs.rules
  infra/doc/bhyve/data/etc/jail.conf.d/bhyve.conf.diff
  infra/doc/bhyve/data/etc/pf.conf
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

bhyve: fix jail instructions
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

bhyve: run FreeBSD in a jailed bhyve
  infra/doc/bhyve/data/usr/bhyve/freebsd/freebsd.conf.diff
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

bhyve: setup Ubuntu VM in a jailed bhyve
  infra/doc/bhyve/data/usr/bhyve/ubuntu/ubuntu.conf.diff
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

infra: bhyve jail depends on dns and ldap services
  infra/doc/bhyve/data/etc/jail.conf.d/bhyve.conf.diff
Due: none

infra: remove obsolete enjailed bhyve instructions
  infra/doc/bhyve/enjailed.md
Due: check-license, check-todo, markdown-format, typos

infra: autostart Ubuntu vm in bhyve jail
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

infra: start ubuntu dev setup
  infra/doc/dev/ubuntu.md
Due: check-license, check-todo, markdown-format, typos

infra: describe how to add a user to Ubuntu
  infra/doc/dev/ubuntu.md
Due: check-license, check-todo, markdown-format, typos

infra: run pflog and pass SSH traffic to bhyve VMs
  infra/doc/bhyve/data/etc/pf.conf
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

infra: document how to integrate ubuntu with ldap via sssd
  infra/doc/bhyve/data/etc/ldap/ldap.conf.diff
  infra/doc/bhyve/data/etc/pf.conf
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

infra: bind ssh in Ubuntu VM to local IP address
  infra/doc/bhyve/data/etc/ssh/sshd_config.diff
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

infra: fix default router option in bhyve jail
  infra/doc/bhyve/jailed.md
Due: check-license, check-todo, markdown-format, typos

nvim: add nvim/lua/config init script
  home/nvim/init.lua
  home/nvim/lua/config/init.lua
Due: check-license, check-todo, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
