Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

irex: serve compressed static artifacts
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: compress served web page
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add cursor guide to the plot
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/web/static/plot.js
  book/irex/web/static/plot.ts
Due: check-license, check-todo, html-format, typos

irex: add plot hint value
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/plotter_test.go
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/static/init.js
  book/irex/render/feature/plot/static/init.ts
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/one_quote.js
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/render/feature/plot/testdata/two_quotes.js
  book/irex/web/static/plot.js
  book/irex/web/static/plot.ts
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: use grid layout for the main page
  book/irex/render/static/index.html
Due: check-license, check-todo, html-format, typos

irex: use flex layout for the plot title and guide values
  book/irex/render/feature/plot/static/index.html
Due: check-license, check-todo, html-format, typos

irex: add spx corporate earnings to the market data
  book/irex/csvimport/import_test.go
  book/irex/csvimport/internal/parser/parse.go
  book/irex/csvimport/internal/parser/parse_test.go
  book/irex/csvimport/internal/scanner/scanner_test.go
  book/irex/pb/market.pb.go
  book/irex/pb/market.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: fix golden tests
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/web/testdata/no_query.html
  book/irex/web/testdata/query_ping.html
Due: check-todo, html-format, typos

check-nextid: print all found errors
  check/cmd/check-nextid/internal/nextid/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-nextid: support oneof
  check/cmd/check-nextid/internal/nextid/check.go
  check/cmd/check-nextid/internal/nextid/check_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: restructure symbol to include index and market metric
  book/irex/intent/fulfill_plot.go
  book/irex/market/service/service.go
  book/irex/market/service/service_test.go
  book/irex/pb/symbol.pb.go
  book/irex/pb/symbol.proto
  book/irex/query/feature/plot/parse.go
  book/irex/query/feature/plot/parse_test.go
  book/irex/query/understand_test.go
  book/irex/render/feature/plot/renderer_test.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, proto-doc, proto-format, proto-nextid, typos

irex: move feature fulfillers into packages
  book/irex/intent/feature/ping/fulfill.go
  book/irex/intent/feature/ping/fulfill_test.go
  book/irex/intent/feature/plot/fulfill.go
  book/irex/intent/fulfill.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add spx divident and earnings metric to the market service
  book/irex/market/service/date_range_test.go
  book/irex/market/service/service.go
  book/irex/market/service/service_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add cpi to the market service
  book/irex/market/service/service.go
  book/irex/market/service/service_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add index and market metric to plot query
  book/irex/query/feature/plot/parse.go
  book/irex/query/feature/plot/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: remove plot background
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-license, check-todo, html-format, typos

irex: remove plot nested template from the plot feature
  book/irex/render/feature/plot/static/index.html
Due: check-license, check-todo, html-format, typos

irex: split transformer into tranaslate and scale
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/transformer.go
  book/irex/render/feature/plot/transformer_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: plotter uses translator to translate the graph to viewbox
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/plotter_test.go
  book/irex/render/feature/plot/renderer.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: replace plotter initAxis with init transformer
  book/irex/render/feature/plot/plotter.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: transform graph on the server
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/one_quote.js
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/render/feature/plot/testdata/two_quotes.js
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: move template data structure next to plot templates
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/template.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: remove origin from the plot template data
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/template.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: introduce roundTransformer to remove explicit coords rounding
  book/irex/render/feature/plot/plotter.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: add y-axis labels with axis auto-scale
  book/irex/render/feature/plot/autoscaler.go
  book/irex/render/feature/plot/autoscaler_test.go
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/plotter_test.go
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/template.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: use guide count instead of len()
  book/irex/render/feature/plot/renderer.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: fix graph interaction layer and pointer guides size
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/template.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: show date as month and year without day
  book/irex/web/static/plot.js
  book/irex/web/static/plot.ts
Due: check-license, check-todo, typos

irex: add x-axis labels
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/one_quote.js
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/render/feature/plot/testdata/two_quotes.js
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: fix server test
  book/irex/web/server_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

infra: include pkg jail
  infra/net.lab.nuc/etc/rc.conf.d/jail
Due: check-license, check-todo, typos

infra: update BIOS to 579.30
  infra/doc/nuc/bios.md
Due: check-license, check-todo, markdown-format, typos

infra: update install freebsd instructions for 15.1
  infra/doc/nuc/freebsd_install.md
Due: check-license, check-todo, markdown-format, typos

infra: upgrade bios with monitor connected on hdmi
  infra/doc/nuc/bios.md
Due: check-license, check-todo, markdown-format, typos

infra: update FreeBSD install instructions
  infra/doc/nuc/freebsd_install.md
Due: check-license, check-todo, markdown-format, typos

infra: nuc setup includes manual network
  infra/doc/nuc/freebsd_install.md
Due: check-license, check-todo, markdown-format, typos

infra: update post-install system state
  infra/doc/nuc/freebsd_install.md
Due: check-license, check-todo, markdown-format, typos

infra: add Ansible playbook to bootstrap lab server
  infra/ansible/README.md
  infra/ansible/inventory/lab.yaml
  infra/ansible/playbook/nuc.yaml
  infra/ansible/playbook/nuc_bootstrap.yaml
Due: check-license, check-todo, markdown-format, typos, yaml-format

ansible: add playbooks for loader and pkg
  infra/ansible/playbook/internal/autoboot.yaml
  infra/ansible/playbook/internal/pkg.yaml
  infra/ansible/playbook/internal/rc_isolate.yaml
  infra/ansible/playbook/nuc.yaml
  infra/ansible/templates/usr/local/etc/pkg/repos/FreeBSD.conf
Due: check-license, check-todo, typos, yaml-format

ansible: setup root user with tcsh
  infra/ansible/playbook/nuc_bootstrap.yaml
  infra/ansible/templates/root/dot.cshrc
Due: check-license, check-todo, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
