Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

nvim: remove receiver from the method name in location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: make location list indentation a parameter
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: rename Class with T in the location list for Go
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: add interface to Go location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: highlight exported items in Go location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: attache methods to class in Go location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: Go location list syntax allows one char fields
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: Go location list uses a map of adders
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: add items collector for Go location list
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: pick location item collector and adder by kind or use default
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

ostep: demo memory layout
  book/ostep/README.md
  book/ostep/mem/README.md
  book/ostep/mem/layout/Makefile
  book/ostep/mem/layout/README.md
  book/ostep/mem/layout/main.c
Due: check-license, check-todo, clang-format, clang-tidy, markdown-format, typos

tcsh: color non-zero rc in red
  home/tcshrc.d/prompt.tcsh
Due: check-license, check-todo, typos

ostep/mem/translate: check in skel code with flag parse
  book/ostep/mem/README.md
  book/ostep/mem/translate/README.md
  book/ostep/mem/translate/command.go
  book/ostep/mem/translate/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep/mem/translate: implement address translation
  book/ostep/mem/translate/command.go
  book/ostep/mem/translate/generator.go
  book/ostep/mem/translate/translator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/translate: add report to address translation
  book/ostep/mem/translate/command.go
  book/ostep/mem/translate/report.go
  book/ostep/mem/translate/static/memory.txt
  book/ostep/mem/translate/translator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go/flags: add flag validation to FlagSet
  go/flags/error.go
  go/flags/error_test.go
  go/flags/flag_set.go
  go/flags/flag_set_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim/skeleton: use go-list to fetch package name
  home/nvim/lua/config/lab-skeleton.lua
Due: check-license, check-todo, typos

nvim: edit related file if there is only one without select menu
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

ostep/mem/segment: check in empty command skeleton
  book/ostep/mem/segment/command.go
  book/ostep/mem/segment/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-godoc: accept const line comment for documentation
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/segment: add segment list flag
  book/ostep/mem/segment/command.go
  book/ostep/mem/segment/flags.go
  book/ostep/mem/segment/internal/mem/address.go
  book/ostep/mem/segment/internal/mem/doc.go
  book/ostep/mem/segment/internal/mem/segment.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/segment: print configuration using report
  book/ostep/mem/segment/command.go
  book/ostep/mem/segment/internal/report/report.go
  book/ostep/mem/segment/internal/report/static/report.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/segment: implement address translation with two segments
  book/ostep/mem/README.md
  book/ostep/mem/segment/README.md
  book/ostep/mem/segment/command.go
  book/ostep/mem/segment/flags.go
  book/ostep/mem/segment/internal/mem/address.go
  book/ostep/mem/segment/internal/mem/direction_string.go
  book/ostep/mem/segment/internal/mem/segment.go
  book/ostep/mem/segment/internal/mem/translator.go
  book/ostep/mem/segment/internal/report/report.go
  book/ostep/mem/segment/internal/report/static/report.txt
  book/ostep/mem/segment/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep/mem/allocator: parse flags and print configuration
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/report/report.go
  book/ostep/mem/allocator/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: create an empty heap
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/heap/heap.go
  book/ostep/mem/allocator/internal/report/report.go
  book/ostep/mem/allocator/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostem/mem/allocator: introduce header
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add status bits to the block
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: implement malloc and free
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/block_test.go
  book/ostep/mem/allocator/internal/heap/heap.go
  book/ostep/mem/allocator/internal/report/report.go
  book/ostep/mem/allocator/main.go
  book/ostep/mem/allocator/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

home: upgrade keep-sorted to latest version
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

ostep/mem/allocator: introduce header encoder and decoder
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add noop and forward coalesce modes
  book/ostep/mem/README.md
  book/ostep/mem/allocator/README.md
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/coalescemode_string.go
  book/ostep/mem/allocator/internal/heap/coalescer.go
  book/ostep/mem/allocator/internal/heap/heap.go
  book/ostep/mem/allocator/internal/report/report.go
  book/ostep/mem/allocator/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep/mem/allocator: mark blocks with allocated previous block
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/heap.go
  book/ostep/mem/allocator/internal/report/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add footer to free blocks
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/block_test.go
  book/ostep/mem/allocator/internal/heap/coalescer.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: dump all blocks in the report
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/report/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: remove arena param from heap options
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add backward coalescer
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/coalescemode_string.go
  book/ostep/mem/allocator/internal/heap/coalescer.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: use iterator to walk blocks in the heap
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: update header when coalesce backwards
  book/ostep/mem/allocator/internal/heap/coalescer.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add bidirectional coalescer
  book/ostep/mem/allocator/README.md
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/coalescemode_string.go
  book/ostep/mem/allocator/internal/heap/coalescer.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep/mem/allocator: add alignment
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
