Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

check-license: parameterize year and holder in license
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/data/license_bsd.txt
Due: check-copyright, check-go-test, goimports, typos

check-license: move template input to LicenseData
  check/cmd/check-license/internal/license/check.go
Due: check-copyright, check-go-test, goimports, typos

check-license: remove prefix from license template
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/data/license_bsd.txt
Due: check-copyright, check-go-test, goimports, typos

check-license: pass template input to generate license block
  check/cmd/check-license/internal/license/check.go
Due: check-copyright, check-go-test, goimports, typos

check-license: move template code into license.go
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/license.go
Due: check-copyright, check-go-test, goimports, typos

check-license: pass LicenseData by value
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/license.go
Due: check-copyright, check-go-test, goimports, typos

check-license: introduce license.Add() to inject license
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

check-license: separate license from shebang
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

check-license: -fix injects license if not found
  check/cmd/check-license/internal/license/run.go
  check/cmd/check-license/main.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: enable check-license fix
  .pre-commit-config.yaml
  check/cmd/check-license/check_license
Due: check-copyright, typos, yaml-format

Insert license into root readme with pre-commit
  README.md
Due: check-copyright, markdown-format, typos

check-license: insert empty line after license block
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

check-license: add support for .clangd and .bazel files
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

Insert and update license in the root files
  .bazelignore
  .bazelrc
  .clangd
  .yamlfmt.yaml
  BUILD
Due: check-copyright, typos, yaml-format

book: update license year
  book/algos/c1/s2/fin/transaction.go
  book/algos/c1/s2/fin/transaction_test.go
  book/algos/c2/s4/cmd/multiway/main.go
  book/algos/c2/s4/cmd/topm/main.go
  book/algos/c2/s4/queue/binary_heap_pq.go
  book/algos/c2/s4/queue/map_binary_heap_pq.go
  book/algos/c2/s4/queue/map_binary_heap_pq_test.go
  book/algos/c2/s4/queue/ordered_array_pq.go
  book/algos/c2/s4/queue/priority_queue_test.go
  book/algos/c2/s4/queue/unordered_array_pq.go
Due: check-copyright, check-go-test, goimports, typos

check: update license
  check/cmd/check-go-test/internal/check/doc.go
  check/cmd/check-go-test/internal/check/filter.go
  check/cmd/check-go-test/internal/check/filter_test.go
  check/cmd/check-go-test/internal/check/run.go
  check/cmd/check-go-test/internal/check/run_test.go
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
  check/cmd/check-go-test/internal/test/event.go
  check/cmd/check-go-test/internal/test/event_test.go
  check/cmd/check-go-test/main.go
  check/cmd/check-issue/internal/issue/run.go
  check/cmd/check-issue/internal/issue/run_test.go
  check/cmd/check-issue/main.go
  check/cmd/check-license/internal/license/check_test.go
  check/cmd/check-license/internal/license/run.go
  check/cmd/check-license/main.go
  check/cmd/check-nosubmit/internal/nosubmit/run.go
  check/cmd/check-nosubmit/internal/nosubmit/run_test.go
  check/cmd/check-nosubmit/main.go
  check/cmd/check-todo/internal/todo/run.go
  check/cmd/check-todo/internal/todo/run_test.go
  check/cmd/check-todo/main.go
Due: check-copyright, check-go-test, goimports, typos

freebsd: add license and run pre-commit hooks
  freebsd/rc/doc/README.md
  freebsd/rc/doc/rcorder.md
  freebsd/rc/rc_jail
Due: check-copyright, markdown-format, typos

check-license: check files in parallel
  check/cmd/check-license/internal/license/run.go
Due: check-copyright, check-go-test, goimports, typos

go: add license with pre-commit
  go/flags/doc.go
  go/flags/string_list.go
  go/flags/string_list_example_test.go
  go/flags/string_list_test.go
  go/tests/cmp.go
  go/tests/cmp_test.go
  go/tests/doc.go
  go/tests/golden_file.go
  go/tests/golden_file_test.go
Due: check-copyright, check-go-test, goimports, typos

home: update license
  home/README.md
  home/ctags.d/Makefile
  home/ctags.d/exclude.ctags
  home/doc/vim_plugins.md
  home/gitconfig
  home/go/Makefile
  home/rust/Makefile
  home/rust/packages.txt
  home/tcshrc
  home/tmux.conf
  home/vim/Makefile
  home/vim/pack/plugins.txt
  home/vim/templates/Makefile
  home/vimrc.d/Makefile
Due: check-copyright, markdown-format, typos

check-license: add .conf, .txt, .ctags
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

x: add license, apply pre-commit hooks
  x/abseil/codelab/BUILD
  x/abseil/codelab/MODULE.bazel
  x/abseil/codelab/README.md
  x/abseil/codelab/hello_world.cc
  x/freebsd/jail/README.md
  x/freebsd/jail/data/etc/jail.conf.d/demo.conf
  x/freebsd/jail/data/jflags.out
  x/freebsd/jail/data/jparams_demo.json
  x/freebsd/jail/data/jparams_demo_json
  x/go/doc/padding.md
  x/go/flags/required.go
  x/go/flags/required_test.go
  x/go/json/doc.go
  x/go/json/example_test.go
  x/mdview/internal/mdview/testdata/basic.md
  x/mdview/internal/mdview/testdata/basic_golden.html
  x/proto/README.md
  x/proto/doc/grpc_go.md
  x/proto/doc/protoc_go.md
  x/proto/doc/txtpb_go.md
  x/proto/pb/foo.pb.go
  x/proto/pb/foo.proto
  x/proto/pb/foo_example_txtpb_test.go
  x/proto/pb/fooer.pb.go
  x/proto/pb/fooer.proto
  x/proto/pb/fooer_grpc.pb.go
  x/proto/pb/gen.go
  x/tools/cmd/urlescape/urlescape.go
Due: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos

check-license: add .bazel and .proto
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

check-license: add .vim format
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

check-license: report if git-config(1) fails
  check/cmd/check-license/check_license
Due: check-copyright, typos

vim: update license and run pre-commit hooks
  vim/Makefile
  vim/autoload/Makefile
  vim/autoload/go.vim
  vim/autoload/lab/Makefile
  vim/autoload/relatedfile.vim
  vim/colors/Makefile
  vim/colors/lab.vim
  vim/ftplugin/Makefile
  vim/ftplugin/go_doc.vim
  vim/plugin/Makefile
  vim/plugin/relatedfile.vim
Due: check-copyright, typos

toolchain: update license
  toolchain/BUILD
  toolchain/cc_toolchain_config.bzl
Due: check-copyright, typos

check-license: add .txtpb
  check/cmd/check-license/internal/license/fix.go
  check/cmd/check-license/internal/license/fix_test.go
Due: check-copyright, check-go-test, goimports, typos

infra: add license
  infra/doc/dev/data/doas.conf
  infra/doc/dev/freebsd.md
  infra/doc/dev/linux.md
  infra/doc/dns/README.md
  infra/doc/dns/server/zones.conf.d/lab.net.conf
  infra/doc/dns/setup_client.md
  infra/doc/dns/setup_server.md
  infra/doc/jail/README.md
  infra/doc/jail/bootstrap.md
  infra/doc/jail/data/jail.conf.d/ubuntu_bootstrap.conf
  infra/doc/jail/data/jail.conf.d/ubuntu_config.conf
  infra/doc/jail/data/sshd_config.d/lab.net.conf
  infra/doc/jail/freebsd_jail.md
  infra/doc/jail/freebsd_template.md
  infra/doc/jail/freebsd_template_base.md
  infra/doc/jail/ubuntu_jail.md
  infra/doc/jail/ubuntu_template.md
  infra/doc/ldap/README.md
  infra/doc/ldap/setup_client.md
  infra/doc/ldap/setup_server.md
  infra/doc/ldap/sudo.md
  infra/doc/nginx/data/newsyslog_nginx.conf
  infra/doc/nginx/data/syslog_nginx.conf
  infra/doc/nginx/setup.md
  infra/doc/nuc/README.md
  infra/doc/nuc/bios.md
  infra/doc/nuc/clean.md
  infra/doc/nuc/freebsd_configure.md
  infra/doc/nuc/freebsd_install.md
  infra/doc/nuc/rc.md
  infra/doc/ssh/README.md
  infra/laptop/README.md
  infra/laptop/Users/skhalatyan/.ssh/config
  infra/laptop/doc/ssh.md
  infra/net.lab.dev/README.md
  infra/net.lab.dns/README.md
  infra/net.lab.jammy/README.md
  infra/net.lab.ldap/README.md
  infra/net.lab.nuc/README.md
Due: check-copyright, markdown-format, typos

home: install python
  home/pkg/packages.txt
Due: check-copyright, typos

x: add balancer example
  x/go/concurrency/balancer/README.md
  x/go/concurrency/balancer/main.go
Due: check-copyright, check-go-test, goimports, markdown-format, typos

home: add markdown template
  .pre-commit-config.yaml
  home/vim/templates/skel.md
Due: check-copyright, markdown-format, typos, yaml-format

pkg: install protobuf
  home/pkg/packages.txt
Due: check-copyright, typos

Move balancer demo to roundrobin package
  x/go/concurrency/balancer/roundrobin/README.md
  x/go/concurrency/balancer/roundrobin/main.go
Due: check-copyright, check-go-test, goimports, markdown-format, typos

vim: remove cursorline
  home/vimrc
Due: check-copyright, typos

Describe projects in top-level readme
  README.md
Due: check-copyright, markdown-format, typos

book: demo cpu scheduler
  README.md
  book/README.md
  book/ostep/README.md
  book/ostep/cpu/README.md
  book/ostep/cpu/cmd/process-run/README.md
  book/ostep/cpu/cmd/process-run/internal/scheduler/instruction_string.go
  book/ostep/cpu/cmd/process-run/internal/scheduler/process.go
  book/ostep/cpu/cmd/process-run/internal/scheduler/processstate_string.go
  book/ostep/cpu/cmd/process-run/internal/scheduler/scheduler.go
  book/ostep/cpu/cmd/process-run/main.go
Due: check-copyright, check-go-test, goimports, markdown-format, typos

vim: use protobuf edition 2024 in skeleton
  home/vim/templates/skel.proto
Due: check-copyright, typos
