Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: buildifier
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: buildifier-lint
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: check-copyright
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [markdown]
    exclude: "(go\\.(mod|sum)|MODULE\\.bazel\\.lock|.*/(test)?data/.*|_string.go$)"
  - id: check-go-test
    name: check-go-test
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: check-issue
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: check-nosubmit
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: check-todo
    entry: check-todo
    language: system
  - id: clang-format
    name: clang-format
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: clang-tidy
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: goimports
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: keep-sorted
    name: keep-sorted
    entry: keep-sorted
    language: system
  - id: make-lint
    name: make-lint
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: markdown-format
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: no-binary
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: shell-format
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: shell-no-extension
    entry: "Shell executable scripts should not have an extension"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: txtpb-format
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: typos
    entry: typos
    language: system
    types: [text]
    exclude: "^.*\\.diff$"
  - id: yaml-format
    name: yaml-format
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

check-go-test: decode build events
  check/cmd/check-go-test/internal/check/tester.go
  check/cmd/check-go-test/internal/check/tester_test.go
Due: check-copyright, check-go-test, goimports, typos

check-go-test: remove redundant ./
  check/cmd/check-go-test/internal/check/run.go
Due: check-copyright, check-go-test, goimports, typos

pkg: install Go debugger delve
  home/go/bin/packages.txt
  home/pkg/packages.txt
Due: check-copyright, typos

mdview: serve files from URL path
  x/mdview/internal/mdview/run.go
  x/mdview/main.go
Due: check-copyright, check-go-test, goimports, typos

mdview: pick http address from flags
  x/mdview/internal/mdview/run.go
  x/mdview/main.go
Due: check-copyright, check-go-test, goimports, typos

Install npm and prettier package
  home/Makefile
  home/npm/Makefile
  home/npm/packages.txt
  home/pkg/packages.txt
Due: check-copyright, typos

pre-commit: format HTML
  .pre-commit-config.yaml
  .prettierrc.json
Due: check-copyright, typos, yaml-format

vim: format HTML with prettier
  home/vimrc.d/format.vim
Due: check-copyright, typos

mdview: separate run and serve http
  x/mdview/internal/mdview/run.go
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: move all http related code into serve.go
  x/mdview/internal/mdview/run.go
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: remove premature timeout optimization
  x/mdview/internal/mdview/html.go
  x/mdview/internal/mdview/html_test.go
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: use log to print debug messages
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: consolidate render logic in one function
  x/mdview/internal/mdview/html.go
  x/mdview/internal/mdview/html_test.go
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: separate file stats and rendered markdown
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: remove unused ErrInternalServer
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: rename html.go to render.go
  x/mdview/internal/mdview/render.go
  x/mdview/internal/mdview/render_test.go
Due: check-copyright, check-go-test, goimports, typos

Revert "pkg: install Go debugger delve"
  home/go/bin/packages.txt
  home/pkg/packages.txt
Due: check-copyright, typos

check-copyright: capture comment prefix
  check/cmd/check-copyright/internal/copyright/run.go
  check/cmd/check-copyright/internal/copyright/run_test.go
Due: check-copyright, check-go-test, goimports, typos

mdview: render markdown in an HTML template
  x/mdview/internal/mdview/html/main.html
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: add file info block
  x/mdview/internal/mdview/html/info.html
  x/mdview/internal/mdview/html/main.html
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: include access and modify time in file info
  x/mdview/internal/mdview/html/info.html
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: make file path relative
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: add github markdown style
  x/mdview/internal/mdview/html/main.html
Due: check-copyright, typos

go: install mdview
  home/go/bin/packages.txt
Due: check-copyright, typos

pre-commit: skip whitespace check in diff(1)
  .pre-commit-config.yaml
Due: check-copyright, typos, yaml-format

cluster: format markdown files
  cluster/laptop/README.md
  cluster/laptop/doc/ssh.md
  cluster/net.lab.dev/README.md
  cluster/net.lab.jammy/README.md
  cluster/net.lab.ldap/README.md
Due: markdown-format, typos

home: install go/bin/present
  home/go/bin/packages.txt
Due: check-copyright, typos

mdview: distinguish file does not exist error
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

mdview: pick up README.md if URL path is folder
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: enable copyright check for markdown
  .pre-commit-config.yaml
Due: check-copyright, typos, yaml-format

pre-commit: describe checks in the name field
  .pre-commit-config.yaml
Due: check-copyright, typos, yaml-format

check-copyright: move copyright template into a file
  check/cmd/check-copyright/internal/copyright/data/license_bsd.txt
  check/cmd/check-copyright/internal/copyright/run.go
Due: check-copyright, check-go-test, goimports, typos

check-copyright: separate not found and invalid errors
  check/cmd/check-copyright/internal/copyright/run.go
  check/cmd/check-copyright/internal/copyright/run_test.go
Due: check-copyright, check-go-test, goimports, typos

check-copyright: move to check-license
  .pre-commit-config.yaml
  check/cmd/check-license/internal/license/data/license_bsd.txt
  check/cmd/check-license/internal/license/run.go
  check/cmd/check-license/internal/license/run_test.go
  check/cmd/check-license/main.go
  home/go/bin/packages.txt
Due: check-copyright, check-go-test, goimports, typos, yaml-format

check-license: split run and check
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/run.go
Due: check-copyright, check-go-test, goimports, typos

check-license: isolate test for check fn
  check/cmd/check-license/internal/license/check.go
  check/cmd/check-license/internal/license/check_test.go
  check/cmd/check-license/internal/license/run.go
Due: check-copyright, check-go-test, goimports, typos

check-license: remove configuration
  check/cmd/check-license/internal/license/run.go
  check/cmd/check-license/main.go
Due: check-copyright, check-go-test, goimports, typos

check-license: split licence block and regex compile
  check/cmd/check-license/internal/license/check.go
Due: check-copyright, check-go-test, goimports, typos

mdview: wrap HTTP errors in http.Handler
  x/mdview/internal/mdview/serve.go
Due: check-copyright, check-go-test, goimports, typos
