Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

ostep/mem/allocator: add blocks scanner
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add first-fit allocator
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocate: add best fit allocator
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/allocatemode_string.go
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/heap.go
  book/ostep/mem/allocator/internal/report/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add operations flag
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: print operation before heap blocks
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/report/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: use iterator to go through blocks
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/report/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

home: upgrade go packages
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

nvim: fix +q4D73 appear at Neovim start.
  home/nvim/init.lua
Due: check-license, check-todo, typos

bazel: update deps
  MODULE.bazel
  MODULE.bazel.lock
Due: check-license, check-todo, typos

ostep/mem/allocator: update heap size doc
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: expand block header marshal tests
  book/ostep/mem/allocator/internal/heap/block_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: test block decoder
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/block_test.go
  book/ostep/mem/allocator/internal/heap/coalescer.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: fix best-fit allocator
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: rename simulatorOption with simOption
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: move simulator into a sim package
  book/ostep/mem/allocator/command.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: move operation replay outside of simulator
  book/ostep/mem/allocator/internal/sim/replayer.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: move operation generator outside of simulator
  book/ostep/mem/allocator/internal/sim/generator.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: move operation outside of the simulator code
  book/ostep/mem/allocator/internal/sim/operation.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: move generator constants
  book/ostep/mem/allocator/internal/sim/generator.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: merge replayer and generator into interfaces
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: clean generator interface
  book/ostep/mem/allocator/internal/sim/generator.go
  book/ostep/mem/allocator/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: rename heap scanner field to scan
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: set default heap coaleser and allocator if not opt
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: consolidate error report in malloc and free
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: split free() into functions
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: place allocator split() steps into methods
  book/ostep/mem/allocator/internal/heap/allocator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: use switch in allocators for exclusive if
  book/ostep/mem/allocator/internal/heap/allocator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add worst fit allocator
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/allocatemode_string.go
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: increase the max generated operations to 50
  book/ostep/mem/allocator/command.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/mem/allocator: add next fit allocator
  book/ostep/mem/allocator/flag.go
  book/ostep/mem/allocator/internal/heap/allocatemode_string.go
  book/ostep/mem/allocator/internal/heap/allocator.go
  book/ostep/mem/allocator/internal/heap/block.go
  book/ostep/mem/allocator/internal/heap/heap.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

run go fix on the repo
  check/cmd/check-go-test/internal/build/event_test.go
  check/cmd/check-go-test/internal/test/event_test.go
  go/tests/cmp_test.go
  iq/1/twosum/solution_test.go
  iq/10/chain/find_test.go
  iq/12/reverse/reverse_test.go
  iq/19/midpoint/find_test.go
  iq/2/threesum/solution_test.go
  iq/20/number/is_happy_number_test.go
  iq/23/substring/find.go
  iq/23/substring/find_test.go
  iq/24/insert/find_test.go
  iq/25/bounds/find_test.go
  iq/27/lower/find_test.go
  iq/28/upper/find_test.go
  iq/3/palindrome/solution_test.go
  iq/31/matrix/has_test.go
  iq/32/maxima/find_test.go
  iq/33/random/int_weighted_test.go
  iq/34/parenthesis/validator_test.go
  iq/35/largest/find_test.go
  iq/36/calc/eval_test.go
  iq/37/dups/remove_test.go
  iq/38/dups/remove_test.go
  iq/39/queue/queue_test.go
  iq/4/container/solution_test.go
  iq/40/window/window_test.go
  iq/5/shiftzeros/solution_test.go
  iq/6/lexiseq/solution_test.go
  iq/7/twosum/solution_test.go
  iq/8/sudoku/solution.go
  iq/8/sudoku/solution_test.go
  iq/9/stripzero/clean.go
  iq/9/stripzero/clean_optimal_test.go
  iq/9/stripzero/clean_test.go
  iq/cmd/iq/internal/info/info_test.go
  iq/cmd/iq/internal/registry/registry_test.go
  x/balancer/main.go
  x/freebsd/kqueue/kquser/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

go: upgrade module to go 1.26
  go.mod
Due: check-license, check-todo, typos

dp/graph/cycle: design pattern to detect cycles in directed graph
  .github/workflows/dp_ci.yml
  README.md
  dp/README.md
  dp/graph/README.md
  dp/graph/cycle/cycle.go
  dp/graph/cycle/cycle_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos, yaml-format

home: move stringer to go.mod
  go.mod
  go.sum
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

home: move protoc to go.mod
  go.mod
  go.sum
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

home: move protoc-grpc to go.mod
  go.mod
  go.sum
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

go: tidy modules
  go.sum
Due: check-license, check-todo, typos

nvim: add Python LSP ty
  home/nvim/lua/config/lsp.lua
  home/pkg/packages.txt
Due: check-license, check-todo, typos

pre-commit: group hooks by language
  .pre-commit-config.yaml
Due: check-license, check-todo, typos, yaml-format

go: pass go-tool help through pager
  home/go/bin/go
Due: check-license, check-todo, typos
