Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

check-godoc: pass go-generate lines
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: share tests helper to create records
  x/fin/internal/strategy/hold_test.go
  x/fin/internal/strategy/rates_test.go
  x/fin/internal/tests/doc.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: use tests.NewRecord in simulation tests
  x/fin/internal/sim/run_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: validate that records don't have date gaps
  x/fin/internal/csv/read.go
  x/fin/internal/csv/read_test.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/hold_test.go
  x/fin/internal/strategy/rates_test.go
  x/fin/internal/tests/doc.go
  x/fin/internal/tests/record.go
Due: check-copyright, check-go-test, goimports, typos

nvim: fix modelines
  .luacheckrc
  freebsd/rc/rc_jail
  home/gitconfig
  home/tcshrc
Due: check-copyright, typos

nvim: add tcsh template
  nvim/plugin/lab-skeleton/share/new.tcsh
Due: check-copyright, typos

tcsh: move env settings into tcshrc.d/env.tcsh
  home/Makefile
  home/tcshrc
  home/tcshrc.d/Makefile
  home/tcshrc.d/env.tcsh
Due: check-copyright, typos

tcsh: install home/tcshrc.d/*.tcsh scripts
  home/tcshrc.d/Makefile
Due: check-copyright, typos

tcsh: move prompt settings to tcshrc.d/prompt.tcsh
  home/tcshrc
  home/tcshrc.d/prompt.tcsh
Due: check-copyright, typos

tcsh: move history settings to tcshrc.d/history.tcsh
  home/tcshrc
  home/tcshrc.d/history.tcsh
Due: check-copyright, typos

tcsh: skip settings if not interactive using exit
  home/tcshrc.d/history.tcsh
  home/tcshrc.d/prompt.tcsh
Due: check-copyright, typos

tcsh: move completion settings under tcshrc.d
  home/tcshrc
  home/tcshrc.d/completion.tcsh
Due: check-copyright, typos

tcsh: move nvim settings under tcshrc.d
  home/tcshrc
  home/tcshrc.d/nvim.tcsh
Due: check-copyright, typos

tcsh: move go setup under tcshrc.d
  home/tcshrc
  home/tcshrc.d/go.tcsh
Due: check-copyright, typos

tcsh: put rust configuration under tcshrc.d
  home/tcshrc
  home/tcshrc.d/rust.tcsh
Due: check-copyright, typos

tcsh: move Go paager wrapper to tcshrc.d/go.tcsh
  home/tcshrc
  home/tcshrc.d/go.tcsh
Due: check-copyright, typos

tcsh: move c++ setup to tcshrc.d
  home/tcshrc
  home/tcshrc.d/cc.tcsh
Due: check-copyright, typos

tcsh: move CLICOLOR to tcshrc.d/env.tcsh
  home/tcshrc
  home/tcshrc.d/env.tcsh
Due: check-copyright, typos

tcsh: move dev alias under tcshrc.d
  home/tcshrc
  home/tcshrc.d/dev.tcsh
Due: check-copyright, typos

tcsh: move histfile update for tmux(1) under tcshrc.d
  home/tcshrc
  home/tcshrc.d/history.tcsh
Due: check-copyright, typos

tcsh: merge logic to isolate Linux history from BSD
  home/tcshrc.d/history.tcsh
Due: check-copyright, typos

tcsh: rename tmux update env alias to tmux- prefix
  home/tcshrc.d/history.tcsh
Due: check-copyright, typos

tcsh: move pick up SSH agent socket code to tcshrc.d/tmux.tcsh
  home/tcshrc.d/history.tcsh
  home/tcshrc.d/tmux.tcsh
Due: check-copyright, typos

infra: create a bhyve jail
  infra/doc/bhyve/README.md
Due: check-copyright, markdown-format, typos

x/fin: remove empty value when range over map
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: skip performance ratio for same strategy in report
  x/fin/internal/report/strategy.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: add percent yearly withdrawal strategy
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/strategy.go
  x/fin/internal/strategy/withhold.go
  x/fin/internal/strategy/withhold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: consolidate strategy interfaces into runner
  x/fin/cmd/finsim/main.go
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/strategy.go
  x/fin/internal/strategy/withhold.go
  x/fin/internal/strategy/withhold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: rename strategyRunner to namedRunner in finsim
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: include per-strategy performance in the reports
  x/fin/internal/report/strategy.go
  x/fin/internal/report/txt/quote.txt
  x/fin/internal/report/txt/strategy.txt
Due: check-copyright, check-go-test, goimports, typos

x/fin: remove previous record from Cycler
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/strategy.go
  x/fin/internal/strategy/withhold.go
  x/fin/internal/strategy/withhold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: add registry for named strategies
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: registry takes namedRunner in register API
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: add helpers to construct named runners
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: remove redundant runner cycle method
  x/fin/internal/strategy/strategy.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: unexport strategies
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/withhold.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: create functions to construct hold and holdReinvest strategies
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/hold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: shortcut to create withhold strategy
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/withhold.go
  x/fin/internal/strategy/withhold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: withhold strategy takes percent param first
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/withhold.go
  x/fin/internal/strategy/withhold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: remove Div suffix from namedRunner builders
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos
