Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

check-copyright:
  name: Check copyright
  entry: check-copyright
  language: system
  stages:
  - pre-commit

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -w

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

x/abseil: remove codelab
  x/abseil/codelab/.gitignore
  x/abseil/codelab/BUILD
  x/abseil/codelab/MODULE.bazel
  x/abseil/codelab/MODULE.bazel.lock
  x/abseil/codelab/README.md
  x/abseil/codelab/hello_world.cc
Due: check-copyright, clang-format, clang-tidy, markdown-format, typos

lab-skeleton: add a template for C++ main apps
  .pre-commit-config.yaml
  home/nvim/lua/config/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new_main.cc
Due: check-copyright, clang-format, clang-tidy, typos, yaml-format

gazelle: exclude nvim folder
  BUILD
Due: check-copyright, typos

refresh_commands: replace Abseil include path with real
  refresh_commands
Due: check-copyright, typos

x/abseil: add string join example
  BUILD
  x/abseil/strings/BUILD.bazel
  x/abseil/strings/join_main.cc
Due: check-copyright, clang-format, clang-tidy, typos

refresh_commands: restrict substitutes to quoted clang path
  refresh_commands
Due: check-copyright, typos

lab-skeleton: add template for Go main
  .pre-commit-config.yaml
  home/nvim/lua/config/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new_main.go
Due: check-copyright, check-go-test, goimports, typos, yaml-format

compdb: generate a compilation database for a Bazel target
  x/compdb/cmd/compdb/main.go
  x/compdb/internal/bazel/aquery.go
  x/compdb/internal/compdb/run.go
  x/compdb/internal/compdb/run_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: skip long lines marked NOLINT
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

compdb: route Bazel errors to stderr
  x/compdb/internal/bazel/aquery.go
Due: check-copyright, check-go-test, goimports, typos

go/bin: install compdb
  home/go/bin/packages.txt
Due: check-copyright, typos

check-go-test: redirect Go test err stream to stderr
  check/cmd/check-go-test/internal/check/tester.go
Due: check-copyright, check-go-test, goimports, typos

x/compdb: union deps in aquery
  x/compdb/internal/bazel/aquery.go
  x/compdb/internal/compdb/run.go
Due: check-copyright, check-go-test, goimports, typos

x/compdb: use it instead of bazel-compile-commands-extractor
  BUILD
  MODULE.bazel
  MODULE.bazel.lock
  refresh_commands
Due: check-copyright, typos

nvim: align shfmt config with pre-commit
  home/nvim/after/ftplugin/sh.lua
  home/nvim/lua/config/format.lua
Due: check-copyright, typos

check-license: remove unused constant
  check/cmd/check-license/main.go
Due: check-copyright, check-go-test, goimports, typos

x/csv2pb: convert Shiller data from csv to Protobuf
  go.mod
  go.sum
  x/fin/cmd/csv2pb/main.go
  x/fin/internal/csv/csv.go
  x/fin/internal/csv/parse.go
  x/fin/internal/csv/parse_test.go
  x/fin/internal/csv/read.go
  x/fin/internal/pb/gen.go
  x/fin/internal/pb/market.pb
  x/fin/internal/pb/market.pb.go
  x/fin/internal/pb/market.proto
Due: check-copyright, check-go-test, goimports, typos

check-pbcomment: verify that Protbuf top-declarations have docs
  check/cmd/check-pbcomment/internal/check/check.go
  check/cmd/check-pbcomment/internal/check/check_test.go
  check/cmd/check-pbcomment/internal/check/run.go
  check/cmd/check-pbcomment/main.go
Due: check-copyright, check-go-test, goimports, typos

check-pbcomment: check nested messages and enumerations
  check/cmd/check-pbcomment/internal/check/check.go
  check/cmd/check-pbcomment/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-pbcomment: validate message fields
  check/cmd/check-pbcomment/internal/check/check.go
  check/cmd/check-pbcomment/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-pbcomment: validate enumerator documentation
  check/cmd/check-pbcomment/internal/check/check.go
  check/cmd/check-pbcomment/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: add check-pbcomment
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: check-copyright, typos, yaml-format

x/fin/csv2pb: add output file flag
  x/fin/cmd/csv2pb/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin/csv2pb: include filename in the error message
  x/fin/cmd/csv2pb/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin/csv2pb: use <empty> for empty cell value in errors
  x/fin/internal/csv/parse.go
Due: check-copyright, check-go-test, goimports, typos

x/fin/csv2pb: support '-' for stdin
  x/fin/cmd/csv2pb/main.go
Due: check-copyright, check-go-test, goimports, typos

x/finsim: run an investment strategy
  x/fin/cmd/finsim/main.go
  x/fin/internal/fin/cents.go
  x/fin/internal/fin/cents_test.go
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
  x/fin/internal/strategy/doc.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/rates.go
  x/fin/internal/strategy/rates_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: set rate of return to 1 if s&p is missing
  x/fin/internal/strategy/rates.go
  x/fin/internal/strategy/rates_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: add an option to keep dividends to hold strategy
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/hold_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: generate a strategy report with templates
  x/fin/cmd/finsim/main.go
  x/fin/internal/report/report.go
  x/fin/internal/report/strategy.go
  x/fin/internal/report/txt/strategy.txt
Due: check-copyright, check-go-test, goimports, typos

x/fin: print quote in the report template
  x/fin/internal/report/txt/quote.txt
Due: check-copyright, typos

x/fin: move quote from sim to fin package.
  x/fin/internal/fin/quote.go
  x/fin/internal/report/strategy.go
  x/fin/internal/sim/run.go
  x/fin/internal/sim/run_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: shorten strategy report
  x/fin/internal/report/txt/strategy.txt
Due: check-copyright, typos

x/fin: report multiple strategies
  x/fin/cmd/finsim/main.go
  x/fin/internal/report/strategy.go
  x/fin/internal/report/txt/strategies.txt
Due: check-copyright, check-go-test, goimports, typos

x/fin: introduce strategy runner
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: add -s flag to set strategies to run
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

go: pipe doc output through PAGER
  home/go/bin/Makefile
  home/go/bin/go
  home/tcshrc
Due: check-copyright, typos

go: pipe help commands through pager
  home/go/bin/go
Due: check-copyright, typos

x/fin: compare strategies in the report
  x/fin/internal/report/strategy.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: move package documentation into doc.go
  x/fin/internal/csv/doc.go
  x/fin/internal/fin/cents.go
  x/fin/internal/fin/doc.go
  x/fin/internal/pb/doc.go
  x/fin/internal/pb/gen.go
  x/fin/internal/report/doc.go
  x/fin/internal/sim/doc.go
  x/fin/internal/sim/run.go
Due: check-copyright, check-go-test, goimports, typos

Path conditions:
  check-copyright: any of: not (\.json$), but not: (MODULE\.bazel\.lock|go\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)
  check-go-test: any of: \.go$
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  goimports: any of: \.go$
  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  typos: any file but: ^(.*\.diff|infra/net.lab.*\.conf)$
  yaml-format: any of: \.(yaml|yml)$
