Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-copyright, check-go-test, clang-format, clang-tidy, goimports, html-format, markdown-format, typos, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.
#
# Use of this source code is governed by a BSD-style
# license that can be found in the LICENSE file.

default_install_hook_types: [pre-commit, commit-msg]
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: "^.*\\.diff$"
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: "Format Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: "Lint Bazel"
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: check-copyright
    name: "Check copyright"
    entry: check-copyright
    language: system
    stages: [pre-commit]
    exclude_types: [json]
    exclude: "(MODULE\\.bazel\\.lock|go\\.(mod|sum)|.*/(test)?data/.*|_string.go$|.diff$)"
  - id: check-go-test
    name: "Run go tests"
    entry: check-go-test
    language: system
    types_or: [go]
    pass_filenames: true
  - id: check-issue
    name: "Issue is set"
    entry: check-issue
    language: system
    stages: [commit-msg]
  - id: check-nosubmit
    name: "No-submit is not set"
    entry: check-nosubmit
    language: system
  - id: check-todo
    name: "Lint TODO format"
    entry: check-todo
    language: system
  - id: clang-format
    name: "Format C/C++"
    entry: clang-format21 -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: clang-tidy
    name: "Tidy C/C++"
    entry: clang-tidy21
    language: system
    types_or: [c++, c]
    args: ["--fix"]
  - id: goimports
    name: "Fix Go imports"
    entry: goimports
    language: system
    types_or: [go]
    args: ["-w"]
  - id: html-format
    name: "Format HTML"
    entry: prettier
    language: system
    types_or: [html, json]
    args: ["-w"]
  - id: keep-sorted
    name: "Keep lines sorted"
    entry: keep-sorted
    language: system
  - id: make-lint
    name: "Lint makefiles"
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
  - id: markdown-format
    name: "Format Markdown"
    entry: markdownfmt
    language: system
    types_or: [markdown]
    args: ["-w"]
  - id: no-binary
    name: "No binaries"
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: "Format shell"
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: "No extension in shell executable"
    entry: "Shell executable with extension is not allowed"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: "Format text Protobuf"
    entry: txtpbfmt
    language: system
    types: [textproto]
    exclude: "testdata"
    args: ["-skip_all_colons"]
  - id: typos
    name: "Check typos"
    entry: typos
    language: system
    types: [text]
    exclude: "^(.*\\.diff|infra/net.lab.*\\.conf)$"
  - id: yaml-format
    name: "Format YAML"
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

x/fin: rename withhold strategy to retain
  x/fin/cmd/finsim/main.go
  x/fin/internal/strategy/retain.go
  x/fin/internal/strategy/retain_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: name strategies after helper methods
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: run strategies in order of registration
  x/fin/cmd/finsim/main.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: break finsim main.go into multiple files
  x/fin/cmd/finsim/flag.go
  x/fin/cmd/finsim/main.go
  x/fin/cmd/finsim/registry.go
  x/fin/cmd/finsim/runners.go
Due: check-copyright, check-go-test, goimports, typos

nvim: use main-package for Go files under cmd/...
  home/nvim/lua/config/lab-skeleton.lua
Due: check-copyright, typos

x/fin: remove reinvestDiv flag from hold strategy
  x/fin/internal/strategy/hold.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: use defer statement to retain last record in strategies
  x/fin/internal/strategy/hold.go
  x/fin/internal/strategy/retain.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: test holdReinvest strategy
  x/fin/internal/strategy/hold_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: ensute type comments start with type name
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/error.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: function doc must start with function name
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: package documentation must start with package name
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/error.go
  check/cmd/check-godoc/internal/check/kind_string.go
  check/cmd/check-godoc/internal/check/run.go
  check/cmd/check-godoc/internal/check/testdata/invalidprefix/a.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: multiline split exclude patterns
  .pre-commit-config.yaml
Due: check-copyright, typos, yaml-format

check-pbcomment: rename to check-pbdoc
  check/cmd/check-pbdoc/internal/check/check.go
  check/cmd/check-pbdoc/internal/check/check_test.go
  check/cmd/check-pbdoc/internal/check/run.go
  check/cmd/check-pbdoc/main.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: main package documentation prefix is titled command
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
  check/cmd/check-godoc/internal/check/testdata/cmd/doc-words/a.go
  check/cmd/check-godoc/internal/check/testdata/cmd/doc/a.go
  check/cmd/check-godoc/internal/check/testdata/cmd/invalidprefix/a.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: pick up check-pbdoc
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: check-copyright, typos, yaml-format

go/bin: install scripts before packages
  home/go/bin/Makefile
Due: check-copyright, typos

check-pbdoc: message doc should start with message name
  check/cmd/check-pbdoc/internal/check/check.go
  check/cmd/check-pbdoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-pbdoc: enum comment must start with enum name
  check/cmd/check-pbdoc/internal/check/check.go
  check/cmd/check-pbdoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

x/fin: document data schema
  x/fin/internal/pb/market.proto
Due: check-copyright, typos

check-pbdoc: separate error codes
  check/cmd/check-pbdoc/internal/check/check.go
  check/cmd/check-pbdoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

check-godoc: pass documentation in var groups
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-copyright, check-go-test, goimports, typos

pre-commit: switch to Kunde21/markdownfmt
  .pre-commit-config.yaml
  home/go/bin/packages.txt
  home/nvim/lua/config/format.lua
Due: check-copyright, typos, yaml-format

bhyve: link bhyve doc to main README
  README.md
  infra/README.md
  infra/doc/README.md
Due: check-copyright, markdown-format, typos

bhyve: store enjailed bhyve doc in bhyve/enjailed.md
  infra/doc/bhyve/README.md
  infra/doc/bhyve/enjailed.md
Due: check-copyright, markdown-format, typos

bhyve: setup hosted bhyve with ZFS
  infra/doc/bhyve/README.md
  infra/doc/bhyve/hosted.md
Due: check-copyright, markdown-format, typos

bhyve: run freebsd vm in hosted bhyve
  infra/doc/bhyve/hosted.md
Due: check-copyright, markdown-format, typos

infra: get ISO url to latest alpine release
  .pre-commit-config.yaml
  go.mod
  go.sum
  infra/cmd/alpine/main.go
Due: check-copyright, check-go-test, goimports, typos, yaml-format

bhyve: install alpine to get latest ISO URL
  home/go/bin/packages.txt
Due: check-copyright, typos

bhyve: run alpine in hosted bhyve
  infra/doc/bhyve/hosted.md
Due: check-copyright, markdown-format, typos

infra: document VPN setup.
  infra/doc/README.md
  infra/doc/vpn/README.md
Due: check-copyright, markdown-format, typos

bhyve: create a bhyve jail with enjailed zfs dataset
  infra/doc/bhyve/enjailed.md
Due: check-copyright, markdown-format, typos

bhyve: update enjail zfs dataset instructions
  infra/doc/bhyve/enjailed.md
Due: check-copyright, markdown-format, typos

bhyve: bootstrap vm-bhyve in jail
  infra/doc/bhyve/enjailed.md
Due: check-copyright, markdown-format, typos

x/fin: set initial balance via flags
  x/fin/cmd/finsim/main.go
  x/fin/cmd/finsim/runners.go
Due: check-copyright, check-go-test, goimports, typos

nvim: preinsert completion suggestion
  home/nvim/after/ftplugin/go.lua
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

nvim: set pumwidth to 50
  home/nvim/lua/config/complete.lua
Due: check-copyright, typos

home/go: skip pager if the output is not terminal
  home/go/bin/go
Due: check-copyright, typos

home/go: exit after exec to stop short
  home/go/bin/go
Due: check-copyright, typos

home/go: fix terminal output test
  home/go/bin/go
Due: check-copyright, typos

home/go: upgrade to go 1.26
  home/pkg/packages.txt
  home/tcshrc.d/go.tcsh
Due: check-copyright, typos
