Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

nvim: move generic options to lua/config/options.lua
  home/nvim/init.lua
  home/nvim/lua/config/init.lua
  home/nvim/lua/config/options.lua
Due: check-license, check-todo, typos

nvim: clean options
  home/nvim/lua/config/options.lua
Due: check-license, check-todo, typos

infra: simplify host bootstrap for jails
  infra/doc/jail/README.md
  infra/doc/jail/bootstrap.md
  infra/doc/jail/data/host/etc/pf.conf
Due: check-license, check-todo, markdown-format, typos

infra: review and update freebsd jail template
  infra/doc/jail/README.md
  infra/doc/jail/data/template/usr/local/etc/pkg/repos/FreeBSD.conf
  infra/doc/jail/freebsd.md
  infra/doc/jail/freebsd_template.md
Due: check-license, check-todo, markdown-format, typos

infra: remove template instructions using base.txz
  infra/doc/jail/freebsd_template_base.md
Due: check-license, check-todo, markdown-format, typos

infra: add jail template configuration
  infra/doc/jail/bootstrap.md
  infra/doc/jail/data/host/etc/jail.conf
  infra/doc/jail/data/host/etc/jail.conf.d/template.conf
Due: check-license, check-todo, markdown-format, typos

infra: rsync from nuc.lab.net entire cluster
  infra/rsync_all
Due: check-license, check-todo, typos

infra: remove dev and jammy jails
  infra/net.lab.dev/README.md
  infra/net.lab.dev/etc/nsswitch.conf
  infra/net.lab.dev/etc/pam.d/sshd
  infra/net.lab.dev/etc/rc.conf.d/routing
  infra/net.lab.dev/etc/rc.conf.d/sshd
  infra/net.lab.dev/etc/rc.conf.d/syslogd
  infra/net.lab.dev/etc/resolv.conf
  infra/net.lab.dev/etc/ssh/sshd_config
  infra/net.lab.dev/rsync.files-from
  infra/net.lab.dev/usr/local/etc/doas.conf
  infra/net.lab.dev/usr/local/etc/ldap.conf
  infra/net.lab.dev/usr/local/etc/nss_ldap.conf
  infra/net.lab.dev/usr/local/etc/openldap/ldap.conf
  infra/net.lab.dev/usr/local/etc/pkg/repos/FreeBSD.conf
  infra/net.lab.jammy/README.md
  infra/net.lab.jammy/compat/jammy/etc/apt/sources.list
  infra/net.lab.jammy/compat/jammy/etc/apt/sources.list.d/bazel.list
  infra/net.lab.jammy/compat/jammy/etc/apt/sources.list.d/llvm.list
  infra/net.lab.jammy/compat/jammy/etc/bazel.bazelrc
  infra/net.lab.jammy/compat/jammy/etc/ldap/ldap.conf
  infra/net.lab.jammy/compat/jammy/etc/nsswitch.conf
  infra/net.lab.jammy/compat/jammy/etc/resolv.conf
  infra/net.lab.jammy/compat/jammy/etc/sudo-ldap.conf
  infra/net.lab.jammy/etc/nsswitch.conf
  infra/net.lab.jammy/etc/pam.d/sshd
  infra/net.lab.jammy/etc/rc.conf.d/routing
  infra/net.lab.jammy/etc/rc.conf.d/sshd
  infra/net.lab.jammy/etc/rc.conf.d/syslogd
  infra/net.lab.jammy/etc/resolv.conf
  infra/net.lab.jammy/etc/ssh/sshd_config
  infra/net.lab.jammy/rsync.files-from
  infra/net.lab.jammy/usr/local/etc/ldap.conf
  infra/net.lab.jammy/usr/local/etc/nss_ldap.conf
  infra/net.lab.jammy/usr/local/etc/openldap/ldap.conf
Due: check-license, check-todo, markdown-format, typos

infra: rename rsync_all to rsync
  infra/rsync
Due: check-license, check-todo, typos

infra: update readme
  infra/README.md
Due: check-license, check-todo, markdown-format, typos

infra: describe rsync script
  infra/rsync
Due: check-license, check-todo, typos

infra: fix rsync to sync a single node
  infra/rsync
Due: check-license, check-todo, typos

infra: print command basename in rsync usage
  infra/rsync
Due: check-license, check-todo, typos

infra: document rsync and remove sub-shell when run rsync
  infra/rsync
Due: check-license, check-todo, typos

infra: rsync uses eval instead of exec due to no sub-shell
  infra/rsync
Due: check-license, check-todo, typos

infra: rsync skips laptop when run from lab.net cluster
  infra/rsync
Due: check-license, check-todo, typos

pre-commit: fix dot escape in the exclude patterns
  .pre-commit-config.yaml
Due: check-license, check-todo, typos, yaml-format

infra: re-sync DNS files
  infra/net.lab.dns/etc/rc.conf.d/sshd
  infra/net.lab.dns/rsync.files-from
  infra/net.lab.dns/usr/local/etc/namedb/primary/0.0.10.in-addr.arpa
  infra/net.lab.dns/usr/local/etc/namedb/primary/1.0.10.in-addr.arpa
  infra/net.lab.dns/usr/local/etc/namedb/primary/lab.net-reverse.db
  infra/net.lab.dns/usr/local/etc/namedb/primary/lab.net.db
  infra/net.lab.dns/usr/local/etc/namedb/zones.conf.d/lab.net.conf
  infra/net.lab.dns/usr/local/etc/namedb/zones.conf.d/lab.net.conf.orig
Due: check-license, check-todo, typos

infra: re-sync ldap files
  .pre-commit-config.yaml
  infra/net.lab.ldap/etc/nsswitch.conf
  infra/net.lab.ldap/etc/pam.d/sshd
  infra/net.lab.ldap/etc/rc.conf.d/sshd
  infra/net.lab.ldap/etc/ssh/sshd_config
  infra/net.lab.ldap/rsync.files-from
  infra/net.lab.ldap/usr/local/etc/ldap.conf
  infra/net.lab.ldap/usr/local/etc/nss_ldap.conf
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/1.create_dit.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/10.sudo_add_apt_repository
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/11.sudo_tar
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/12.sudo_dpkg
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/2.user_op.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/3.user_skhalatyan.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/4.user_skhalatyan_to_op.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/5.group_ssh.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/6.sudo_dit.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/7.group_sudoer.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/8.user_jump.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/ldif.d/9.user_jump_to_ssh.ldif
  infra/net.lab.ldap/usr/local/etc/openldap/slapd.ldif
Due: check-license, check-todo, typos, yaml-format

infra: remove ssh config from dns jail sync
  infra/net.lab.dns/etc/ssh/sshd_config
  infra/net.lab.dns/rsync.files-from
Due: check-license, check-todo, typos

infra: pull bastion configurations
  infra/net.lab.bastion/etc/nsswitch.conf
  infra/net.lab.bastion/etc/pam.d/sshd
  infra/net.lab.bastion/rsync.files-from
  infra/net.lab.bastion/usr/local/etc/ldap.conf
Due: check-license, check-todo, typos

infra: re-sync nuc files
  infra/net.lab.nuc/etc/jail.conf.d/dev.conf
  infra/net.lab.nuc/etc/jail.conf.d/jammy.conf
  infra/net.lab.nuc/rsync.files-from
  infra/net.lab.nuc/usr/local/etc/doas.conf
  infra/net.lab.nuc/usr/local/etc/pkg.conf
  infra/net.lab.nuc/usr/local/etc/rc.conf.d/smartd
  infra/net.lab.nuc/usr/local/etc/rc.jail
  infra/net.lab.nuc/usr/local/etc/smartd.conf
Due: check-license, check-todo, typos

infra: re-sync configurations from www jail
  infra/net.lab.www/etc/nsswitch.conf
  infra/net.lab.www/etc/pam.d/sshd
  infra/net.lab.www/etc/rc.conf.d/sshd
  infra/net.lab.www/etc/ssh/sshd_config
  infra/net.lab.www/rsync.files-from
  infra/net.lab.www/usr/local/etc/ldap.conf
  infra/net.lab.www/usr/local/etc/newsyslog.conf.d/nginx.conf
  infra/net.lab.www/usr/local/etc/nss_ldap.conf
  infra/net.lab.www/usr/local/etc/openldap/ldap.conf
  infra/net.lab.www/usr/local/etc/rc.conf.d/nginx
Due: check-license, check-todo, typos

dp: demonstrate field options
  dp/proto/options/clean.go
  dp/proto/options/clean_test.go
  dp/proto/options/doc.go
  dp/proto/options/pb/annotations.pb.go
  dp/proto/options/pb/annotations.proto
  dp/proto/options/pb/data.pb.go
  dp/proto/options/pb/data.proto
  dp/proto/options/pb/doc.go
  dp/proto/options/pb/gen.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

go: update deps
  go.mod
  go.sum
Due: check-license, check-todo, typos

nvim: do not escape go-package in Protobuf skeleton
  home/nvim/lua/config/lab-skeleton.lua
Due: check-license, check-todo, typos

infra: add instructions to build ports in a jail
  infra/doc/README.md
  infra/doc/port/README.md
  infra/doc/port/build.md
  infra/doc/port/data/host/etc/jail.conf.d/pkg.conf
  infra/doc/port/data/jail/usr/local/etc/poudriere.conf.diff
Due: check-license, check-todo, markdown-format, typos

infra: move ports doc to pkg/
  infra/doc/README.md
  infra/doc/pkg/README.md
  infra/doc/pkg/build.md
  infra/doc/pkg/data/host/etc/jail.conf.d/pkg.conf
  infra/doc/pkg/data/jail/usr/local/etc/poudriere.conf.diff
Due: check-license, check-todo, markdown-format, typos

infra: describe how to upgrade a port and build a pkg
  infra/doc/pkg/build.md
Due: check-license, check-todo, markdown-format, typos

infra: describe how to run a pkg server
  infra/doc/pkg/README.md
  infra/doc/pkg/build.md
  infra/doc/pkg/data/client/usr/local/etc/pkg/repos/lab.conf
  infra/doc/pkg/data/jail/usr/local/etc/nginx/nginx.conf.diff
Due: check-license, check-todo, markdown-format, typos

infra: add testport before build a pkg
  infra/doc/pkg/README.md
Due: check-license, check-todo, markdown-format, typos

infra: sync pkg jail configuration.
  infra/net.lab.dns/usr/local/etc/namedb/primary/0.0.10.in-addr.arpa
  infra/net.lab.dns/usr/local/etc/namedb/primary/lab.net.db
  infra/net.lab.nuc/etc/jail.conf.d/pkg.conf
  infra/net.lab.pkg/etc/rc.conf.d/routing
  infra/net.lab.pkg/etc/rc.conf.d/syslogd
  infra/net.lab.pkg/etc/resolv.conf
  infra/net.lab.pkg/rsync.files-from
  infra/net.lab.pkg/usr/local/etc/nginx/nginx.conf
  infra/net.lab.pkg/usr/local/etc/poudriere.conf
  infra/net.lab.pkg/usr/local/etc/rc.conf.d/nginx
Due: check-license, check-todo, typos

dp: update protobuf example to 2024 edictions
  dp/proto/options/pb/annotations.pb.go
  dp/proto/options/pb/annotations.proto
  dp/proto/options/pb/data.pb.go
  dp/proto/options/pb/data.proto
Due: check-go-test, check-godoc, check-license, check-todo, proto-doc, proto-format, proto-nextid, typos

nvim: disable mouse
  home/nvim/lua/config/options.lua
Due: check-license, check-todo, typos

nvim: move Go generate into a module
  home/nvim/after/ftplugin/go.lua
  home/nvim/lua/Makefile
  home/nvim/lua/go/Makefile
  home/nvim/lua/go/generate.lua
Due: check-license, check-todo, typos

nvim: move Go related file into a module
  home/nvim/after/ftplugin/go.lua
  home/nvim/lua/go/related_file.lua
Due: check-license, check-todo, typos

nvim: move Go location list to a module
  home/nvim/after/ftplugin/go.lua
  home/nvim/lua/go/location_list.lua
Due: check-license, check-todo, typos

nvim: move file selector code into a module
  home/nvim/lua/Makefile
  home/nvim/lua/file/Makefile
  home/nvim/lua/file/selector.lua
  home/nvim/lua/go/related_file.lua
Due: check-license, check-todo, typos

nvim: add related files to Protobuf
  home/nvim/after/ftplugin/proto.lua
Due: check-license, check-todo, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
