Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yaml-format

clang-format:
  name: clang-format
  entry: clang-format -i
  language: system
  args:
  - -style=file

yaml-format:
  name: yaml-format
  entry: yamlfmt
  language: system

Add singly linked list intersection iq in c++
  iq/list/singly/intersection/BUILD
  iq/list/singly/intersection/find.cc
  iq/list/singly/intersection/find.h
  iq/list/singly/intersection/find_test.cc
Due: clang-format

Exclude singly linked list intersection cc from go build
  iq/list/singly/intersection/find.cc
  iq/list/singly/intersection/find_test.cc
Due: clang-format

Add pre-commit hook to prevent binaries
  .pre-commit-config.yaml
Due: yaml-format

Executable scripts should have sheband and no extension
  .pre-commit-config.yaml
Due: yaml-format

Set equalprg local to the buffer
  home/vimrc
Due: none

Add gtest dependency to singly linked list intersection iq
  iq/list/singly/intersection/BUILD
Due: none

Add c++ solution to singly linked list flatten iq
  iq/list/singly/flatten/BUILD
  iq/list/singly/flatten/do.cc
  iq/list/singly/flatten/do.h
  iq/list/singly/flatten/do_test.cc
Due: clang-format

Use cppmon for c++ help pages
  home/vimrc
Due: none

Add markdownfmt to pre-commit and vim format
  .pre-commit-config.yaml
  home/go/bin/packages.txt
  home/vimrc
Due: yaml-format

Disalbe markdownfmt pre-commit
  .pre-commit-config.yaml
Due: yaml-format

Add go cycle detection of a singly linked list iq
  iq/list/singly/cycle/README.md
  iq/list/singly/cycle/is.go
  iq/list/singly/cycle/is_example_test.go
  iq/list/singly/cycle/is_test.go
  iq/list/singly/cycle/solution.md
Due: none

Find midspoint in a singly linked list using Go
  iq/list/singly/midpoint/README.md
  iq/list/singly/midpoint/find.go
  iq/list/singly/midpoint/find_example_test.go
  iq/list/singly/midpoint/find_test.go
  iq/list/singly/midpoint/solution.md
Due: none

Add happy number iq in go
  iq/list/singly/cycle/README.md
  iq/list/singly/cycle/doc/cycle.md
  iq/list/singly/cycle/doc/cycle_solution.md
  iq/list/singly/cycle/doc/happy_number.md
  iq/list/singly/cycle/doc/happy_number_solution.md
  iq/list/singly/cycle/is_happy_number.go
  iq/list/singly/cycle/is_happy_number_example_test.go
  iq/list/singly/cycle/is_happy_number_test.go
Due: none

Fix build file for singly linked list flatten c++
  iq/list/singly/flatten/BUILD
Due: none

Find midpoint of a singly linked list in c++
  iq/list/singly/midpoint/BUILD
  iq/list/singly/midpoint/find.cc
  iq/list/singly/midpoint/find.h
  iq/list/singly/midpoint/find_test.cc
Due: clang-format

Detect cycles in a cingly linked list with c++
  iq/list/singly/cycle/BUILD
  iq/list/singly/cycle/is.cc
  iq/list/singly/cycle/is.h
  iq/list/singly/cycle/is_test.cc
Due: clang-format

Detect happy numbers with c++
  iq/list/singly/cycle/BUILD
  iq/list/singly/cycle/is_happy_number.cc
  iq/list/singly/cycle/is_happy_number.h
  iq/list/singly/cycle/is_happy_number_test.cc
Due: clang-format

Lru cache using doubly linked list in c++
  iq/list/doubly/lru/BUILD
  iq/list/doubly/lru/cache.cc
  iq/list/doubly/lru/cache.h
  iq/list/doubly/lru/cache_test.cc
Due: clang-format

Refactor lru cache test in c++
  iq/list/doubly/lru/cache.cc
  iq/list/doubly/lru/cache_test.cc
Due: clang-format

Group Bazel deps together
  MODULE.bazel
Due: none

Install protoc-gen-go to ~/go/bin
  home/go/bin/packages.txt
Due: none

Add txtpb to pre-commit to format text protobuf
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: yaml-format

Add text protobuf formatter to vim
  home/vimrc
Due: none

Add protobuf text proto skeleton to vim
  home/vim/templates/skel.txtpb
Due: none

Find anagrams in a string using go
  iq/string/anagram/README.md
  iq/string/anagram/find_all.go
  iq/string/anagram/find_all_example_test.go
  iq/string/anagram/find_all_test.go
  iq/string/anagram/solution.md
Due: none

Add iq registry.
  iq/cmd/iq/main.go
  iq/pb/gen.go
  iq/pb/question.pb.go
  iq/pb/question.proto
  iq/registry/doc.go
  iq/registry/questions.txtpb
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Install gRPC protoc generator for go
  home/go/bin/packages.txt
Due: none

Validate registry with go tests.
  iq/registry/registry_test.go
Due: none

Report duplicate questions to iq registry errors
  iq/registry/registry.go
  iq/registry/registry_test.go
Due: none

Register iqs in the registry.
  iq/registry/questions.txtpb
Due: none

Enalbe filetype plugins in vim
  home/vimrc
Due: none

Run go doc for the keyword including package in Vim
  home/vimrc
  vim/Makefile
  vim/autoload/go.vim
  vim/ftplugin/Makefile
  vim/ftplugin/go_doc.vim
Due: none

go#Doc can search by package or fully qualified name
  vim/autoload/go.vim
Due: none

Re-enable markdownfmt
  .pre-commit-config.yaml
Due: yaml-format

Find longest substring of unique chars #go
  iq/22/README.md
  iq/22/substring/find.go
  iq/22/substring/find_example_test.go
  iq/22/substring/find_test.go
  iq/registry/questions.txtpb
Due: none

Add fast find of substring with unique chars in go
  iq/22/README.md
  iq/22/substring/find.go
  iq/22/substring/find_example_test.go
  iq/22/substring/find_fast.go
  iq/22/substring/find_test.go
Due: none

Add longest uniform substring after k substitutes in go
  iq/23/README.md
  iq/23/substring/find.go
  iq/23/substring/find_example_test.go
  iq/23/substring/find_test.go
  iq/registry/questions.txtpb
Due: none

Add insertion index with binary search in go
  iq/24/README.md
  iq/24/insert/find.go
  iq/24/insert/find_example_test.go
  iq/24/insert/find_test.go
  iq/registry/questions.txtpb
Due: none

Find a range of indices for a number in a sorted array in go
  iq/25/README.md
  iq/25/bounds/find.go
  iq/25/bounds/find_example_test.go
  iq/25/bounds/find_test.go
  iq/registry/questions.txtpb
Due: none

Find max cut of a set of numbers in go
  iq/26/README.md
  iq/26/cut/find.go
  iq/26/cut/find_example_test.go
  iq/26/cut/find_test.go
  iq/registry/questions.txtpb
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$
  yaml-format: any of: \.(yaml|yml)$
