Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

check-go-test:
  name: Run go tests
  entry: check-go-test
  language: system
  pass_filenames: true

check-godoc:
  name: Go documentation
  entry: check-godoc
  language: system
  pass_filenames: true

check-license:
  name: Check license
  entry: ./check/cmd/check-license/check_license
  language: system
  stages:
  - pre-commit

check-todo:
  name: Lint TODO format
  entry: check-todo
  language: system

clang-format:
  name: Format C/C++
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

clang-tidy:
  name: Tidy C/C++
  entry: clang-tidy21
  language: system
  args:
  - --fix

goimports:
  name: Fix Go imports
  entry: goimports
  language: system
  args:
  - -w

html-format:
  name: Format HTML
  entry: prettier
  language: system
  args:
  - -w

markdown-format:
  name: Format Markdown
  entry: markdownfmt
  language: system
  args:
  - -soft-wraps
  - -w

proto-doc:
  name: Validate Protobuf documentation
  entry: check-pbdoc
  language: system

proto-format:
  name: Format Protocol buffers
  entry: clang-format21 -i
  language: system
  args:
  - -style=file

proto-nextid:
  name: Validate protobuf next id
  entry: check-nextid
  language: system

typos:
  name: Check typos
  entry: typos
  language: system

yaml-format:
  name: Format YAML
  entry: yamlfmt
  language: system

x/sheet: create cmd/sheet
  x/sheet/cmd/sheet/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/sheet: run spreadsheets in browser via wasm
  x/sheet/cmd/wasm/Makefile
  x/sheet/cmd/wasm/index.html
  x/sheet/cmd/wasm/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

go: install x/serve
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

nvim: add keep-sorted to html and markdown formatters
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

x/kaleidoscope: start the project
  x/README.md
  x/kaleidoscope/README.md
Due: check-license, check-todo, markdown-format, typos

pre-commit: align structure field
  .pre-commit-config.yaml
  check/go-fieldalignment
  home/go/bin/packages.txt
Due: check-license, check-todo, typos, yaml-format

nvim: enable keep-sorted in text files
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

x/kscope: add lexer to parse number tokens
  x/kaleidoscope/internal/lex/doc.go
  x/kaleidoscope/internal/lex/lex.go
  x/kaleidoscope/internal/lex/lex_test.go
  x/kaleidoscope/internal/lex/reader.go
  x/kaleidoscope/internal/lex/scan.go
  x/kaleidoscope/internal/lex/scanner.go
  x/kaleidoscope/internal/lex/token.go
  x/kaleidoscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/scope: rename project from x/kaleidoscope to x/kscope
  x/kscope/README.md
  x/kscope/internal/lex/doc.go
  x/kscope/internal/lex/lex.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/reader.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/scanner.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

x/kscope: update readme
  x/README.md
  x/kscope/README.md
Due: check-license, check-todo, markdown-format, typos

x/kscope: add identifier token
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add definition command token
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add extern command token
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

home: pick up latest keep-sorted
  home/go/bin/packages.txt
Due: check-license, check-todo, typos

x/kscope: add comment token
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: make token printable
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/token_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add minimal parser with number expression
  x/kscope/internal/ast/doc.go
  x/kscope/internal/ast/node.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
  x/kscope/internal/parse/reader.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: lexer uses genToken to scan number
  x/kscope/internal/lex/scan.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add plus and minux binary operators
  x/kscope/internal/ast/binop_string.go
  x/kscope/internal/ast/node.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add multiply and divide binary operators
  x/kscope/internal/ast/binop_string.go
  x/kscope/internal/ast/node.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/htmlview: print served address
  x/htmlview/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add examples for AST node strings
  x/kscope/internal/ast/node_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add a function call
  x/kscope/internal/ast/node.go
  x/kscope/internal/ast/node_test.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/htmlview: print flags in the help message
  x/htmlview/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: rename comment token
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: Go location list uses highlight for unexported symbols
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

x/kscope: add a function definition without args
  x/kscope/internal/ast/node.go
  x/kscope/internal/ast/node_test.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add variable definition
  x/kscope/internal/ast/node.go
  x/kscope/internal/ast/node_test.go
  x/kscope/internal/lex/doc.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/tokenkind_string.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add function parameters
  x/kscope/internal/ast/node.go
  x/kscope/internal/ast/node_test.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: support grouping in expressions
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: support identifier for operand
  x/kscope/internal/ast/node.go
  x/kscope/internal/parse/doc.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: wrap declarations into a file node
  x/kscope/internal/ast/node.go
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: include functions in the example
  x/kscope/internal/ast/node.go
  x/kscope/internal/parse/parse_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/skope: move parser readerFunc next to reader interface
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/reader.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: skip generated Go code by x/tools/cmd/stringer
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

x/kscope: introduce positioner
  x/kscope/internal/lex/lex.go
  x/kscope/internal/lex/lex_test.go
  x/kscope/internal/lex/position.go
  x/kscope/internal/lex/reader.go
  x/kscope/internal/lex/scan.go
  x/kscope/internal/lex/token.go
  x/kscope/internal/lex/token_test.go
  x/kscope/internal/parse/parse.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add lexer example
  x/kscope/internal/lex/lex_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add program to parse a file
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: add ParseFile method to read and parse a file
  x/kscope/internal/parse/parse.go
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

x/kscope: parser api can parse code or expression
  x/kscope/internal/parse/parse.go
  x/kscope/internal/parse/parse_test.go
  x/kscope/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$
