Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

canvas: animate HTML5 canvas from Go using WebAssembly
  x/canvas/wasm/solsys/.gitignore
  x/canvas/wasm/solsys/Makefile
  x/canvas/wasm/solsys/astonomical_object.go
  x/canvas/wasm/solsys/canvas.go
  x/canvas/wasm/solsys/console.go
  x/canvas/wasm/solsys/doc.go
  x/canvas/wasm/solsys/document.go
  x/canvas/wasm/solsys/drawer.go
  x/canvas/wasm/solsys/index.html
  x/canvas/wasm/solsys/main.go
  x/canvas/wasm/solsys/solsys.ts
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

x/svg: demo shapes with HTML5 SVG
  x/svg/mdn/shapes/Makefile
  x/svg/mdn/shapes/demo.svg
  x/svg/mdn/shapes/index.html
Due: check-license, check-todo, html-format, typos

check-license: add support for SVG files
  check/cmd/check-license/internal/fix/run.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: add SVG skeleton
  nvim/plugin/lab-skeleton/share/new.svg
Due: check-todo, typos

nvim: format SVG with superhtml
  home/nvim/lua/config/format.lua
Due: check-license, check-todo, typos

x/svg: demo basic shapes including path
  x/svg/mdn/shapes/demo.svg
Due: check-license, check-todo, typos

home: highlight removes space in git-diff
  home/gitconfig
Due: check-license, check-todo, typos

x/svg: add CSS style to SVG
  x/svg/mdn/shapes/demo.svg
Due: check-license, check-todo, typos

x/svg: demo transformations
  x/svg/mdn/shapes/demo.svg
Due: check-license, check-todo, typos

nvim: go-generate always uses absolute path
  home/nvim/lua/go/generate.lua
Due: check-license, check-todo, typos

irex: gracefully shutdown web server on interrupt signal
  book/irex/cmd/irex/cmd_serve.go
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

svg: use css class to set shape style
  x/svg/mdn/shapes/demo.svg
Due: check-license, check-todo, typos

irex: use query to serve market results page
  book/irex/web/internal/serve/static/root/index.html
Due: check-license, check-todo, html-format, typos

irex: introduce market service to supply data
  book/irex/cmd/irex/cmd_serve.go
  book/irex/market/client.go
  book/irex/market/doc.go
  book/irex/market/server.go
  book/irex/market/service.go
  book/irex/market/service_test.go
  book/irex/pb/gen.go
  book/irex/pb/market_service.pb.go
  book/irex/pb/market_service.proto
  book/irex/pb/market_service_grpc.pb.go
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: introduce a query parameter for market results page
  book/irex/web/internal/serve/root.go
  book/irex/web/queryparam/query.go
  book/irex/web/queryparam/query_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: introduce query understanding
  book/irex/pb/gen.go
  book/irex/pb/intent.pb.go
  book/irex/pb/intent.proto
  book/irex/pb/plot_intent.pb.go
  book/irex/pb/plot_intent.proto
  book/irex/pb/symbol.pb.go
  book/irex/pb/symbol.proto
  book/irex/query/doc.go
  book/irex/query/parse_plot.go
  book/irex/query/understand.go
  book/irex/query/understand_test.go
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/root_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: add intent fulfillment
  book/irex/intent/doc.go
  book/irex/intent/fulfill.go
  book/irex/intent/fulfill_plot.go
  book/irex/market/service.go
  book/irex/market/service_test.go
  book/irex/pb/feature.pb.go
  book/irex/pb/feature.proto
  book/irex/pb/gen.go
  book/irex/pb/market_service.pb.go
  book/irex/pb/market_service.proto
  book/irex/pb/page.pb.go
  book/irex/pb/page.proto
  book/irex/pb/plot_feature.pb.go
  book/irex/pb/plot_feature.proto
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/root_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: introduce feature rendering
  book/irex/render/feature/plot/doc.go
  book/irex/render/feature/plot/path.go
  book/irex/render/feature/plot/path_test.go
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/plotter_test.go
  book/irex/render/feature/plot/point.go
  book/irex/render/feature/plot/point_test.go
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/renderer_test.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/render/feature/plot/transformer.go
  book/irex/render/feature/plot/transformer_test.go
  book/irex/render/feature/plot/viewbox.go
  book/irex/render/feature/plot/viewbox_test.go
  book/irex/render/render.go
  book/irex/render/static/header.html
  book/irex/render/static/index.html
  book/irex/web/internal/serve/root.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: add dates range to the market service
  book/irex/market/date_range.go
  book/irex/market/date_range_test.go
  book/irex/market/service.go
  book/irex/market/service_test.go
  book/irex/pb/market_service.pb.go
  book/irex/pb/market_service.proto
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: move MarketService implementation into package for coverage
  book/irex/market/server.go
  book/irex/market/service/date_range.go
  book/irex/market/service/date_range_test.go
  book/irex/market/service/doc.go
  book/irex/market/service/service.go
  book/irex/market/service/service_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: move plot feature understanding into own package
  book/irex/query/feature/plot/doc.go
  book/irex/query/feature/plot/parse.go
  book/irex/query/feature/plot/parse_test.go
  book/irex/query/understand.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: parse date range in plot intent
  book/irex/pb/plot_intent.pb.go
  book/irex/pb/plot_intent.proto
  book/irex/query/feature/plot/parse.go
  book/irex/query/feature/plot/parse_test.go
  book/irex/query/understand_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

irex: fulfill plot intent with dates range
  book/irex/intent/fulfill_plot.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

irex: make main page dynamic
  book/irex/render/static/header.html
  book/irex/render/static/index.html
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/static/root/index.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: align content on the page and enlarge header font
  book/irex/render/static/header.html
  book/irex/render/static/index.html
Due: check-license, check-todo, html-format, typos

irex: remove plot padding
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: fix x and y axis in plotting
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: create a graph axis nested template
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: add grid lines to the plot
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/template.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: the svg path now takes strongly typed commands.
  book/irex/render/feature/plot/path.go
  book/irex/render/feature/plot/path_test.go
  book/irex/render/feature/plot/plotter.go
  book/irex/render/feature/plot/plotter_test.go
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: move plot title outside of SVG
  book/irex/render/feature/plot/static/index.html
Due: check-license, check-todo, html-format, typos

irex: add interactivity layer to the plot
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-license, check-todo, html-format, typos

irex: add guide ticks to the axes
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/two_quotes.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: remove 404 page from the web server
  book/irex/web/internal/serve/not_found.go
  book/irex/web/internal/serve/not_found_test.go
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/root_test.go
  book/irex/web/internal/serve/static/404/index.html
  book/irex/web/server.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: merge root page handler into web server
  book/irex/cmd/irex/cmd_serve.go
  book/irex/intent/fulfill.go
  book/irex/intent/fulfill_ping.go
  book/irex/pb/feature.proto
  book/irex/pb/gen.go
  book/irex/pb/intent.proto
  book/irex/pb/ping_feature.pb.go
  book/irex/pb/ping_feature.proto
  book/irex/pb/ping_intent.pb.go
  book/irex/pb/ping_intent.proto
  book/irex/query/feature/ping/parse.go
  book/irex/query/understand.go
  book/irex/render/feature/ping/renderer.go
  book/irex/render/render.go
  book/irex/web/internal/serve/doc.go
  book/irex/web/internal/serve/root.go
  book/irex/web/internal/serve/root_test.go
  book/irex/web/server.go
  book/irex/web/server_test.go
  book/irex/web/testdata/no_query.html
  book/irex/web/testdata/query_ping.html
  book/irex/web/testdata/query_test.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, proto-doc, proto-format, proto-nextid, typos

irex: serve static content such as javascript
  book/irex/render/feature/ping/renderer.go
  book/irex/render/feature/plot/renderer.go
  book/irex/render/feature/plot/renderer_test.go
  book/irex/render/feature/plot/static/Makefile
  book/irex/render/feature/plot/static/index.html
  book/irex/render/feature/plot/static/init.js
  book/irex/render/feature/plot/static/init.ts
  book/irex/render/feature/plot/static/tsconfig.json
  book/irex/render/feature/plot/template.go
  book/irex/render/feature/plot/testdata/one_quote.html
  book/irex/render/feature/plot/testdata/one_quote.js
  book/irex/render/feature/plot/testdata/two_quotes.html
  book/irex/render/feature/plot/testdata/two_quotes.js
  book/irex/render/render.go
  book/irex/render/static/index.html
  book/irex/web/server.go
  book/irex/web/static/Makefile
  book/irex/web/static/plot.js
  book/irex/web/static/plot.ts
  book/irex/web/static/tsconfig.json
  book/irex/web/testdata/no_query.html
  book/irex/web/testdata/query_ping.html
Due: check-go-test, check-godoc, check-license, check-todo, goimports, html-format, typos

irex: create a project tsconfig.json
  book/irex/Makefile
  book/irex/render/feature/plot/static/Makefile
  book/irex/render/feature/plot/static/init.js
  book/irex/render/feature/plot/static/tsconfig.json
  book/irex/tsconfig.json
  book/irex/web/static/plot.js
  book/irex/web/static/tsconfig.json
Due: check-license, check-todo, html-format, typos

irex: fix module resolution
  book/irex/render/feature/plot/static/init.js
  book/irex/tsconfig.json
  book/irex/web/static/plot.js
Due: check-license, check-todo, html-format, typos

irex: introduce a build script
  book/irex/Makefile
  book/irex/build
  book/irex/render/feature/plot/static/Makefile
  book/irex/web/static/Makefile
Due: check-license, check-todo, typos

irex: document the plot.Init typescript function
  book/irex/web/static/plot.js
  book/irex/web/static/plot.ts
Due: check-license, check-todo, typos
