Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yaml-format

.pre-commit-config.yaml:

# Copyright 2025 Samvel Khalatyan. All rights reserved.

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  # keep-sorted start
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-shebang-scripts-are-executable
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    # keep-sorted end
- repo: local
  hooks:
  # keep-sorted start
  - id: buildifier
    name: buildifier
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=fix", "-lint=fix"]
  - id: buildifier-lint
    name: buildifier-lint
    entry: buildifier
    language: system
    types_or: [bazel]
    args: ["-mode=diff", "-lint=warn"]
  - id: clang-format
    name: clang-format
    entry: clang-format -i
    language: system
    types_or: [c++, c]
    args: ["-style=file"]
  - id: keep-sorted
    name: keep-sorted
    entry: keep-sorted
    language: system
  - id: make-lint
    name: make-lint
    entry: make
    language: system
    types_or: [makefile]
    args: ["-N", "-f"]
    #  - id: markdown-format
    #    name: markdown-format
    #    entry: markdownfmt
    #    language: system
    #    types_or: [markdown]
    #    args: ["-w"]
  - id: no-binary
    name: no-binary
    entry: "Binaries are not allowed"
    language: fail
    types_or: [binary]
  - id: shell-format
    name: shell-format
    entry: shfmt
    language: system
    types_or: [shell]
    exclude_types: [csh, tcsh]
    args:
    - "--binary-next-line"
    - "--case-indent"
    - "--indent=2"
    - "--posix"
    - "--write"
  - id: shell-no-extension
    name: shell-no-extension
    entry: "Shell executable scripts should not have an extension"
    language: fail
    types: [shell, executable]
    files: "\\.sh$"
  - id: txtpb-format
    name: txtpb-format
    entry: txtpbfmt
    language: system
    types: [textproto]
  - id: yaml-format
    name: yaml-format
    entry: yamlfmt
    language: system
    types_or: [yaml]
  # keep-sorted end

Move lru cache to iq/15
  iq/15/lru/BUILD
  iq/15/lru/README.md
  iq/15/lru/cache.cc
  iq/15/lru/cache.go
  iq/15/lru/cache.h
  iq/15/lru/cache_example_test.go
  iq/15/lru/cache_test.cc
  iq/15/lru/cache_test.go
  iq/list/doubly/lru/README.md
Due: clang-format

Move is a singly linked list a palindrome to iq/16
  iq/16/palindrome/BUILD
  iq/16/palindrome/README.md
  iq/16/palindrome/is.cc
  iq/16/palindrome/is.go
  iq/16/palindrome/is.h
  iq/16/palindrome/is_example_test.go
  iq/16/palindrome/is_test.cc
  iq/16/palindrome/is_test.go
  iq/16/palindrome/solution.md
  iq/list/singly/palindrome/README.md
  iq/list/singly/palindrome/is.h
  iq/list/singly/palindrome/solution.md
Due: clang-format

Move flatten a singly linked list to iq/17
  iq/17/flatten/BUILD
  iq/17/flatten/README.md
  iq/17/flatten/do.cc
  iq/17/flatten/do.go
  iq/17/flatten/do.h
  iq/17/flatten/do_example_test.go
  iq/17/flatten/do_test.cc
  iq/17/flatten/do_test.go
  iq/17/flatten/solution.md
  iq/list/singly/flatten/README.md
  iq/list/singly/flatten/solution.md
Due: clang-format

Move cycle detector in a singly linked list to iq/18
  iq/18/cycle/BUILD
  iq/18/cycle/README.md
  iq/18/cycle/doc/cycle.md
  iq/18/cycle/doc/cycle_solution.md
  iq/18/cycle/doc/happy_number.md
  iq/18/cycle/doc/happy_number_solution.md
  iq/18/cycle/is.cc
  iq/18/cycle/is.go
  iq/18/cycle/is.h
  iq/18/cycle/is_example_test.go
  iq/18/cycle/is_happy_number.cc
  iq/18/cycle/is_happy_number.go
  iq/18/cycle/is_happy_number.h
  iq/18/cycle/is_happy_number_example_test.go
  iq/18/cycle/is_happy_number_test.cc
  iq/18/cycle/is_happy_number_test.go
  iq/18/cycle/is_test.cc
  iq/18/cycle/is_test.go
  iq/list/singly/cycle/README.md
  iq/list/singly/cycle/doc/cycle.md
  iq/list/singly/cycle/doc/cycle_solution.md
  iq/list/singly/cycle/doc/happy_number_solution.md
  iq/list/singly/cycle/is.h
  iq/list/singly/cycle/is_happy_number.h
Due: clang-format

Move midpoint of a singly linked list to iq/19
  iq/19/midpoint/BUILD
  iq/19/midpoint/README.md
  iq/19/midpoint/find.cc
  iq/19/midpoint/find.go
  iq/19/midpoint/find.h
  iq/19/midpoint/find_example_test.go
  iq/19/midpoint/find_test.cc
  iq/19/midpoint/find_test.go
  iq/19/midpoint/solution.md
  iq/list/singly/midpoint/README.md
  iq/list/singly/midpoint/find.h
  iq/list/singly/midpoint/solution.md
Due: clang-format

Move is happy number to iq/20
  iq/18/cycle/BUILD
  iq/18/cycle/README.md
  iq/18/cycle/doc/cycle.md
  iq/18/cycle/is_happy_number.h
  iq/18/cycle/solution.md
  iq/20/number/BUILD
  iq/20/number/README.md
  iq/20/number/is_happy_number.cc
  iq/20/number/is_happy_number.go
  iq/20/number/is_happy_number.h
  iq/20/number/is_happy_number_example_test.go
  iq/20/number/is_happy_number_test.cc
  iq/20/number/is_happy_number_test.go
  iq/20/number/solution.md
Due: clang-format

Move two sum with hash map to iq/7
  iq/7/twosum/BUILD
  iq/7/twosum/README.md
  iq/7/twosum/find.cc
  iq/7/twosum/find.h
  iq/7/twosum/find_test.cc
  iq/7/twosum/solution.go
  iq/7/twosum/solution.md
  iq/7/twosum/solution_example_test.go
  iq/7/twosum/solution_test.go
  iq/mapset/twosum/README.md
  iq/mapset/twosum/solution.md
Due: clang-format

Move validate sudoku board to iq/8
  iq/8/sudoku/README.md
  iq/8/sudoku/solution.go
  iq/8/sudoku/solution.md
  iq/8/sudoku/solution_example_test.go
  iq/8/sudoku/solution_test.go
  iq/mapset/sudoku/README.md
Due: none

Move stripzeros to iq/9
  iq/9/stripzero/BUILD
  iq/9/stripzero/README.md
  iq/9/stripzero/clean.cc
  iq/9/stripzero/clean.go
  iq/9/stripzero/clean.h
  iq/9/stripzero/clean_example_test.go
  iq/9/stripzero/clean_optimal.go
  iq/9/stripzero/clean_optimal_test.go
  iq/9/stripzero/clean_test.cc
  iq/9/stripzero/clean_test.go
  iq/9/stripzero/solution.md
  iq/mapset/stripzero/README.md
  iq/mapset/stripzero/clean.h
  iq/mapset/stripzero/solution.md
Due: clang-format

Move triplets of geom sequences to iq/11
  iq/11/geomseq/BUILD
  iq/11/geomseq/README.md
  iq/11/geomseq/find.cc
  iq/11/geomseq/find.go
  iq/11/geomseq/find.h
  iq/11/geomseq/find_example_test.go
  iq/11/geomseq/find_test.cc
  iq/11/geomseq/find_test.go
  iq/11/geomseq/solution.md
  iq/mapset/geomseq/README.md
  iq/mapset/geomseq/solution.md
Due: clang-format

Move longest chain to iq/10
  iq/10/chain/BUILD
  iq/10/chain/README.md
  iq/10/chain/find.cc
  iq/10/chain/find.go
  iq/10/chain/find.h
  iq/10/chain/find_example_test.go
  iq/10/chain/find_test.cc
  iq/10/chain/find_test.go
  iq/10/chain/solution.md
  iq/mapset/chain/README.md
  iq/mapset/chain/find.h
  iq/mapset/chain/solution.md
Due: clang-format

Consolidate iq/1 documentation and solution
  iq/1/README.md
  iq/1/twosum/README.md
  iq/1/twosum/solution.md
Due: none

Consolidate solution into a readme in iq/10
  iq/10/README.md
  iq/10/chain/README.md
  iq/10/chain/solution.md
Due: none

Remove .sh extension for executable scripts
  go_install
  refresh_commands
Due: none

Sort colors by scope in lab colorscheme
  vim/colors/lab.vim
Due: none

Add lint-todo binary
  check/cmd/lint-todo/main.go
  check/todo/run.go
  check/todo/run_test.go
Due: none

Include check/ in Go CI
  .github/workflows/go.yml
Due: yaml-format

Include lint-todo in pre-commit checks
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: yaml-format

Add stringer to go/bin
  home/go/bin/packages.txt
Due: none

Implement gotest pre-commit check
  check/cmd/gotest/internal/test/action_string.go
  check/cmd/gotest/internal/test/doc.go
  check/cmd/gotest/internal/test/event.go
  check/cmd/gotest/internal/test/event_test.go
  check/cmd/gotest/internal/test/filter.go
  check/cmd/gotest/internal/test/filter_test.go
  check/cmd/gotest/internal/test/run.go
  check/cmd/gotest/internal/test/run_test.go
  check/cmd/gotest/internal/test/tester.go
  check/cmd/gotest/internal/test/tester_test.go
  check/cmd/gotest/main.go
Due: none

Include gotest in pre-commit checks.
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: yaml-format

Add ./ to packages in gotest
  check/cmd/gotest/internal/test/run.go
Due: none

Eliminate visitFailedTest from gotest
  check/cmd/gotest/internal/test/tester.go
Due: none

lint-todo: add disable comment
  check/cmd/lint-todo/internal/todo/run.go
  check/cmd/lint-todo/internal/todo/run_test.go
  check/cmd/lint-todo/main.go
Due: none

Add example to decode json of different types from the stream in go
  x/go/json/doc.go
  x/go/json/example_test.go
Due: none

Implement lint-nosubmit pre-commit check
  check/cmd/lint-nosubmit/internal/nosubmit/run.go
  check/cmd/lint-nosubmit/internal/nosubmit/run_test.go
  check/cmd/lint-nosubmit/main.go
Due: none

Include lint-nosubmit in pre-commit
  .pre-commit-config.yaml
  home/go/bin/packages.txt
Due: yaml-format

Enable all vim-lsp key mappings
  home/vimrc
Due: none

Demo a required flag in go
  x/go/flags/required.go
  x/go/flags/required_test.go
Due: none

Use BSD-style liences header in skeleton files
  home/vim/templates/skel.cc
  home/vim/templates/skel.go
  home/vim/templates/skel.h
  home/vim/templates/skel.make
  home/vim/templates/skel.proto
  home/vim/templates/skel.txtpb
  home/vim/templates/skel.vim
  home/vim/templates/skel_example_test.go
  home/vim/templates/skel_test.cc
  home/vim/templates/skel_test.go
Due: clang-format

Add nerdtree vim plugin
  home/vim/pack/plugins.txt
  home/vimrc
  vim/plugin/nerdtree.vim
Due: none

Reveal file in NERDTree when toggle
  home/vimrc
  vim/autoload/lab/Makefile
  vim/autoload/lab/nerdtree.vim
  vim/plugin/lab_nerdtree.vim
Due: none

Remove unused isNERDTreeOpen from lab/nerdtree.vim
  vim/autoload/lab/nerdtree.vim
Due: none

Add iq/cmd/iq to installable Go binaries
  home/go/bin/packages.txt
Due: none

Include book/ in CI
  .github/workflows/go.yml
Due: yaml-format

Add unordered array priority queue in go
  book/algorithms/README.md
  book/algorithms/c2/s4/queue/priority_queue_test.go
  book/algorithms/c2/s4/queue/unordered_array_pq.go
Due: none

Add ZFS dataset creation instructions for FreeBSD jail
  cluster/doc/jail/template_freebsd.md
Due: none

Fix timezone setup command in template_freebsd.md
  cluster/doc/jail/template_freebsd.md
Due: none

Skip setting path in tcsh if in TMUX session
  home/tcshrc
Due: none

Add formatter key binding for markdown in vim
  home/vimrc
Due: none
