Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

ostep: add shortest time to complete first scheduler policy
  book/ostep/cpu/cmd/scheduler/README.md
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/policy_string.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, markdown-format, typos

ostep: clarify scheduler preemptiveness considition
  book/ostep/cpu/cmd/scheduler/README.md
Due: check-license, check-todo, markdown-format, typos

ostep: move job status updates to simulator from scheduler
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: add consolidated tracing to the scheduler
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: fix complete time of the job
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: add shortest time to complete first policy to flag help
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: introduce job state
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: consolidate job complete into job run
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: pass args to the command Run in scheduler
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: prevent job stats in the scheduler if job was not initiailzed
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: move scheduler policies into a package
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/internal/scheduler/doc.go
  book/ostep/cpu/cmd/scheduler/internal/scheduler/policy_string.go
  book/ostep/cpu/cmd/scheduler/internal/scheduler/scheduler.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/policy_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: move scheduler cycler to package
  book/ostep/cpu/cmd/scheduler/internal/scheduler/cycler.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: introduce a scheduler tracer
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: put job and simulator into own packages
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/internal/job/doc.go
  book/ostep/cpu/cmd/scheduler/internal/job/job.go
  book/ostep/cpu/cmd/scheduler/internal/job/spec.go
  book/ostep/cpu/cmd/scheduler/internal/sim/doc.go
  book/ostep/cpu/cmd/scheduler/internal/sim/simulator.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep: randomize job duration outside of simulator
  book/ostep/cpu/cmd/scheduler/internal/sim/simulator.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: remove jobs from the report data
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add job nested template
  book/ostep/cpu/cmd/scheduler/report.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: add dog.go template
  home/nvim/lua/config/lab-skeleton.lua
  nvim/plugin/lab-skeleton/share/new_doc.go
Due: check-license, check-todo, typos

nvim: <localleader>rd switches to doc.go
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: offer select menu to choose source or test from doc.go
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

ostep/cpu/sched: move tracer into own package
  book/ostep/cpu/cmd/scheduler/internal/trace/doc.go
  book/ostep/cpu/cmd/scheduler/internal/trace/tracer.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: move report into a package
  book/ostep/cpu/cmd/scheduler/internal/report/doc.go
  book/ostep/cpu/cmd/scheduler/internal/report/report.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: select related source for source files
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

ostep/cpu/sched: move report into an embedded .txt file
  book/ostep/cpu/cmd/scheduler/internal/report/report.go
  book/ostep/cpu/cmd/scheduler/internal/report/txt/report.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

check-godoc: skip documentation check for not exported variables
  check/cmd/check-godoc/internal/check/check.go
  check/cmd/check-godoc/internal/check/check_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add id to the job spec
  book/ostep/cpu/cmd/scheduler/internal/job/spec.go
  book/ostep/cpu/cmd/scheduler/internal/report/report.go
  book/ostep/cpu/cmd/scheduler/internal/report/txt/report.txt
  book/ostep/cpu/cmd/scheduler/internal/sim/simulator.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

nvim: exclude current file from the sources selection
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

nvim: shorten related file selection menu
  home/nvim/after/ftplugin/go.lua
Due: check-license, check-todo, typos

ostep/cpu/sched: rework job data model
  book/ostep/cpu/cmd/scheduler/internal/job/completed.go
  book/ostep/cpu/cmd/scheduler/internal/job/job.go
  book/ostep/cpu/cmd/scheduler/internal/job/live.go
  book/ostep/cpu/cmd/scheduler/internal/job/spec.go
  book/ostep/cpu/cmd/scheduler/internal/report/report.go
  book/ostep/cpu/cmd/scheduler/internal/report/txt/report.txt
  book/ostep/cpu/cmd/scheduler/internal/scheduler/scheduler.go
  book/ostep/cpu/cmd/scheduler/internal/sim/simulator.go
  book/ostep/cpu/cmd/scheduler/internal/trace/tracer.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: unexport command fields
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: convert job spec to job outside main command
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: report does not depend on scheduler
  book/ostep/cpu/cmd/scheduler/internal/report/report.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: remove scheduler factory
  book/ostep/cpu/cmd/scheduler/internal/scheduler/scheduler.go
  book/ostep/cpu/cmd/scheduler/main.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: remove policy from scheduler package
  book/ostep/cpu/cmd/scheduler/flag.go
  book/ostep/cpu/cmd/scheduler/internal/scheduler/scheduler.go
  book/ostep/cpu/cmd/scheduler/main.go
  book/ostep/cpu/cmd/scheduler/policy.go
  book/ostep/cpu/cmd/scheduler/policy_string.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add report tests
  book/ostep/cpu/cmd/scheduler/internal/report/report_test.go
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/one_job_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/two_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/two_jobs_one_arrives_late.txt
  book/ostep/cpu/cmd/scheduler/internal/sim/simulator.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add scheduler examples from book to tests
  book/ostep/cpu/cmd/scheduler/internal/report/report_test.go
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/canon_three_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/canon_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/canon_three_skewed_jobs_arrive_immediately.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/canon_three_skewed_jobs_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/canon_three_skewed_jobs_arrive_late.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: empty report on no jobs
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/no_jobs.txt
  book/ostep/cpu/cmd/scheduler/internal/report/txt/report.txt
Due: check-license, check-todo, typos

ostep/cpu/sched: fix cycle in the tracer
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/fifo/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/sjf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/one_job_arrive_late.txt
  book/ostep/cpu/cmd/scheduler/internal/trace/tracer.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: add canon test for stcf with three jobs arrive at T0
  book/ostep/cpu/cmd/scheduler/internal/report/report_test.go
  book/ostep/cpu/cmd/scheduler/internal/report/testdata/stcf/canon_three_jobs_arrive_immediately.txt
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ostep/cpu/sched: rename schedState to state
  book/ostep/cpu/cmd/scheduler/internal/scheduler/scheduler.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos
