Repository skhal/lab: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-go-test, check-godoc, check-license, check-todo, clang-format, clang-tidy, goimports, html-format, markdown-format, proto-doc, proto-format, proto-nextid, typos, yaml-format

Path conditions:
  check-go-test: any of: \.go$, but not: nvim/plugin/lab-skeleton/share/new.*$
  check-godoc: any of: \.go$, but not: (?x)^(
  .*/testdata/.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-license: any of: not (\.json$), but not: (?x)^(
  .*/MODULE\.bazel\.lock
  |.*/go\.(mod|sum)
  |.*/(test)?data/.*
  |.*_string\.go
  |.*\.pb\.go
  |.*\.diff
  |.*\.patch
  |home/vim/templates/skel.*
  |nvim/plugin/lab-skeleton/share/new.*
)$

  check-todo: any file but: (?x)^(
  .*\.diff
  |.*\.patch
)$

  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  clang-tidy: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$, \.(c|h)$, but not: ^nvim/plugin/lab-skeleton/share/
  goimports: any of: \.go$, but not: (?x)^(
  .*\.pb\.go
  |nvim/plugin/lab-skeleton/share/new.*
)$

  html-format: any of: \.(html|htm|xhtml)$, \.json$
  markdown-format: any of: \.(md|markdown|mdown)$
  proto-doc: any of: \.proto$
  proto-format: any of: \.proto$
  proto-nextid: any of: \.proto$
  typos: any file but: (?x)^(
  .*\.diff
  |infra/net\.lab.*\.conf
)$

  yaml-format: any of: \.(yaml|yml)$

roles/local_pkg: pkg caching server uses TLS
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/bind/files/usr/local/etc/namedb/primary/lab.net/lab.net.db
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-base.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-kmods.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/freebsd-ports.conf.j2
Due: check-license, check-todo, typos, yaml-format

infra: add script to migrate repo of installed packages
  infra/cmd/pkg-mv-repo.sh
Due: check-license, check-todo, typos

roles/poudriere: install poudriere in pkg jail
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/poudriere/files/usr/local/etc/poudriere.conf.diff
  infra/ansible/roles/poudriere/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/openssl_gen: add task to generate RSA keys
  infra/ansible/roles/openssl_gen/defaults/main.yml
  infra/ansible/roles/openssl_gen/tasks/rsa.yml
Due: check-license, check-todo, typos, yaml-format

roles/poudriere: generate RSA keys to sign packages
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/roles/poudriere/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/poudriere: set signing key in poudriere config
  infra/ansible/roles/poudriere/files/usr/local/etc/poudriere.conf.diff
  infra/ansible/roles/poudriere/tasks/main.yml
  infra/ansible/roles/poudriere/templates/usr/local/etc/poudriere.conf.j2
Due: check-license, check-todo, typos, yaml-format

infra: run poudriere(8) inside the pkg jail
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/jail/defaults/main.yml
  infra/ansible/roles/jail/templates/etc/jail.conf.d/jail.conf
  infra/ansible/roles/linux/handlers/main.yml
  infra/ansible/roles/linux/tasks/main.yml
  infra/ansible/roles/poudriere/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

roles/local_pkg: serve local pkg generated with poudriere
  infra/ansible/inventory/host_vars/bsd.lab.net.yml
  infra/ansible/inventory/host_vars/pkg.lab.net.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/roles/local_pkg/tasks/configure_repos.yml
  infra/ansible/roles/local_pkg/templates/usr/local/etc/nginx/nginx.conf.j2
  infra/ansible/roles/local_pkg/templates/usr/local/etc/pkg/repos/lab-ports.conf.j2
  infra/ansible/roles/openssl_gen/defaults/main.yml
  infra/ansible/roles/openssl_gen/tasks/rsa_fetch.yml
Due: check-license, check-todo, typos, yaml-format

infra: certval validates certificate NotAfter date
  infra/cmd/certval/config.go
  infra/cmd/certval/config_test.go
  infra/cmd/certval/flag.go
  infra/cmd/certval/flag_test.go
  infra/cmd/certval/main.go
  infra/cmd/certval/pb/config.pb.go
  infra/cmd/certval/pb/config.proto
  infra/cmd/certval/pb/gen.go
  infra/cmd/certval/slack_notifier.go
  infra/cmd/certval/slack_notifier_test.go
  infra/cmd/certval/testdata/invalid_config.txtpb
  infra/cmd/certval/testdata/valid_config.txtpb
  infra/cmd/certval/validator.go
  infra/cmd/certval/validator_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

ports: create a port for certificate validator
  ports/sysutils/certval/Makefile
  ports/sysutils/certval/distinfo
  ports/sysutils/certval/files/modules.txt
  ports/sysutils/certval/pkg-descr
  ports/sysutils/certval/pkg-plist
Due: check-license, check-todo, typos

ports: add instruction on how to build ports
  README.md
  ports/README.md
Due: check-license, check-todo, markdown-format, typos

git: ignore Go vendor/ folder
  .gitignore
Due: check-license, check-todo, typos

ports: document how to add modules.txt to a Go port
  ports/README.md
Due: check-license, check-todo, markdown-format, typos

ports: add protobuf port with 2024 edition support
  ports/devel/protobuf/Makefile
  ports/devel/protobuf/README.md
  ports/devel/protobuf/distinfo
  ports/devel/protobuf/pkg-descr
  ports/devel/protobuf/pkg-plist
Due: check-license, check-todo, markdown-format, typos

infra: add certval configuration sample
  infra/cmd/certval/config.txtpb
Due: check-license, check-todo, typos

infra: configure doas(1) via Ansible role
  infra/ansible/inventory/group_vars/all.yml
  infra/ansible/inventory/host_vars/bsd.lab.net.yml
  infra/ansible/nuc.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/roles/doas/defaults/main.yml
  infra/ansible/roles/doas/tasks/main.yml
  infra/ansible/roles/doas/templates/usr/local/etc/doas.conf.j2
Due: check-license, check-todo, typos, yaml-format

roles/doas: add doas module to PAM
  infra/ansible/inventory/host_vars/bsd.lab.net.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/roles/doas/files/usr/local/etc/pam.d/doas
  infra/ansible/roles/doas/tasks/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: allow skhalatyan to run make makesum to generate port's distinfo
  infra/ansible/inventory/host_vars/bsd.lab.net.yml
Due: check-license, check-todo, typos, yaml-format

infra: add certificate validator sample config
  ports/sysutils/certval/Makefile
  ports/sysutils/certval/distinfo
  ports/sysutils/certval/pkg-plist
Due: check-license, check-todo, typos

roles/certval: install and configure certificate validator
  infra/ansible/inventory/host_vars/dns.lab.net.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/roles/certval/defaults/main.yml
  infra/ansible/roles/certval/tasks/main.yml
  infra/ansible/roles/certval/templates/usr/local/etc/certval.txtpb.j2
  infra/ansible/roles/certval/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: install and configure LDAP certificate validation
  infra/ansible/inventory/host_vars/ldap.lab.net/main.yml
  infra/ansible/playbooks/jail_ldap.yml
Due: check-license, check-todo, typos, yaml-format

infra: validate local CA certificate
  infra/ansible/inventory/host_vars/ssl.lab.net.yml
  infra/ansible/playbooks/jail_ssl.yml
Due: check-license, check-todo, typos, yaml-format

git: ignore poudriere work folders
  .gitignore
Due: check-license, check-todo, typos

infra/certval: send notifications to Discord
  infra/cmd/certval/config.txtpb
  infra/cmd/certval/discord_notifier.go
  infra/cmd/certval/discord_notifier_test.go
  infra/cmd/certval/dispatcher.go
  infra/cmd/certval/dispatcher_test.go
  infra/cmd/certval/main.go
  infra/cmd/certval/pb/config.pb.go
  infra/cmd/certval/pb/config.proto
  infra/cmd/certval/slack_notifier.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, proto-doc, proto-format, proto-nextid, typos

infra/certval: rename error to notify method in notifier
  infra/cmd/certval/discord_notifier.go
  infra/cmd/certval/discord_notifier_test.go
  infra/cmd/certval/dispatcher.go
  infra/cmd/certval/dispatcher_test.go
  infra/cmd/certval/slack_notifier.go
  infra/cmd/certval/slack_notifier_test.go
  infra/cmd/certval/validator.go
  infra/cmd/certval/validator_test.go
Due: check-go-test, check-godoc, check-license, check-todo, goimports, typos

ports/certval: release certval with Discord support
  ports/sysutils/certval/Makefile
  ports/sysutils/certval/distinfo
Due: check-license, check-todo, typos

infra: add Discord webhook to certval configurations
  infra/ansible/roles/certval/defaults/main.yml
  infra/ansible/roles/certval/templates/usr/local/etc/certval.txtpb.j2
  infra/ansible/roles/certval/vars/main.yml
Due: check-license, check-todo, typos, yaml-format

infra: merge nuc_bootstrap into nuc playbook
  infra/ansible/nuc.yml
  infra/ansible/nuc_bootstrap.yml
Due: check-license, check-todo, typos, yaml-format

infra: create a play to bootstrap nuc and master lab play
  infra/ansible/nuc.yml
  infra/ansible/playbooks/bootstrap-nuc.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: add create-jails playbook.
  infra/ansible/inventory/host_vars/nuc.lab.net.yml
  infra/ansible/nuc_jails.yml
  infra/ansible/playbooks/create-jails.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: introduce bootstrap-jails playbook
  infra/ansible/playbooks/bootstrap-jails.yml
  infra/ansible/playbooks/bootstrap-nuc.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: add a playbook to create a central authority
  infra/ansible/playbooks/create-ca.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: create a playbook to configure DNS servers
  infra/ansible/nuc.yml
  infra/ansible/playbooks/configure-dns.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: remove nuc_jails.yml playbook
  infra/ansible/nuc_jails.yml
Due: check-license, check-todo, typos, yaml-format

infra: setup-pkg.yml playbook configures a caching PKG server
  infra/ansible/nuc.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_dns.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/jail_ssl.yml
  infra/ansible/playbooks/setup-pkg.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: configure OpenLDAP server in a playbook
  infra/ansible/playbooks/configure-ldap.yml
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_ldap.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: add a playbook to setup poudriere
  infra/ansible/playbooks/jail_bsd.yml
  infra/ansible/playbooks/jail_pkg.yml
  infra/ansible/playbooks/setup-pkg-builder.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: update doc for pkg builder playbook
  infra/ansible/playbooks/setup-pkg-builder.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format

infra: update doc in playbooks
  infra/ansible/playbooks/bootstrap-nuc.yml
  infra/ansible/playbooks/create-jails.yml
Due: check-license, check-todo, typos, yaml-format

infra: add -K flag to playbooks run instructions
  infra/ansible/playbooks/bootstrap-nuc.yml
  infra/ansible/setup-lab.yml
Due: check-license, check-todo, typos, yaml-format
